{% extends 'base.html.twig' %}

{% block title %}AddCollTransac index{% endblock %}

{% block body %}
    <h1>AddCollTransac index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PourcentComm</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for add_coll_transac in add_coll_transacs %}
            <tr>
                <td>{{ add_coll_transac.id }}</td>
                <td>{{ add_coll_transac.pourcentComm }}</td>
                <td>
                    <a href="{{ path('app_gestapp_transaction_add_coll_transac_show', {'id': add_coll_transac.id}) }}">show</a>
                    <a href="{{ path('app_gestapp_transaction_add_coll_transac_edit', {'id': add_coll_transac.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gestapp_transaction_add_coll_transac_new') }}">Create new</a>
{% endblock %}
