<div class="row">
    {% for article in articles %}
        <div class="col-xs-12 col-md-6 d-lg-none">
            {% if article.articleFrontName is null %}
            {% else %}
            <div class="card">
                <img class="card-img-top" src="{{ vich_uploader_asset(article)|imagine_filter('card_actualites') }}" alt="{{ article.name }}">
                <div class="border_actu"></div>
                <div class="actu_overlay">
                    <div class="d-flex justify-content-center align-items-center">
                        <a class="btn btn-sm btn-outline-info" href="{{ path('op_webapp_articles_show', {'id':article.id}) }}">Lire l'article</a>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title"><a href="{{ path('op_webapp_articles_show', {'id':article.id}) }}">{{ article.name }}</a></h3>
                    <article>
                        {{ article.content|u.truncate(150, ' ...')|raw }}
                    </article>
                    {% if article.isShowreadmore == 1 %}
                    <a href="{{ article.linkText }}" class="card-link">Source: {{ article.linkText }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block">
            {% if article.articleFrontName is null %}
            {% else %}
                <div class="card">
                    <img class="card-img-top" src="{{ vich_uploader_asset(article)|imagine_filter('card_actualites') }}" alt="{{ article.name }}">
                    <div class="border_actu"></div>
                    <div class="actu_overlay">
                        <div class="d-flex justify-content-center align-items-center">
                            <a class="btn btn-sm btn-outline-info" href="{{ path('op_webapp_articles_show', {'id':article.id}) }}">Lire l'article</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="card mt-1">
                <div class="card-body">
                    <h3 class="card-title"><a href="{{ path('op_webapp_articles_show', {'id':article.id}) }}">{{ article.name }}</a></h3>
                    <article>
                        {{ article.content|u.truncate(150, ' ...')|raw }}
                    </article>
                    {% if article.isShowreadmore == 1 %}
                        <a href="{{ article.linkText }}" class="card-link">Source: {{ article.linkText }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>