
{{ form_start(form, {'attr': {'id': 'FormEditCustomer'}}) }}
<table class="table table-borderless">
    <thead>
        <tr>
            <td class="col-1"></td>
            <td class="col-1"></td>
            <td class="col-1"></td>
            <td class="col-1"></td>
            <td class="col-1"></td>
            <td class="col-1"></td>
            <td class="col-1"></td>
            <td class="col-1"></td>
            <td class="col-1"></td>
            <td class="col-1"></td>
            <td class="col-1"></td>
            <td class="col-1"></td>
        </tr>
    </thead>
    <tbody>
    <tr class="align-middle">
        <td class="table-light" colspan="12"><h6 style="text-transform: uppercase;">Informations du client</h6></td>
    </tr>
    <tr class="align-middle">
        {# Ligne du Nom et prénom du client #}
        <td class="table-light" colspan="3">{{ form_label(form.firstName, '', {'label_attr': {'class':'form-label'}}) }}</td>
        <td  colspan="3">{{ form_widget(form.firstName, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Prénom ...'}}) }}</td>
        <td  colspan="3">{{ form_widget(form.lastName, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Nom ...'}}) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="align-middle">
        {# Ligne de la date de naissance #}
        <td class="table-light" colspan="3">{{ form_label(form.ddn, '', {'label_attr': {'class':'form-label'}}) }}</td>
        <td colspan="2">{{ form_widget(form.ddn, {'attr': {'class': 'form-control form-control-sm flatpickr', 'placeholder':'_ _ / _ _ / _ _ _ _'}}) }}</td>
        <td colspan="4">{{ form_widget(form.ddnIn, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Lieu ...'}}) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="align-middle">
        {# Ligne du adresse #}
        <td class="table-light" colspan="3">{{ form_label(form.adress, '', {'label_attr': {'class':'form-label'}}) }}</td>
        <td colspan="6">{{ form_widget(form.adress, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Rue, voie, ...'}}) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="align-middle">
        {# Ligne du adresse 2 #}
        <td class="table-light" colspan="3">{{ form_label(form.complement, '', {'label_attr': {'class':'form-label'}}) }}</td>
        <td colspan="6">{{ form_widget(form.complement, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'...'}}) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="align-middle">
        {# Ligne du adresse #}
        <td class="table-light" colspan="3">{{ form_label(form.zipcode, '', {'label_attr': {'class':'form-label'}}) }}</td>
        <td colspan="2">{{ form_widget(form.zipcode, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Rue, voie, ...'}}) }}</td>
        <td colspan="4">
            {{ form_widget(form.city, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Commune'}}) }}
            <select id="selectcity" class="form-select form-select-sm">
                <option>{{ form.zipcode.vars.data }} - {{ form.city.vars.data }}</option>
            </select>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="align-middle">
        <td class="table-light" colspan="12"><h6 style="text-transform: uppercase;">Coordonnées </h6></td>
    </tr>
    <tr class="align-middle">
        {# Numéro Domicile #}
        <td class="table-light" colspan="3">{{ form_label(form.home, '', {'label_attr': {'class':'form-label'}}) }}</td>
        <td colspan="3">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-phone-plus"></i></span>
                {{ form_widget(form.home, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Domicile ...'}}) }}
            </div>
        </td>
        <td colspan="3">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-mobile"></i></span>
                {{ form_widget(form.gsm, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Portable ...'}}) }}
            </div>
        </td>
        <td colspan="3">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-phone-office"></i></span>
                {{ form_widget(form.desk, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Bureau ...'}}) }}
            </div>
        </td>
    </tr>
    <tr class="align-middle">
        {# Ligne du mail #}
        <td class="table-light" colspan="3">{{ form_label(form.otherEmail, '', {'label_attr': {'class':'form-label'}}) }}</td>
        <td colspan="6">{{ form_widget(form.otherEmail, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Email ...'}}) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="align-middle">
        <td colspan="12"><h6 style="text-transform: uppercase;">Liens Réseaux sociaux</h6></td>
    </tr>
    <tr>
        <td colspan="4">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="fa-brands fa-facebook"></i></span>
                {{ form_widget(form.facebook, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
        </td>
        <td colspan="4">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="fa-brands fa-facebook"></i></span>
                {{ form_widget(form.instagram, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
        </td>
        <td colspan="4">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="fa-brands fa-linkedin"></i></span>
                {{ form_widget(form.linkedin, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
        </td>
    </tr>
    <tr class="align-middle">
        <td class="table-light" colspan="12"><h6 style="text-transform: uppercase;">Autres</h6></td>
    </tr>
    <tr class="align-middle">
        {# Ligne du Type de client #}
        <td class="table-light" colspan="3">{{ form_label(form.customerChoice, '', {'label_attr': {'class':'form-label'}}) }}</td>
        <td colspan="3">{{ form_widget(form.customerChoice, {'attr': {'class': 'form-select form-select-sm'}}) }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="align-middle">
        {# Ligne du Type de client #}
        <td class="table-light" colspan="3">{{ form_label(form.isArchived, '', {'label_attr': {'class':'form-label'}}) }}</td>
        <td colspan="3">
                {{ form_widget(form.isArchived, {'attr': {'class': 'form-check-input'}}) }}
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
<div class="mt-3">
    <a class="btn btn-sm btn-outline-dark" href="{{ path('op_gestapp_customer_index') }}">
        <i class="fa-solid fa-backward-step"></i> Retour à la liste de clients
    </a>
    <button type="submit" id="btnAddCustomer" class="btn btn-sm btn-outline-primary">{{ button_label|default("Créer la fiche") }}</button>
</div>
{{ form_end(form) }}