{{ form_start(form, {'attr': {'id': 'FormEditCustomer'}}) }}

<div class="row g-2">
    <div class="col-8">
        <h4>Informations générales</h4>
        <hr class="mt-2 mb-2">
        <div class="row align-items-center g-1 mb-1">
            <div class="col-3">
                {{ form_label(form.typeClient, '', {'label_attr': {'class':'form-label'}}) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.typeClient, {'attr': {'class': 'form-select form-select-sm'}}) }}
            </div>
        </div>
        <div class="row align-items-center g-1 mb-1">
            <div class="col-3">
                {{ form_label(form.civility, '', {'label_attr': {'class':'form-label'}}) }}
            </div>
            <div class="col-3">
                {% for label, value, choice in field_choices(form.civility) %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="{{ field_name(form.civility) }}" id="inlineRadio1" value="{{ value }}" {% if value is same as customer.civility %}checked="checked"{% endif %}>
                        <label class="form-check-label" for="inlineRadio1">{{ label }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row align-items-center g-1 mb-1">
            <div class="col-3">
                {{ form_label(form.firstName, '', {'label_attr': {'class':'form-label'}}) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.firstName, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Nom complet ...'}}) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.lastName, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Nom complet ...'}}) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.maidenName, {'attr': {'class': 'form-control form-control-sm d-none', 'placeholder':'Nom de jeune fille ...'}}) }}
            </div>
        </div>
        <div id="rowStructure" class="row align-items-center g-1 mb-1 d-none animate__animated">
            <div class="col-3">
                {{ form_label(form.nameStructure, '', {'label_attr': {'class':'form-label'}}) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.nameStructure, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Nom de la structure ...'}}) }}
            </div>
        </div>
        <hr class="mt-2 mb-2">
        <div class="row align-items-center g-1 mb-1">
            <div class="col-3">
                {{ form_label(form.ddn, '', {'label_attr': {'class':'form-label'}}) }}
            </div>
            <div class="col-2">
                {{ form_widget(form.ddn, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Date ...'}}) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.ddnIn, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Lieu ...'}}) }}
            </div>
        </div>
        <hr class="mt-2 mb-2">
        <div class="row align-items-center g-1 mb-1">
            <div class="col-3">
                {{ form_label(form.adress, '', {'label_attr': {'class':'form-label'}}) }}
            </div>
            <div class="col-6">
                {{ form_widget(form.adress, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Adresse ...'}}) }}
            </div>
            <div class="w-100"></div>
            <div class="offset-3 col-6 mt-0">
                {{ form_widget(form.complement, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'complément ...'}}) }}
            </div>
            <div class="w-100"></div>
            <div class="offset-3 col-2 mt-0">
                {{ form_widget(form.zipcode, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Ville/Commune ...'}}) }}

            </div>
            <div class="col-4 mt-0">
                {{ form_widget(form.city, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Commune'}}) }}
                <select id="selectcity" class="form-select form-select-sm">
                    <option>{{ form.zipcode.vars.data }} - {{ form.city.vars.data }}</option>
                </select>
            </div>
        </div>
        <hr class="mt-2 mb-2">
        <div class="row align-items-center g-1 mb-1">
            <div class="col-3">
                Contacts
            </div>
            <div class="col-3">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-phone-plus"></i></span>
                    {{ form_widget(form.home, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Domicile ...'}}) }}
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-mobile"></i></span>
                    {{ form_widget(form.gsm, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Portable ...'}}) }}
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-phone-office"></i></span>
                    {{ form_widget(form.desk, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Bureau ...'}}) }}
                </div>
            </div>
        </div>
        <div class="row align-items-center g-1 mb-1">
            <div class="col-3">
                {{ form_label(form.otherEmail, '', {'label_attr': {'class':'form-label'}}) }}
            </div>
            <div class="col-6">
                {{ form_widget(form.otherEmail, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Adresse ...'}}) }}
            </div>
        </div>
    </div>
    <div class="col-4">
        <h4>Pièces à fournir</h4>
        <hr class="mt-2 mb-2" >
        <p>Pour la validité du dossier, veuillez fournir les pièces demandées au format <b>JPEG</b> ou <b>PDF</b>.</p>
        <div id="ci" class="row mt-1">
            <div class="col-12">
                Scan de la pièce d'identité
            </div>
            <div class="col-12">
                {{ form_widget(form.cifilename, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
            {% if customer.cifilename is not empty %}
                <div class="col-12 mt-1">
                    <a class="btn btn-sm btn-outline-dark" href="{{ asset('customer/ci/'~customer.cifilename) }}" download>Télécharger la pièce d'identité</a>
                </div>
            {% endif %}
        </div>
        <div id="kbis" class="row mt-1 mb-1 g-1 d-none">
            <div class="col-12">
                Extrait Kbis à fournir
            </div>
            <div class="col-12">
                {{ form_widget(form.kbisfilename, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
            {% if customer.kbisfilename is not empty %}
                <div class="col-12">
                    <a href="{{ asset('customer/ci/' ~ customer.kbisfilename) }}" download>sdfsdfsdfds</a>
                </div>
            {% endif %}
        </div>

    </div>
</div>
{{ form_end(form) }}