{% for customer in customers %}
<div class="col-sm-3">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{% if customer.civility == 2 %}Mme. {% else %}M. {% endif %}{{ customer.firstName }} {{ customer.lastName }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ customer.customerChoice }}</h6>
            <p class="card-text">
                {{ customer.RefCustomer }}<br>
                <i class="fa-duotone fa-location-dot"></i> Adresse : <br>
                {{ customer.adress }}<br>
                {% if customer.complement is not empty %}
                {{ customer.complement }}<br>
                {% endif %}
                {{ customer.zipcode }} {{ customer.city }}
            </p>
            {% if customer.customerChoice == 'Vendeur' %}
            <a id="btnEditCustomer" href="{{ path('op_gestapp_customer_editcustomerjson', {'id':customer.id, 'idproperty': idproperty}) }}" class="btn btn-sm btn-default btnShownCustomer" data-bs-toggle="modal" data-bs-target="#modalCustomer" data-bs-data="EDIT-Modification de la fiche client-{{ customer.id }}"><i class="fa-duotone fa-user-pen"></i> Voir la fiche</a>
            <a href="{{ path('op_gestapp_customer_del_onproperty', {'id':customer.id, 'idproperty': idproperty}) }}" class="btn btn-sm btn-default btnShownCustomer" data-bs-toggle="modal" data-bs-target="#modalCustomer" data-bs-data="DEL-Suppression du propriétaire-{{ customer.id }}"><i class="fa-duotone fa-user-slash"></i> Supprimer la fiche</a>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<div class="col-sm-3">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Nom Prénom</h4>
            <h6 class="card-subtitle mb-2 text-muted">Futur vendeur</h6>
            <p class="card-text">Adresse<br>Complément<br>CP Ville</p>
            <a href="#" class="btn btn-sm btn-default disabled"><i class="fa-duotone fa-id-card-clip fa-2x"></i></a>
            <a href="#" class="btn btn-sm btn-default disabled"><i class="fa-duotone fa-user-xmark fa-2x"></i></a>
        </div>
    </div>
</div>
{% endfor %}
