{% for customer in customers %}
<div class="col-sm-3">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ customer.firstName }} {{ customer.lastName }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">vendeur</h6>
            <p class="card-text">
                {{ customer.RefCustomer }}<br>
                <i class="fa-duotone fa-location-dot"></i> Adresse: <br>
                {{ customer.adress }}<br>
                {% if customer.complement is not empty %}
                {{ customer.complement }}<br>
                {% endif %}
                {{ customer.zipcode }} {{ customer.city }}
            </p>
            <a href="{{ path('op_gestapp_customer_show', {'id': customer.id}) }}" class="card-link"><i class="fa-duotone fa-user-pen"></i> Voir la fiche</a>
            <a href="{{ path('op_gestapp_customer_del_onproperty', {'id':customer.id, 'idproperty': idproperty}) }}" class="card-link supprcustomer"><i class="fa-duotone fa-user-slash"></i> Supprimer la fiche</a>
        </div>
    </div>
</div>
{% else %}
<div class="col-sm-3">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Nom Prénom</h4>
            <h6 class="card-subtitle mb-2 text-muted">Futur vendeur</h6>
            <p class="card-text">Adresse<br>Complément<br>CP Ville</p>
            <a href="#" class="card-link"><i class="fa-duotone fa-user-pen"></i> Voir la fiche</a>
            <a href="#" class="card-link"><i class="fa-duotone fa-user-slash"></i> Supprimer la fiche</a>
        </div>
    </div>
</div>
{% endfor %}
