{% extends 'admin.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block content %}
    <h1>Liste des clients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Référence</th>
                <th>Nom & Prénom</th>
                <th>Adresse</th>
                <th>Archivé</th>
                <th>Fiche crée</th>
                <th>Mise à jour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.RefCustomer }}</td>
                <td><strong>{{ customer.lastName }} {{ customer.firstName }}</strong></td>
                <td>{{ customer.adress }}<br>{{ customer.complement }}<br>{{ customer.zipcode }} {{ customer.city }}</td>

                <td>{{ customer.isArchived ? 'Yes' : 'No' }}</td>
                <td>{{ customer.CreatedAt ? customer.CreatedAt|date('Y-m-d') : '' }}</td>
                <td>{{ customer.updatedAt ? customer.updatedAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('op_gestapp_customer_show', {'id': customer.id}) }}">show</a>
                    <a href="{{ path('op_gestapp_customer_edit', {'id': customer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('op_gestapp_customer_new') }}">Create new</a>
{% endblock %}
