    <table class="table">
        <thead>
            <tr>
                <th>RefCustomer</th>
                <th>Nom & Prénom</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.RefCustomer }}</td>
                <td>{{ customer.firstName }} {{ customer.lastName }}</td>
                <td>
                    {{ customer.adress }}<br>
                    {{ customer.complement }}<br>
                    {{ customer.zipcode }} {{ customer.city }}
                </td>

                <td>{{ customer.city }}</td>
                <td>
                    <a href="{{ path('op_gestapp_customer_show', {'id': customer.id}) }}">show</a>
                    <a href="{{ path('op_gestapp_customer_edit', {'id': customer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

