<div class="row mb-4">
    <div class="row justify-content-center g-2">
        <div class="navigation d-flex justify-content-end">
            {{ knp_pagination_render(properties, 'include/admin/pagination.html.twig') }}
        </div>
        {% for property in properties %}
            <div class="col-12 col-sm-6 col-md-6 col-xl-4 col-xxl-4">
                <div id="member-card" class="card">
                    {{ render(controller('App\\Controller\\Gestapp\\PhotoController::byPropertyPublic', {'idproperty' : property.id })) }}
                    <div class="card-img-overlay">
                        <div class="align-self-center">
                            <a href="{{ path('op_gestapp_properties_oneproperty', {'id': property.id}) }}">{{ property.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-xl-2 col-xxl-2">
                <p>Pas de biens publiés</p>
            </div>
        {% endfor %}
        <div class="navigation d-flex justify-content-end">
            {{ knp_pagination_render(properties, 'include/admin/pagination.html.twig') }}
        </div>
    </div>
</div>