<div class="row">
    <div class="col-12">
        <h3>NOS DERNIERS BIENS</h3>
    </div>
</div>

<div class="row mb-4">

    {% if properties|length <= 2 %}
        <div class="row justify-content-center">
            {% for property in properties %}
                <div class="col-12 col-sm-6 col-md-6 col-xl-4 col-xxl-4">
                    <div id="member-card" class="card">
                        {% if property.imageName is not null %}
                            <img src="{{ vich_uploader_asset(property, 'imageFile', 'App\\Entity\\Gestapp\\Property') }}" class="card-img img-fluid" alt="{{ property.name }}" style="height:305px; object-fit: cover;">
                        {% else %}
                            <img src="{{ asset('images/jpeg/mod_maison.jpg')}}" class="card-img" alt="none-visuel" style="width:194px;height:130px">
                        {% endif %}
                        {# <div class="card-img-overlay">
                            <div class="align-self-center">
                                <a href="{{ path('op_gestapp_properties_oneproperty', {'id': property.id}) }}">{{ property.name }}</a>
                            </div>
                        </div> #}
                    </div>
                </div>
            {% else %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-xl-2 col-xxl-2">
                    <p>Pas de biens publiés</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="flickity-button-white" data-flickity='{"resize":false, "pageDots": false,"cellAlign": "left", "wrapAround": true, "imagesLoaded": true}'>
                {% for property in properties %}
                    <div class="col-12 col-sm-6 col-md-4 col-xl-4 col-xxl-4 px-1">
                        <div id="member-card" class="card">
                            {% if property.imageName is not null %}
                                <img src="{{ vich_uploader_asset(property, 'imageFile', 'App\\Entity\\Gestapp\\Property') }}" class="card-img" alt="{{ property.name }}" style="height:305px; object-fit: cover;">
                            {% else %}
                                <img src="{{ asset('images/jpeg/mod_maison.jpg')}}" class="card-img" alt="none-visuel" style="width:194px;height:130px">
                            {% endif %}
                            <div class="card-img-overlay">
                                <div class="align-self-center">
                                    <a href="{{ path('op_gestapp_properties_oneproperty', {'id': property.id}) }}">{{ property.name }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

</div>
