{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){

            // function d'envoi du formulaire
            function AskProperty(event){
                event.preventDefault()
                const urlAskProperty = this.href
                // Déclaration de la modal
                let AskPropertyModal = document.getElementById('AskPropertyModal')

                // Ouverture de la modal
                let Modal = new bootstrap.Modal(AskPropertyModal, {
                    backdrop:true,
                    focus:true,
                    keyboard:true
                })
                Modal.show()
                console.log("prêt pour executer du code")
            }

            let postAskPropertyInfo = document.getElementById('postAskPropertyInfo')
            postAskPropertyInfo.onclick = function (event) {
                event.preventDefault()
                let formAsk = document.getElementById('FormAskPropertyInfo')
                let urlformAsk = formAsk.action
                let dataformAsk = new FormData(formAsk)
                axios
                    .post(urlformAsk, dataformAsk)
                    .then(function(response){
                        // Mise en place de l'écouteur d'évènement sur le lien de demande d'information sous l'image de premier plan
                        document.querySelectorAll('a.btnAskContactProperty').forEach(function (link) {
                            link.addEventListener('click', AskProperty);
                        })
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            }

            // Mise en place de l'écouteur d'évènement sur le lien de demande d'information sous l'image de premier plan
            document.querySelectorAll('a.btnAskContactProperty').forEach(function (link) {
                link.addEventListener('click', AskProperty);
            })

        }
    </script>
{% endblock %}

{% set piece = '' %}
{% set room = '' %}
{% if property.piece < 2 %}{%set piece = 'pièce'%}{%else%}{%set piece = 'pièces'%}{%endif%}
{% if property.room < 2 %}{%set room = 'chambre'%}{%else%}{%set room = 'chambres'%}{%endif%}

{% block content %}
    <section id="oneproperty_header" class="pt-1 pb-1">
        <div class="container">
            {# bandeau de présentation des informations prioncipales du bien #}
            <div class="row" id="informations">
                <div class="col-3" id="property_surface">
                    <p class="text-end mb-0"><img src="{{ asset('images/png/picto_superfmaison.png')}}" alt="picto_surfacebien"> {{ property.surfaceHome|number_format(0,',',' ')}} m2 surface habitable</p>
                </div>
                <div class="col-3" id="property_pieces">
                    <p class="text-end mb-0"><img src="{{ asset('images/png/picto_nbpiece.png')}}" alt="picto_pieces"> {{property.piece}} {{piece}} | {{ property.room}} {{ room }}</p>
                </div>
                <div class="col-3" id="property_terrain">
                    <p class="text-end mb-0"><img src="{{ asset('images/png/picto_terrainsuperfi.png')}}" alt="picto_surfaceterrain"> {{ property.surfaceLand|number_format(0,',',' ')}} m2 de terrain</p>
                </div>
                <div class="col-3 d-flex justify-content-center align-items-center" id="property_price">
                    <p class="text-center align-middle mb-0">{{ property.priceFai|number_format(0,',',' ') }} €</p>
                </div>
            </div>
        </div>
    </section>
    <section id="oneproperty_main" class="container mb-5">
        {# Row du contenu principal du bien #}
        <div class="row">

            <div class="col-12">
                <h1 class="text-center property_h1">{{property.name}}</h1>
            </div>

            {# Row des visuels du bien #}
            <div class="row">
                {# image principale#}
                <div class="col-5">
                    {% if firstphoto is not empty%}
                        <img class="img-fluid" src="{{ vich_uploader_asset(firstphoto, 'galeryFrontFile')|imagine_filter('oneproperty_image') }}" class="card-img img-fluid" alt="{{ firstphoto.galeryFrontName }}" >
                    {% else %}
                        <img src="{{ asset('images/jpeg/mod_maison.jpg')}}" class="card-img" alt="none-visuel">
                    {% endif %}
                    <a href="{{ path('op_admin_mail_AskPropertyInfo', {'id': property.id }) }}" class="btn btn-primary w-100 mt-1 btnAskContactProperty" id="btnAskContactProperty">Ce bien vous interesse ?<br>Contactez-nous</a>
                </div>
                {# Galerie#}
                <div class="col-7">
                    {{ render(controller('App\\Controller\\Gestapp\\PhotoController::PublicGalleryByProperty', {'idproperty':property.id}))}}
                </div>
            </div>

            {# Row du contenu Descritpif du Bien #}
            <div class="row" id="generalCard">
                <div class="col-8">
                    <h3 class="descriptif">DESCRIPTIF :</h3>
                    <h4 class="small">Ref : {{property.ref}}</h4>
                    <article>
                        {{ property.annonce|markdown_to_html}}
                    </article>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="text-center">
                                {% if employed.avatarName is not empty%}
                                    <img class="img-fluid rounded-circle" src="{{ vich_uploader_asset(employed.avatarName, 'avatarFile')|imagine_filter('vignette_employed') }}" class="card-img img-fluid" alt="{{ firstphoto.galeryFrontName }}" >
                                {% else %}
                                    <img class="img-fluid rounded-circle" src="{{ asset('images/jpeg/mod_maison.jpg')|imagine_filter('vignette_employed')}}" alt="none-visuel">
                                {% endif %}
                            </p>
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="text-center">Votre conseiller<br><small>{{ employed.firstName }} {{ employed.lastName }}</small></h6>
                                    <p class="text-center">
                                        {% if employed.sector is empty %}{% else %}Secteur : {{ employed.sector }}<br>{% endif %}
                                        <i class="fa-duotone fa-mobile"></i> {{ employed.gsm }}
                                    </p>
                                    <button class="btn btn-primary w-100 mt-1">Laisser un message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# Row du contenu Technique du Bien #}
            <div class="row" id="TechniqualCard">
                <div class="col-12">
                    <h3 class="technique">FICHE TECHNIQUE :</h3>
                    <div class="row">
                        <div class="col-4">
                            <h4>Informations générales</h4>

                            <table class="table table-bordered">
                                <tr>
                                    <td>Type</td>
                                    <td>
                                        <span class="color">{{ property.propertyDefinition }}</span> -
                                        {% if property.denomination == 'A définir' %}
                                        {% else %}
                                            <span class="color">{{ property.denomination }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if property.propertyState >0 %}
                                    <tr>
                                        <td>Etat du bien</td>
                                        <td><span class="color">{{ property.propertyState }}</span></td>
                                    </tr>
                                {% endif %}
                                {% if property.propertyEnergy >0 %}
                                    <tr>
                                        <td>Energie</td>
                                        <td><span class="color">{{ property.propertyEnergy }}</span></td>
                                    </tr>
                                {% endif %}
                                {% if property.propertyTax >0 %}
                                    <tr>
                                        <td>Charge</td>
                                        <td><span class="color">{{ property.propertyTax }}</span></td>
                                    </tr>
                                {% endif %}
                                {% if property.propertyOrientation >0 %}
                                    <tr>
                                        <td>Charge</td>
                                        <td><span class="color">{{ property.propertyOrientation }}</span></td>
                                    </tr>
                                {% endif %}
                                {% if property.disponibility != 'a-definir' or property.location != 'a-definir' %}
                                    <tr>
                                        <td>
                                            {% if property.disponibility != 'a-definir' %}Disponible{% endif %}
                                            {% if property.location != 'a-definir' %}Louable{% endif %}
                                        </td>
                                        <td>
                                            {% if property.disponibility != 'a-definir' %}A partir du{% endif %}&nbsp;
                                            {% if property.location != 'a-definir' %}Louable{% endif %}{{ property.disponibilityAt|format_datetime('medium', 'none', locale='fr') }}
                                        </td>
                                    </tr>
                                {% endif %}

                            </table>
                        </div>
                        <div class="col-8">
                            <h4>Détails du bien</h4>
                            <div class="row">
                                {% if (property.washroom == 0) and (property.bathroom == 0) and (property.wc == 0) and (property.balcony == 0) and (property.terrace == 0) %}
                                {% else %}
                                <div class="col-6">
                                    <table class="table table-bordered">
                                        {% if property.washroom > 0 %}
                                            <tr>
                                                <td>Salle d'eau</td>
                                                <td><span class="color">{{property.washroom}}</span></td>
                                            </tr>
                                        {% endif %}
                                        {% if property.bathroom >0 %}
                                            <tr>
                                                <td>Salle de Bain</td>
                                                <td><span class="color">{{property.bathroom}}</span></td>
                                            </tr>
                                        {% endif %}
                                        {% if property.wc >0 %}
                                            <tr>
                                                <td>Toilette</td>
                                                <td><span class="color">{{property.wc}}</span></td>
                                            </tr>
                                        {% endif %}
                                        {% if property.balcony >0 %}
                                            <tr>
                                                <td>Balcon</td>
                                                <td><span class="color">{{property.balcony}}</span></td>
                                            </tr>
                                        {% endif %}
                                        {% if property.terrace >0 %}
                                            <tr>
                                                <td>terrasse</td>
                                                <td><span class="color">{{property.terrace}}</span></td>
                                            </tr>
                                        {% endif %}
                                    </table>
                                </div>
                                {% endif %}
                                <div class="col-6">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="text-center align-middle">Equipement</td>
                                            <td>
                                                {% for equipment in equipments %}<span class="color">{{ equipment.name }}</span> - {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center align-middle">Type de bien</td>
                                            <td>
                                                <span class="color">{{ property.propertyTypology }}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center align-middle">Autres options</td>
                                            <td>
                                                {% for option in options %}<span class="color">{{ option.name }}</span> - {% endfor %}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Row du contenu Diagnostique Dpe du Bien #}

            <div class="row" id="DiagnosticCard">
                <h4>Bilan énergétique</h4>

                {#
                <ul class="c-dpe">
                    <li class="c-dpe__index c-dpe__index--1">
                        A
                    </li>
                    <li class="c-dpe__index c-dpe__index--2">
                        B
                    </li>
                    <li class="c-dpe__index c-dpe__index--3">
                        C
                    </li>
                    <li class="c-dpe__index c-dpe__index--4 c-dpe__index--active">
                        D
                        <strong class="c-dpe__label">
                            246
                            <span class="c-dpe__unit">kWh/m2.an</span>
                        </strong>
                    </li>
                    <li class="c-dpe__index c-dpe__index--5">
                        E
                    </li>
                    <li class="c-dpe__index c-dpe__index--6">
                        F
                    </li>
                    <li class="c-dpe__index c-dpe__index--7">
                        G
                    </li>
                </ul>
                #}


                {% if property.diagDpe >= 0  %}
                <div class="col-4">
                    {% set letter = '' %}
                    {% if property.diagDpe > 0 and property.diagDpe <= 50 %}
                        {% set letter = 'A'%}
                    {% elseif property.diagDpe > 50 and property.diagDpe <= 90 %}
                        {% set letter = 'B'%}
                    {% elseif property.diagDpe > 90 and property.diagDpe <= 150 %}
                        {% set letter = 'C'%}
                    {% elseif property.diagDpe > 150 and property.diagDpe <= 230 %}
                        {% set letter = 'D'%}
                    {% elseif property.diagDpe > 230 and property.diagDpe <= 330 %}
                        {% set letter = 'E'%}
                    {% elseif property.diagDpe > 330 and property.diagDpe <= 450 %}
                        {% set letter = 'F'%}
                    {% elseif property.diagDpe > 450 %}
                        {% set letter = 'G'%}
                    {% endif %}
                    <h5>Consommation énergétique</h5>
                    <figure>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="chart" width="420" height="150" aria-labelledby="title" role="img">
                            <title id="title">A bart chart showing information</title>
                            {% if letter == 'A' %}
                                <g class="bar">
                                    <rect width="40" height="20" fill="#00a06c"></rect>
                                    <text x="45" y="10" dy=".35em">A - {{ property.diagDpe }}</text>
                                </g>
                            {% else %}
                                <g class="bar">
                                    <rect width="40" height="20" fill="#00a06c" fill-opacity="0.5"></rect>
                                    <text x="45" y="10" dy=".35em" fill-opacity="0.5">A</text>
                                </g>
                            {% endif %}
                            {% if letter == 'B' %}
                                <g class="bar">
                                    <rect width="60" height="20" y="22" fill="#50b054"></rect>
                                    <text x="65" y="32" dy=".35em" fill="#50b054">B {{ property.diagDpe }}</text>
                                </g>
                            {% else %}
                                <g class="bar">
                                    <rect width="60" height="20" y="22" fill="#50b054" fill-opacity="0.5"></rect>
                                    <text x="65" y="32" dy=".35em" fill-opacity="0.5">B</text>
                                </g>
                            {% endif %}
                            {% if letter == 'C' %}
                                <g class="bar">
                                    <rect width="80" height="20" y="44" fill="#a4cc74"></rect>
                                    <text x="85" y="54" dy=".35em" fill="#a4cc74">C</text>
                                </g>
                            {% else %}
                                <g class="bar">
                                    <rect width="80" height="20" y="44" fill="#a4cc74" fill-opacity="0.5"></rect>
                                    <text x="85" y="54" dy=".35em" fill-opacity="0.5">C</text>
                                </g>
                            {% endif %}
                            {% if letter == 'D' %}
                                <g class="bar">
                                    <rect width="100" height="20" y="66" fill="#f3e61e"></rect>
                                    <text x="105" y="76" dy=".35em" fill="#f3e61e">D</text>
                                </g>
                            {% else %}
                                <g class="bar">
                                    <rect width="100" height="20" y="66" fill="#f3e61e" fill-opacity="0.5"></rect>
                                    <text x="105" y="76" dy=".35em" fill-opacity="0.5">D</text>
                                </g>
                            {% endif %}
                            {% if letter == 'E' %}
                                <g class="bar">
                                    <rect width="120" height="20" y="88" fill="#f0b418"></rect>
                                    <text x="125" y="98" dy=".35em" fill="#f0b418">E</text>
                                </g>
                            {% else %}
                                <g class="bar">
                                    <rect width="120" height="20" y="88" fill="#f0b418" fill-opacity="0.5"></rect>
                                    <text x="125" y="98" dy=".35em" fill-opacity="0.5">E</text>
                                </g>
                            {% endif %}
                            {% if letter == 'F' %}
                                <g class="bar">
                                    <rect width="140" height="20" y="110" fill="#eb8233"></rect>
                                    <text x="145" y="120" dy=".35em" fill="#eb8233">F</text>
                                </g>
                            {% else %}
                                <g class="bar">
                                    <rect width="140" height="20" y="110" fill="#eb8233" fill-opacity="0.5"></rect>
                                    <text x="145" y="120" dy=".35em" fill-opacity="0.5">F</text>
                                </g>
                            {% endif %}
                            {% if letter == 'G' %}
                                <g class="bar">
                                    <rect width="160" height="20" y="132" fill="#d71d1f"></rect>
                                    <text x="165" y="142" dy=".35em" fill="#d71d1f">G</text>
                                </g>
                            {% else %}
                                <g class="bar">
                                    <rect width="160" height="20" y="132" fill="#d71d1f" fill-opacity="0.5"></rect>
                                    <text x="165" y="142" dy=".35em" fill-opacity="0.5">G</text>
                                </g>
                            {% endif %}
                        </svg>
                    </figure>
                </div>
                {% endif %}
                {# Row du contenu Diagnostique GES du Bien #}
                {% if property.diagGpe >= 0  %}
                <div class="col-4">
                    {% set letter = '' %}
                    {% if property.diagGpe > 0 and property.diagGpe <= 5 %}
                        {% set letter = 'A'%}
                    {% elseif property.diagGpe > 5 and property.diagGpe <= 10 %}
                        {% set letter = 'B'%}
                    {% elseif property.diagGpe > 11 and property.diagGpe <= 20 %}
                        {% set letter = 'C'%}
                    {% elseif property.diagGpe > 21 and property.diagGpe <= 35 %}
                        {% set letter = 'D'%}
                    {% elseif property.diagGpe > 36 and property.diagGpe <= 55 %}
                        {% set letter = 'E'%}
                    {% elseif property.diagGpe > 56 and property.diagGpe <= 80 %}
                        {% set letter = 'F'%}
                    {% elseif property.diagGpe > 80 %}
                        {% set letter = 'G'%}
                    {% endif %}
                    <h5>Emission de gaz</h5>
                    <figure>
                        <figcaption>Diagnostique énergétique</figcaption>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="chart" width="420" height="150" aria-labelledby="title" role="img">
                            <title id="title">A bart chart showing information</title>
                            {% if letter == 'A' %}
                                <g class="bar">
                                    <rect width="40" height="20" fill="#f6eefd"></rect>
                                    <text x="45" y="10" dy=".35em">A - {{ property.diagGpe }}</text>
                                </g>
                            {% else %}
                                <g class="bar">
                                    <rect width="40" height="20" fill="#f6eefd" fill-opacity="0.5"></rect>
                                    <text x="45" y="10" dy=".35em" fill-opacity="0.5">A</text>
                                </g>
                            {% endif %}
                            {% if letter == 'B' %}
                                <g class="bar">
                                    <rect width="60" height="20" y="22" fill="#e0c2f8"></rect>
                                    <text x="65" y="32" dy=".35em" fill="#e0c2f8">B {{ property.diagGpe }}</text>
                                </g>
                            {% else %}
                                <g class="bar">
                                    <rect width="60" height="20" y="22" fill="#e0c2f8" fill-opacity="0.5"></rect>
                                    <text x="65" y="32" dy=".35em" fill-opacity="0.5">B</text>
                                </g>
                            {% endif %}
                            {% if letter == 'C' %}
                                <g class="bar">
                                    <rect width="80" height="20" y="44" fill="#d4aaf6"></rect>
                                    <text x="85" y="54" dy=".35em" fill="#d4aaf6">C {{ property.diagGpe }}</text>
                                </g>
                            {% else %}
                                <g class="bar">
                                    <rect width="80" height="20" y="44" fill="#d4aaf6" fill-opacity="0.5"></rect>
                                    <text x="85" y="54" dy=".35em" fill-opacity="0.5">C</text>
                                </g>
                            {% endif %}
                            {% if letter == 'D' %}
                                <g class="bar">
                                    <rect width="100" height="20" y="66" fill="#c996f5"></rect>
                                    <text x="105" y="76" dy=".35em" fill="#c996f5">D {{ property.diagGpe }}</text>
                                </g>
                            {% else %}
                                <g class="bar">
                                    <rect width="100" height="20" y="66" fill="#c996f5" fill-opacity="0.5"></rect>
                                    <text x="105" y="76" dy=".35em" fill-opacity="0.5">D</text>
                                </g>
                            {% endif %}
                            {% if letter == 'E' %}
                                <g class="bar">
                                    <rect width="120" height="20" y="88" fill="#ba72ef"></rect>
                                    <text x="125" y="98" dy=".35em" fill="#ba72ef">E {{ property.diagGpe }}</text>
                                </g>
                            {% else %}
                                <g class="bar">
                                    <rect width="120" height="20" y="88" fill="#ba72ef" fill-opacity="0.5"></rect>
                                    <text x="125" y="98" dy=".35em" fill-opacity="0.5">E</text>
                                </g>
                            {% endif %}
                            {% if letter == 'F' %}
                                <g class="bar">
                                    <rect width="140" height="20" y="110" fill="#a74deb"></rect>
                                    <text x="145" y="120" dy=".35em" fill="#a74deb">F {{ property.diagGpe }}</text>
                                </g>
                            {% else %}
                                <g class="bar">
                                    <rect width="140" height="20" y="110" fill="#a74deb" fill-opacity="0.5"></rect>
                                    <text x="145" y="120" dy=".35em" fill-opacity="0.5">F</text>
                                </g>
                            {% endif %}
                            {% if letter == 'G' %}
                                <g class="bar">
                                    <rect width="160" height="20" y="132" fill="#8919df"></rect>
                                    <text x="165" y="142" dy=".35em" fill="#8919df">G {{ property.diagGpe }}</text>
                                </g>
                            {% else %}
                                <g class="bar">
                                    <rect width="160" height="20" y="132" fill="#8919df" fill-opacity="0.5"></rect>
                                    <text x="165" y="142" dy=".35em" fill-opacity="0.5">G</text>
                                </g>
                            {% endif %}
                        </svg>
                    </figure>
                </div>
                {% endif %}
            </div>




        </div>
        <div id="oneproperty_footer" class="row">

        </div>
    </section>
    <section>
        <div class="modal fade" id="AskPropertyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Vous êtes intéressé par ce bien ?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <h5>Contactez-nous directement</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form">
                            {{ render(controller('App\\Controller\\Admin\\ContactController::AskPropertyInfo', {'idproperty': property.id})) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="text-center">
                                    <a type="button" class="btn btn-primary" id="postAskPropertyInfo">Envoyer</a>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ne pas envoyer</button>
                                </p>
                                <p class="text-center">
                                    <a href="#">Mentions légales</a>
                                    <br>
                                    <a href="#">Traitements des données personnelles</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block modal %}

{% endblock %}
