{% extends 'base.html.twig' %}

{% set piece = '' %}
{% set room = '' %}
{% if property.piece < 2 %}{%set piece = 'pièce'%}{%else%}{%set piece = 'pièces'%}{%endif%}
{% if property.room < 2 %}{%set room = 'chambre'%}{%else%}{%set room = 'chambres'%}{%endif%}

{% block content %}
    <section id="oneproperty_header" class="container mt-5">
        {# bandeau de présentation des informations prioncipales du bien #}
        <div  class="row">
            <div class="col-3">
                <p class="text-end"><img src="{{ asset('images/png/picto_superfmaison.png')}}" alt="picto_surfacebien"> {{ property.surfaceHome}} m2 surface habitable</p>
            </div>
            <div class="col-3">
                <p class="text-end"><img src="{{ asset('images/png/picto_nbpiece.png')}}" alt="picto_pieces"> {{property.piece}} {{piece}} | {{ property.room}} {{ room }}</p>
            </div>
            <div class="col-3">
                <p class="text-end"><img src="{{ asset('images/png/picto_terrainsuperfi.png')}}" alt="picto_surfaceterrain"> {{ property.surfaceHome}} m2 de terrain</p>
            </div>
            <div class="col-3">
                <p>{{ property.applicantEstimate }} €</p>
            </div>
        </div>
    </section>
    <section id="oneproperty_main" class="container mb-5">
        {# Row du contenu principal du bien #}
        <div class="row">
            <div class="col-12">
                <h1 class="text-center property_h1">{{property.name}}</h1>
            </div>
            {# Row des visuels du bien #}
            <div class="row">
                {# image principale#}
                <div class="col-5">
                    <img class="img-fluid rounded-2" src="{{vich_uploader_asset(property, 'imageFile', 'App\\Entity\\Gestapp\\Property')}}" alt="{{ property.imageName}}">
                    <button class="btn btn-primary w-100 mt-1">Ce bien vous interesse ?<br>Contactez-nous</button>
                </div>
                {# Galerie#}
                <div class="col-7">
                    {{ include('webapp/page/property/include/galerie.html.twig')}}
                </div>
            </div>
            {# Row du contenu Descritpif du Bien #}
            <div class="row">
                <div class="col-12">
                    <h3 class="descriptif">DESCRIPTIF :</h3>
                    <h4 class="small">{{property.ref}}</h4>
                    <article>
                        {{ property.annonce|markdown_to_html}}
                    </article>
                </div>
            </div>
            {# Row du contenu Descritpif du Bien #}
            <div class="row">
                <div class="col-12">
                    <h3 class="technique">FICHE TECHNIQUE :</h3>
                    <div class="row">
                        <div class="col-4">
                            <table class="table table-bordered">
                                {% if property.washroom > 0 %}
                                <tr>
                                    <td>Salle d'eau</td>
                                    <td>{{property.washroom}}</td>
                                </tr>
                                {% endif %}
                                {% if property.bathroom >0 %}
                                <tr>
                                    <td>Salle de Bain</td>
                                    <td>{{property.bathroom}}</td>
                                </tr>
                                {% endif %}
                                {% if property.wc >0 %}
                                <tr>
                                    <td>Toilette</td>
                                    <td>{{property.wc}}</td>
                                </tr>
                                {% endif %}
                                {% if property.balcony >0 %}
                                <tr>
                                    <td>Balcon</td>
                                    <td>{{property.balcony}}</td>
                                </tr>
                                {% endif %}
                                {% if property.terrace >0 %}
                                <tr>
                                    <td>terrasse</td>
                                    <td>{{property.terrace}}</td>
                                </tr>
                                {% endif %}
                            </table>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4"></div>
                    </div>
                </div>
            </div>

        </div>
        <div id="oneproperty_footer" class="row"></div>
    </section>
{% endblock %}
