{% extends 'base.html.twig' %}

{% set piece = '' %}
{% set room = '' %}
{% if property.piece < 2 %}{%set piece = 'pièce'%}{%else%}{%set piece = 'pièces'%}{%endif%}
{% if property.room < 2 %}{%set room = 'chambre'%}{%else%}{%set room = 'chambres'%}{%endif%}

{% block content %}
    <section id="oneproperty_header" class="pt-1 pb-1">
        <div class="container">
            {# bandeau de présentation des informations prioncipales du bien #}
            <div class="row" id="informations">
                <div class="col-3" id="property_surface">
                    <p class="text-end mb-0"><img src="{{ asset('images/png/picto_superfmaison.png')}}" alt="picto_surfacebien"> {{ property.surfaceHome|number_format(0,',',' ')}} m2 surface habitable</p>
                </div>
                <div class="col-3" id="property_pieces">
                    <p class="text-end mb-0"><img src="{{ asset('images/png/picto_nbpiece.png')}}" alt="picto_pieces"> {{property.piece}} {{piece}} | {{ property.room}} {{ room }}</p>
                </div>
                <div class="col-3" id="property_terrain">
                    <p class="text-end mb-0"><img src="{{ asset('images/png/picto_terrainsuperfi.png')}}" alt="picto_surfaceterrain"> {{ property.surfaceHome|number_format(0,',',' ')}} m2 de terrain</p>
                </div>
                <div class="col-3 d-flex justify-content-center align-items-center" id="property_price">
                    <p class="text-center align-middle mb-0">{{ property.priceFai|number_format(0,',',' ') }} €</p>
                </div>
            </div>
        </div>
    </section>
    <section id="oneproperty_main" class="container mb-5">
        {# Row du contenu principal du bien #}
        <div class="row">
            <div class="col-12">
                <h1 class="text-center property_h1">{{property.name}}</h1>
            </div>
            {# Row des visuels du bien #}
            <div class="row">
                {# image principale#}
                <div class="col-5">
                    <img class="img-fluid rounded-2" src="{{vich_uploader_asset(property, 'imageFile', 'App\\Entity\\Gestapp\\Property')|imagine_filter('oneproperty_image')}}" alt="{{ property.imageName}}">
                    <button class="btn btn-primary w-100 mt-1">Ce bien vous interesse ?<br>Contactez-nous</button>
                </div>
                {# Galerie#}
                <div class="col-7">
                    {{ render(controller('App\\Controller\\Gestapp\\PhotoController::PublicGalleryByProperty', {'idproperty':property.id}))}}
                </div>
            </div>
            {# Row du contenu Descritpif du Bien #}
            <div class="row" id="generalCard">
                <div class="col-12">
                    <h3 class="descriptif">DESCRIPTIF :</h3>
                    <h4 class="small">{{property.ref}}</h4>
                    <article>
                        {{ property.annonce|markdown_to_html}}
                    </article>
                </div>
            </div>
            {# Row du contenu Technique du Bien #}
            <div class="row" id="TechniqualCard">
                <div class="col-12">
                    <h3 class="technique">FICHE TECHNIQUE :</h3>
                    <div class="row">
                        <div class="col-4">
                            <h4>Informations générales</h4>

                            <table class="table table-bordered">
                                <tr>
                                    <td>Type</td>
                                    <td>
                                        {{ property.propertyDefinition }}
                                        &nbsp;
                                        {{ property.denomination }}
                                    </td>
                                </tr>
                                {% if property.propertyState >0 %}
                                    <tr>
                                        <td>Etat du bien</td>
                                        <td>{{ property.propertyState }}</td>
                                    </tr>
                                {% endif %}
                                {% if property.propertyEnergy >0 %}
                                    <tr>
                                        <td>Energie</td>
                                        <td>{{ property.propertyEnergy }}</td>
                                    </tr>
                                {% endif %}
                                {% if property.propertyTax >0 %}
                                    <tr>
                                        <td>Charge</td>
                                        <td>{{ property.propertyTax }}</td>
                                    </tr>
                                {% endif %}
                                {% if property.propertyOrientation >0 %}
                                    <tr>
                                        <td>Charge</td>
                                        <td>{{ property.propertyOrientation }}</td>
                                    </tr>
                                {% endif %}
                                {% if property.disponibility != 'a-definir' or property.location != 'a-definir' %}
                                    <tr>
                                        <td>
                                            {% if property.disponibility != 'a-definir' %}Disponible{% endif %}
                                            {% if property.location != 'a-definir' %}Louable{% endif %}
                                        </td>
                                        <td>
                                            {% if property.disponibility != 'a-definir' %}A partir du{% endif %}&nbsp;
                                            {% if property.location != 'a-definir' %}Louable{% endif %}{{ property.disponibilityAt|format_datetime('medium', 'none', locale='fr') }}
                                        </td>
                                    </tr>
                                {% endif %}

                            </table>
                        </div>
                        <div class="col-8">
                            <h4>Détails du bien</h4>
                            <div class="row">
                                <div class="col-6">
                                    <table class="table table-bordered">
                                        {% if property.washroom > 0 %}
                                            <tr>
                                                <td>Salle d'eau</td>
                                                <td>{{property.washroom}}</td>
                                            </tr>
                                        {% endif %}
                                        {% if property.bathroom >0 %}
                                            <tr>
                                                <td>Salle de Bain</td>
                                                <td>{{property.bathroom}}</td>
                                            </tr>
                                        {% endif %}
                                        {% if property.wc >0 %}
                                            <tr>
                                                <td>Toilette</td>
                                                <td>{{property.wc}}</td>
                                            </tr>
                                        {% endif %}
                                        {% if property.balcony >0 %}
                                            <tr>
                                                <td>Balcon</td>
                                                <td>{{property.balcony}}</td>
                                            </tr>
                                        {% endif %}
                                        {% if property.terrace >0 %}
                                            <tr>
                                                <td>terrasse</td>
                                                <td>{{property.terrace}}</td>
                                            </tr>
                                        {% endif %}
                                    </table>
                                </div>
                                <div class="col-6">
                                    <table class="table table-bordered">
                                    {% for equipment in equipments %}
                                        <tr>
                                            {% if loop.index0 % 2 == 0 %}
                                                <td class="text-center align-middle" rowspan="2">Equipement</td>
                                            {% endif %}
                                            <td>{{ equipment.name }}</td>
                                        </tr>
                                    {% endfor %}

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Row du contenu Diagnostique du Bien #}
            <div class="row" id="DiagnosticCard">
                {% set letter = '' %}
                {% if property.diagDpe > 0 and property.diagDpe <= 50 %}
                    {% set letter = 'A'%}
                {% elseif property.diagDpe > 50 and property.diagDpe <= 90 %}
                    {% set letter = 'B'%}
                {% elseif property.diagDpe > 90 and property.diagDpe <= 150 %}
                    {% set letter = 'C'%}
                {% elseif property.diagDpe > 150 and property.diagDpe <= 230 %}
                    {% set letter = 'D'%}
                {% elseif property.diagDpe > 230 and property.diagDpe <= 330 %}
                    {% set letter = 'E'%}
                {% elseif property.diagDpe > 330 and property.diagDpe <= 450 %}
                    {% set letter = 'F'%}
                {% elseif property.diagDpe > 450 %}
                    {% set letter = 'G'%}
                {% endif %}
                <figure>
                    <figcaption>Diagnostique énergétique</figcaption>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="chart" width="420" height="150" aria-labelledby="title" role="img">
                        <title id="title">A bart chart showing information</title>
                        {% if letter == 'A' %}
                            <g class="bar">
                                <rect width="40" height="20" fill="#00a06c"></rect>
                                <text x="45" y="10" dy=".35em">A - {{ property.diagDpe }}</text>
                            </g>
                        {% else %}
                            <g class="bar">
                                <rect width="40" height="20" fill="#00a06c" fill-opacity="0.5"></rect>
                                <text x="45" y="10" dy=".35em" fill-opacity="0.5">A</text>
                            </g>
                        {% endif %}
                        {% if letter == 'B' %}
                        <g class="bar">
                            <rect width="60" height="20" y="22" fill="#50b054"></rect>
                            <text x="65" y="32" dy=".35em" fill="#50b054">B {{ property.diagDpe }}</text>
                        </g>
                        {% else %}
                        <g class="bar">
                            <rect width="60" height="20" y="22" fill="#50b054" fill-opacity="0.5"></rect>
                            <text x="65" y="32" dy=".35em" fill-opacity="0.5">B</text>
                        </g>
                        {% endif %}
                        {% if letter == 'C' %}
                        <g class="bar">
                            <rect width="80" height="20" y="44" fill="#a4cc74"></rect>
                            <text x="85" y="54" dy=".35em" fill="#a4cc74">C</text>
                        </g>
                        {% else %}
                        <g class="bar">
                            <rect width="80" height="20" y="44" fill="#a4cc74" fill-opacity="0.5"></rect>
                            <text x="85" y="54" dy=".35em" fill-opacity="0.5">C</text>
                        </g>
                        {% endif %}
                        {% if letter == 'D' %}
                        <g class="bar">
                            <rect width="100" height="20" y="66" fill="#f3e61e"></rect>
                            <text x="105" y="76" dy=".35em" fill="#f3e61e">D</text>
                        </g>
                        {% else %}
                        <g class="bar">
                            <rect width="100" height="20" y="66" fill="#f3e61e" fill-opacity="0.5"></rect>
                            <text x="105" y="76" dy=".35em" fill-opacity="0.5">D</text>
                        </g>
                        {% endif %}
                        {% if letter == 'E' %}
                        <g class="bar">
                            <rect width="120" height="20" y="88" fill="#f0b418"></rect>
                            <text x="125" y="98" dy=".35em" fill="#f0b418">E</text>
                        </g>
                        {% else %}
                        <g class="bar">
                            <rect width="120" height="20" y="88" fill="#f0b418" fill-opacity="0.5"></rect>
                            <text x="125" y="98" dy=".35em" fill-opacity="0.5">E</text>
                        </g>
                        {% endif %}
                        {% if letter == 'F' %}
                        <g class="bar">
                            <rect width="140" height="20" y="110" fill="#eb8233"></rect>
                            <text x="145" y="120" dy=".35em" fill="#eb8233">F</text>
                        </g>
                        {% else %}
                        <g class="bar">
                            <rect width="140" height="20" y="110" fill="#eb8233" fill-opacity="0.5"></rect>
                            <text x="145" y="120" dy=".35em" fill-opacity="0.5">F</text>
                        </g>
                        {% endif %}
                        {% if letter == 'G' %}
                        <g class="bar">
                            <rect width="160" height="20" y="132" fill="#d71d1f"></rect>
                            <text x="165" y="142" dy=".35em" fill="#d71d1f">G</text>
                        </g>
                        {% else %}
                        <g class="bar">
                            <rect width="160" height="20" y="132" fill="#d71d1f" fill-opacity="0.5"></rect>
                            <text x="165" y="142" dy=".35em" fill-opacity="0.5">G</text>
                        </g>
                        {% endif %}
                    </svg>
                </figure>
            </div>
        </div>
        <div id="oneproperty_footer" class="row">

        </div>
    </section>
{% endblock %}
