<table class="table animate__animated animate__fadeIn">
    <thead>
    <tr>
        <th>Id</th>
        {# insertion d'un bloc collaborateur #}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <th>Collaborateur</th>
        {% endif %}
        <th>Statut</th>
        <th>Prescripteur</th>
        <th>Client potentiel</th>
        <th>Propriété</th>
        <th>Créer le</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for reco in recos %}
        <tr class="align-middle" {% if reco.isRead == 0 %}class="table-secondary"{% endif %}>
            <td>
                <input type="checkbox" value="{{ reco.id }}" name="oneCheckbox">
            </td>
            {# insertion d'un bloc collaborateur #}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <td>
                {% if reco.refEmployed.avatarName is not null %}
                    <img class="rounded-circle" src="{{ asset('images/avatar/' ~ reco.refEmployed.avatarName) }}" alt="{{ reco.refEmployed.avatarName }}" style="height:50px;width:50px">
                {% else %}
                    <img class="rounded-circle" src="{{ asset('images/jpeg/user.jpg') }}" alt="" style="height:50px;width:50px">
                {% endif %}
                {{ reco.refEmployed.firstName }} {{ reco.refEmployed.lastName }}
            </td>
            {% endif %}
            <td>
                {% if reco.statutReco is not null %}{{ reco.statutReco.fr }}{% endif %}
            </td>
            <td>
                <i class="fa-duotone fa-circle-user"></i> {{ reco.announceFirstName }} {{ reco.announceLastName }}<br>
                {% if reco.announcePhone and reco.announceEmail %}
                    <i class="fa-duotone fa-circle-user"></i> {{ reco.announcePhone }} / <i class="fa-duotone fa-circle-envelope"></i> {{ reco.announceEmail }}
                {% elseif reco.announcePhone or reco.announceEmail %}
                    {% if reco.announcePhone is defined %}<i class="fa-duotone fa-circle-user"></i> {{ reco.announcePhone }}{% endif %}
                    {% if reco.announceEmail is defined %}<i class="fa-duotone fa-circle-envelope"></i> {{ reco.announceEmail }}{% endif %}
                {% endif %}
            </td>
            <td>
                <i class="fa-duotone fa-circle-user"></i> {{ reco.customerFirstName }} {{ reco.customerLastName }}<br>
                {% if reco.customerPhone and reco.customerEmail %}
                    <i class="fa-duotone fa-circle-user"></i> {{ reco.customerPhone }} / <i class="fa-duotone fa-circle-envelope"></i> {{ reco.customerEmail }}
                {% elseif reco.customerPhone or reco.customerEmail %}
                    {% if reco.customerPhone is defined %}<i class="fa-duotone fa-circle-user"></i> {{ reco.customerPhone }}{% endif %}
                    {% if reco.customerEmail is defined %}<i class="fa-duotone fa-circle-envelope"></i> {{ reco.customerEmail }}{% endif %}
                {% endif %}
            </td>
            <td>{{ reco.propertyAddress }}<br>{% if reco.propertyComplement is not null or reco.propertyComplement is not empty %}{{ reco.propertyComplement }}<br>{% endif %}{{ reco.propertyZipcode }} {{ reco.propertyCity }}</td>
            <td>{{ reco.createdAt ? reco.createdAt|date('Y-m-d') : '' }}</td>
            <td>
                {% if reco.statutReco.name == "paid_commission" or reco.statutReco.name =="reco_finished" %}
                    <a id="btnCommission" href="{{ path('op_gestapp_reco_edit_comm', {'id': reco.id}) }}" class="btn btn-sm btn-outline-warning btnCommission" data-bs-whatever="EDIT-Ajout / Edition d'une commission">{% if reco.commission > 0 %}Modifier les gains{% else %}Déclarer les gains{% endif %}</a>
                {% endif %}
                <a id="btnEditReco" href="{{ path('op_gestapp_reco_edit', {'id': reco.id}) }}" class="btn btn-sm btn-outline-primary btnEditReco" data-bs-whatever="EDIT-Edition d'une recommandation">Modifier</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="19">Pas d'enregistrement.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>