{{ form_start(form, {'attr': {'id': 'FormAddDocument'}}) }}
<table class="table table-sm">
    <tbody>
        <tr>
            <td colspan="3"><h4><i class="fa-duotone fa-circle-plus"></i> Ajouter un document</h4></td>
        </tr>

        <tr class="align-middle">
            <td class="table-light col-sm-2">{{ form_label(form.category) }}</td>
            <td class="col-sm-2">
                <div class="row">
                    <div class="col-md-10">{{ form_widget(form.category) }}</div>
                    <div class="col-md-2"><button id="btnAddCatDocument" class="btn btn-sm"><i class="fa-regular fa-circle-plus"></i></button></div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr class="align-middle">
            <td class="table-light">{{ form_label(form.typeDoc) }}</td>
            <td>{{ form_widget(form.typeDoc, {'attr': {'class': 'form-select form-select-sm'}}) }}</td>
            <td></td>
        </tr>
        <tr class="align-middle">
            <td class="table-light">Fichier</td>
            <td id="pdf" class="col-sm-2">
                {{ form_widget(form.fileFilename, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="table-light"></td>
            <td><button id="submitDocument" class="btn btn-sm btn-outline-primary" >{{ button_label|default('Enregistrer') }}</button></td>
            <td></td>
        </tr>

    </tbody>
</table>
{{ form_end(form) }}




