<h4><i class="fa-duotone fa-file-signature"></i> Documents</h4>
<div class="row mt-3">
    {% for document in documents %}
    <div class="col-3">
        <div class="card" style="border: 1px solid rgba(255, 255, 255, 0.13);background-color:#f3f3f3;padding-top: 0.5rem;padding-bottom: 0.5rem;">
            <div class="row g-0">
                <div class="col-md-2">
                    {% if document.typeDoc == 'Pdf' %}
                        <img class="card-img-top" src="{{ asset('images/png/pdf.png') }}" alt="" >
                    {% elseif document.typeDoc == 'Word' %}
                        <img class="card-img-top" src="{{ asset('images/png/doc.png') }}" alt="">
                    {% elseif document.typeDoc == 'Excel' %}
                        <img class="card-img-top" src="{{ asset('images/png/exceller.png') }}" alt="">
                    {% elseif document.typeDoc == 'Mp4' %}
                        <img class="card-img-top" src="{{ asset('images/png/fichier-video.png') }}" alt="">
                    {% endif %}
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        {% if document.typeDoc == 'Pdf' %}
                        <a href="{{ asset('doc/pdf/') ~ document.name }}" class="stretched-link" style="text-decoration: none" download><i class="fa-duotone fa-eye"></i> {{ document.name }}</a>
                        {% elseif document.typeDoc == 'Word' %}
                        <a href="{{ asset('doc/word/') ~  document.name }}" class="stretched-link" style="text-decoration: none" download><i class="fa-duotone fa-eye"></i> {{ document.name }}</a>
                        {% elseif document.typeDoc == 'Excel' %}
                        <a href="{{ asset('doc/excel/') ~  document.name }}" class="stretched-link" style="text-decoration: none" download><i class="fa-duotone fa-eye"></i> {{ document.name }}</a>
                        {% elseif document.typeDoc == 'Mp4' %}
                        <a href="{{ asset('doc/mp4/') ~  document.name  }}" class="stretched-link" style="text-decoration: none" download><i class="fa-duotone fa-eye"></i> {{ document.name }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-1">
        <div class="card">
            <div class="card-body">
                Pas de documents
            </div>
        </div>
    </div>
    {% endfor %}
</div>