{% extends 'admin.html.twig' %}

{% block title %}Document index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/document/onload.js') }}"></script>
    <script src="{{ asset('js/document/employed.js') }}"></script>
{% endblock %}

{% block contentTitle %}
    <div class="row">
        <div class="col-sm-12">
            <h1>RESSOURCES - Listes des documents disponibles</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="col-sm-12">
        {{ render(controller('App\\Controller\\Gestapp\\DocumentController::new2'))}}
    </div>
    {% endif %}
    <div id="docCategory" class="col-sm-12">
        <h4><i class="fa-duotone fa-ballot-check"></i> Choix d'une catégorie</h4>
        <div id="listCat">
            {{ render(controller('App\\Controller\\Gestapp\\choice\\CatDocumentController::listcat', {'json':0}))}}
        </div>
    </div>
    <div id="listDocument" class="col-sm-12">
        {% include('gestapp/document/include/_liste.html.twig') %}
    </div>
</div>
{% endblock %}

{% block modal %}
    <section id="modals">
        {# Ajout d'une catégorie #}
        <div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter une categorie</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ render(controller('App\\Controller\\Gestapp\\choice\\CatDocumentController::new')) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button id="submitAddCatDocument" type="submit" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Ajouter</button>
                    </div>
                </div>
            </div>
        </div>
        {# Suppression d'un document #}
        <div class="modal fade" id="SupprDocument" tabindex="-1" aria-labelledby="SupprDocument" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><span class="text-warning">Suppression du document</span></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="text-center">
                            <span class="text-warning"><b>Attention :</b></span><br>
                            Vous êtes sur le point de supprimer le document sélectionné en validant sur le bouton "Supprimer définitivement".
                        </p>
                        <p class="text-center">Etes-vous sûr de vouloir continuer ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <a href="#" id="submitSupprDocument" class="btn btn-sm btn-outline-warning" data-bs-dismiss="modal">Supprimer définitivement</a>
                    </div>
                </div>
            </div>
        </div>

        {# annonce toaster #}
        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <div class="toast-container position-absolute top-50 end-0 p-3">
                <div id="toaster" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Bootstrap</strong>
                        <small>à l'instant</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        Hello, world! This is a toast message.
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}


