<!doctype html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ email.subject }}</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
            font-family: Helvetica, Arial, sans-serif;
        }
        h1 {
            background-color: #264459;
            color: #ffffff;
            padding: 30px 0 50px 0;
            font-weight: normal;
        }
        hr {
            border: none;
            border-top: 3px solid #264459;
            margin: 20px;
        }
        .container {
            background-color: #fefefe;
            width: 580px;
            margin: 0 auto;
        }
        .bottom {
            background-color: #efefee;
        }
        .block {
            margin: 0;
            padding: 10px 20px 20px 20px;
        }
        .logo {
            width: 100%;
        }
        .text-center {
            text-align: center;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #264459;
            color: #fefefe;
            border: 1px solid #fff;
            border-radius: 3px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }
    </style>
</head>
<div class="body">
    <div class="container">
        <div class="header text-center">
            <a href="{{ url('op_webapp_public_homepage') }}">
                {# <img src="{{ email.image('@images/email/logo.png') }}" class="logo" alt="SpaceBar Logo"> #}
                [PAPs Immo] : Une correction doit être apportée à la transaction immobilière.
            </a>
        </div>
        <div class="content">
            <h1>[PAPs Immo] : Une correction doit être apportée à la transaction immobilière.</h1>
            <h3>Référence: {{ transaction.name }}</h3>
            <hr>
            <h4>Bonjour,</h4>
            <p>
                Dans le cadre de la transaction immobilière concernant le bien :<br>
                - {{ transaction.property.name }}<br>
                - {{ transaction.property.zipcode }} {{ transaction.property.city }}<br>
                {% if typedoc == 'cv' %}
                    Vous avez présenté un document de type : <b>Compromis de vente.</b>
                {% elseif typedoc == 'av' %}
                    Vous avez présenté un document de type : <b>Attestation d'acte de vente.</b>
                {% elseif typedoc == 'tf' %}
                    Vous avez présenté un document de type : <b>TRACFIN.</b>
                {% endif %}
                Ce document présente une erreur. N'hésitez pas à contacter votre référent pour la résoudre. <br>
                En cliquant sur le lien suivant, vous pourrez recharger ce dernier dans le champ prévu à cet effet.
                <br>
                <a href="http://{{ url }}{{ path("op_gestapp_transaction_show2", {'id': transaction.id}) }}">Accès à la fiche de vente</a>
            </p>
        </div>
    </div>
</div>


