{% extends 'base.html.twig' %}

{% block title %}propertyFamily{% endblock %}

{% block body %}
    <h1>propertyFamily</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ property_family.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ property_family.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ property_family.code }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gestapp_choice_property_family_index') }}">back to list</a>

    <a href="{{ path('app_gestapp_choice_property_family_edit', {'id': property_family.id}) }}">edit</a>

    {{ include('gestapp/choice/property_family/_delete_form.html.twig') }}
{% endblock %}
