{% extends 'base.html.twig' %}

{% block title %}PropertyDefinition index{% endblock %}

{% block body %}
    <h1>PropertyDefinition index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property_definition in property_definitions %}
            <tr>
                <td>{{ property_definition.id }}</td>
                <td>{{ property_definition.name }}</td>
                <td>
                    <a href="{{ path('app_gestapp_choice_property_definition_show', {'id': property_definition.id}) }}">show</a>
                    <a href="{{ path('app_gestapp_choice_property_definition_edit', {'id': property_definition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gestapp_choice_property_definition_new') }}">Create new</a>
{% endblock %}
