<div>
    <h5>Avatar Customer</h5>
</div>
<div>
    <h6>TRANSACTION</h6>
    <ul>
        <li><a href="{{ path('op_gestapp_property_index') }}">Biens</a></li>
        <li><a href="{{ path('op_gestapp_customer_index') }}">Clients</a></li>
    </ul>
</div>
<div>
    <h6>WEB</h6>
    <ul>
        <li><a href="{{ path('op_webapp_page_index') }}">Pages</a></li>
    </ul>
</div>
<div>
    <h6>APPLICATION</h6>
    <ul>
        <li><a href="{{ path('op_admin_employed_index') }}">Membres de Paps</a></li>
        <li><a href="{{ path('op_admin_application_index') }}">Paramètres</a></li>
    </ul>
</div>