<div id="side" class="float-start">
    <div class="container" id="bloc_avatar">
        <div class="row">
            <div class="col">
                {% if app.user.avatarName is not null %}
                    <img class="img-fluid rounded-circle" src="{{asset('images/avatar/')}}{{app.user.avatarName}}" alt="{{app.user.avatarName}}" style="width:165px;height:165px; object-fit: cover;">
                {% else %}
                    <img class="img-fluid rounded-circle" src="{{ asset('images/jpeg/user.jpg') }}" style="width:165px;height:165px; object-fit: cover;">
                {% endif%}
                <p class="text-center">{{ app.user.firstName }} {{ app.user.lastName }}</p>
            </div>
        </div>
    </div>
    <div class="menu-items">
        <h6>TRANSACTION</h6>
        <ul>
            <li><a href="{{ path('op_gestapp_property_index') }}" class="{% if app.request.attributes.get("_route") == 'op_gestapp_property_index'%}active{% elseif app.request.attributes.get("_route") == 'op_gestapp_property_edit' %}active{% elseif app.request.attributes.get("_route") == 'op_gestapp_property_firstedit' %}active{% endif %}"><i class="fa-duotone fa-house-building"></i> Biens</a></li>
            <li><a href="{{ path('op_gestapp_customer_index') }}" class="{% if app.request.attributes.get("_route") == 'op_gestapp_customer_index' %}active{% endif %}"><i class="fa-duotone fa-people-arrows-left-right"></i> Clients</a></li>
            <li><a href="{{ path('op_gestapp_transaction_index') }}" class="{% if app.request.attributes.get("_route") == 'op_gestapp_transaction_index' %}active{% endif %}"><i class="fa-duotone fa-bookmark"></i> Ventes</a></li>
            <li><a href="{{ path('op_gestapp_reco_index') }}" class="{% if app.request.attributes.get("_route") == 'op_gestapp_transaction_index' %}active{% endif %}"><i class="fa-duotone fa-bookmark"></i> Recommandations</a></li>
            <li><a href="https://la-loupe.immo/#login" onclick="window.open(this.href); return false;" class="{% if app.request.attributes.get("_route") == 'op_gestapp_customer_index' %}active{% endif %}"><i class="fa-duotone fa-money-check-dollar-pen"></i> Avis de valeurs</a></li>
        </ul>
    </div>
    <div class="menu-items">
        <h6>RESSOURCES</h6>
        <ul>
            <li><a href="{{ path('op_gestapp_document_index') }}"><i class="fa-duotone fa-folder-open"></i> Documents</a></li>
            <li><a href="{{ path('op_cart_product_index') }}" class="{% if app.request.attributes.get("_route") == 'op_cart_product_index' %}active{% endif %}"><i class="fa-duotone fa-folder-open"></i> Supports Commerciaux</a></li>
        </ul>
    </div>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="menu-items">
        <h6>WEB</h6>
        <ul>
            <li><a href="{{ path('op_webapp_page_index') }}" class="{% if app.request.attributes.get("_route") == 'op_webapp_page_index' or app.request.attributes.get("_route") == 'op_webapp_page_edit'%}active{% endif %}"><i class="fa-duotone fa-pager"></i> Pages</a></li>
            <li><a href="{{ path('op_webapp_articles_index') }}" class="{% if app.request.attributes.get("_route") == 'op_webapp_articles_index' %}active{% endif %}"><i class="fa-duotone fa-newspaper"></i> Articles</a></li>
            <li><a href="{{ path('op_webapp_articles_actualites') }}" class="{% if app.request.attributes.get("_route") == 'op_webapp_articles_actualites' %}active{% endif %}"><i class="fa-duotone fa-newspaper"></i> Actualités</a></li>
        </ul>
    </div>
    {% endif %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="menu-items">
        <h6>APPLICATION</h6>
        <ul>
            <li><a href="{{ path('op_admin_contact_index') }}" class="{% if app.request.attributes.get("_route") == 'op_admin_application_index' %}active{% endif %}"><i class="fa-duotone fa-message-code"></i> Contacts mails</a></li>
            <li><a href="{{ path('op_admin_employed_index') }}" class="{% if app.request.attributes.get("_route") == 'op_admin_employed_index' or app.request.attributes.get("_route") == 'op_admin_employed_show' or app.request.attributes.get("_route") == 'op_admin_employed_edit'%}active{% endif %}"><i class="fa-duotone fa-users"></i> Membres de Paps</a></li>
            <li><a href="{{ path('op_admin_application_edit', {'id':1}) }}" class="{% if app.request.attributes.get("_route") == 'op_admin_application_index' %}active{% endif %}"><i class="fa-duotone fa-gear"></i> Paramètres</a></li>
        </ul>
    </div>
    {% endif %}
</div>