<div id="side" class="float-start">
    <div>
        <h5>Avatar Customer</h5>
    </div>
    <div class="menu-items">
        <h6>TRANSACTION</h6>
        <ul>
            <li><a href="{{ path('op_gestapp_property_index') }}" class="{% if app.request.attributes.get("_route") == 'op_gestapp_property_index' %}active{% endif %}"><i class="fa-duotone fa-house-building"></i> Biens</a></li>
            <li><a href="{{ path('op_gestapp_customer_index') }}" class="{% if app.request.attributes.get("_route") == 'op_gestapp_customer_index' %}active{% endif %}"><i class="fa-duotone fa-people-arrows-left-right"></i> Clients</a></li>
        </ul>
    </div>
    <div class="menu-items">
        <h6>WEB</h6>
        <ul>
            <li><a href="{{ path('op_webapp_page_index') }}" class="{% if app.request.attributes.get("_route") == 'op_webapp_page_index' %}active{% endif %}">Pages</a></li>
        </ul>
    </div>
    <div class="menu-items">
        <h6>APPLICATION</h6>
        <ul>
            <li><a href="{{ path('op_admin_employed_index') }}" class="{% if app.request.attributes.get("_route") == 'op_admin_employed_index' %}active{% endif %}">Membres de Paps</a></li>
            <li><a href="{{ path('op_admin_application_index') }}" class="{% if app.request.attributes.get("_route") == 'op_admin_application_index' %}active{% endif %}">Paramètres</a></li>
        </ul>
    </div>
</div>