<section class="property-edit">
    {{ form_start(form, {'attr': {'id': 'FormAddInformation'}}) }}
    <div class="row g-1 mt-2">
        <div class="col-sm-12">

                {% if property.refMandat is empty %}
                <div class="row" id="FormMandat">
                    <div class="col">
                        <p class="text-danger">
                            Ce bien ne possède pas de numéro de mandat.
                            Vous ne pourrez pas continuer sa création tant que ce champ est vide.
                        </p>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col">
                        {# STEP 1 : Ligne du titre de l'annonce du bien #}
                        <table class="table table-sm">
                            <tbody>
                                <tr>
                                    <td colspan="9"></td>
                                </tr>
                                <tr class="align-middle table-light">
                                    {% if property.dupMandat is not empty %}
                                    <td class="col-md-2">Numéro de Mandat : <b>{{ property.refMandat }}{{ property.dupMandat }}</b></td>
                                    {% else %}
                                    <td class="col-md-2">Numéro de Mandat : <b>&nbsp;{{ property.refMandat }}</b></td>
                                    {% endif %}
                                    <td class="col-md-1">{{ form_label(form.mandatAt, 'Date du mandat') }}</td>
                                    <td class="col-md-1">{{ form_widget(form.mandatAt, {'attr': {'class': 'form-control form-control-sm flatpickr'}}) }}</td>
                                    <td class="col-md-1">{{ form_label(form.ref, '') }}</td>
                                    <td class="col-md-1">{{ form_widget(form.ref, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
                                    <td class="col-md-1"></td>
                                    <td class="col-md-1">
                                        <div class="form-check">
                                            {{ form_widget(form.isWithoutExclusivity, {'attr': {'class': 'form-check-input'}}) }}
                                            {{ form_label(form.isWithoutExclusivity, '', {'label_attr': {'class':'form-check-label'}}) }}
                                        </div>
                                    </td>
                                    <td class="col-md-1">
                                        <div class="form-check">
                                            {{ form_widget(form.isSemiExclusivity, {'attr': {'class': 'form-check-input'}}) }}
                                            {{ form_label(form.isSemiExclusivity, '', {'label_attr': {'class':'form-check-label'}}) }}
                                        </div>
                                    </td>
                                    <td class="col-md-1">
                                        <div class="form-check">
                                            {{ form_widget(form.isWithExclusivity, {'attr': {'class': 'form-check-input'}}) }}
                                            {{ form_label(form.isWithExclusivity, '', {'label_attr': {'class':'form-check-label'}}) }}
                                        </div>
                                    </td>
                                    <td class="col-sm-1"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
        <hr>
        <div class="col-sm-9">
            <div class="card text-dark bg-light">
                <div class="card-body">
                    INFORMATIONS DU BIEN
                    <input id="property_id" type="hidden" value="{{ property.id }}">
                    <hr>
                    {# STEP 1 : Ligne du titre de l'annonce du bien #}
                    <div class="row mb-1 mt-1 g-1">
                        {{ form_errors(form.name) }}
                        {{ form_label(form.name, '', {'label_attr': {'class':'col-sm-2  form-label'}}) }}
                        <div class="col-10">
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>
                    </div>
                    {# STEP 1 : Ligne de l'adresse physique du bien #}
                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-2">
                            {{ form_label(form.adress, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-8">
                            {{ form_errors(form.adress) }}
                            {{ form_widget(form.adress, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Ligne 1'}}) }}
                        </div>
                    </div>
                    <div class="row mb-1 mt-1 g-1">
                        <div class="offset-2 col-8">
                            {{ form_widget(form.complement, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Ligne 2'}}) }}
                        </div>
                    </div>
                    {# STEP 1 : Ligne de l'adresse physique du bien - Cp  #}
                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-2">
                            {{ form_label(form.city, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-2">
                            {{ form_errors(form.zipcode) }}
                            {{ form_widget(form.zipcode, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Code Postal'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_errors(form.city) }}
                            {{ form_widget(form.city, {'attr': {'class': 'form-select form-select-sm', 'placeholder':'Commune'}}) }}
                        </div>
                    </div>
                    {# STEP 1 : Ligna de l'annonce #}
                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-2">
                            {{ form_label(form.annonce, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-10">
                            {{ form_errors(form.annonce) }}
                            {{ form_widget(form.annonce, {'attr': {'class': 'form-control form-control-sm tinymce', 'placeholder':"Description de l'annonce"}}) }}
                        </div>
                    </div>
                    {# STEP 1 : Ligne des Pièces et chambres #}
                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-2">
                            {{ form_label(form.piece, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-2">
                            {{ form_errors(form.annonce) }}
                            {{ form_widget(form.piece, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>
                        <div class="col-1"></div>
                        <div class="col-2">
                            {{ form_label(form.room, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-2">
                            {{ form_widget(form.room, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>
                    </div>
                    <div class="row mb-1 mt-1 g-1">
                        {{ form_label(form.constructionAt, '', {'label_attr': {'class':'col-sm-3  form-label'}}) }}
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-calendar-days"></i></span>
                                {{ form_widget(form.constructionAt, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-dark bg-light">
                <div class="card-body">
                    DESTINATION DU BIEN
                    <hr>
                    <p>Compléter ces informations pour garantir la publication du bien sur les plateformes de diffusion.</p>
                    <table class="table table-sm table-borderless">
                        <tr class="align-middle">
                            <td class="col-5">{{ form_label(form.projet, '', {'label_attr': {'class':'m-0 form-label'}}) }}</td>
                            <td class="col-6">{{ form_widget(form.projet, {'attr': {'class': 'form-select form-select-sm'}}) }}</td>
                            <td class="col-1"></td>
                        </tr>
                        <tr class="align-middle">
                            <td>{{ form_label(form.propertyDefinition, '', {'label_attr': {'class':'m-0 form-label'}}) }}</td>
                            <td>{{ form_widget(form.propertyDefinition, {'attr': {'class': 'form-select form-select-sm'}}) }}</td>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td><button id="addPropertyDefinition" class="btn btn-sm btn-secondary"><i class="fa-duotone fa-circle-plus"></i></button></td>
                            {% else %}
                            <td><button id="addPropertyDefinition" class="btn btn-sm btn-light" disabled><i class="fa-duotone fa-circle-plus text-light"></i></button></td>
                            {% endif %}
                        </tr>
                        <tr class="align-middle">
                            <td>{{ form_label(form.sscategory, '', {'label_attr': {'class':'m-0 form-label'}}) }}</td>
                            <td>{{ form_widget(form.sscategory, {'attr': {'class': 'form-select form-select-sm'}}) }}</td>
                            <td></td>
                        </tr>
                        <tr id="RowFamily" class="align-middle">
                            <td class="col-5">{{ form_label(form.family, '', {'label_attr': {'class':'m-0 form-label'}}) }}</td>
                            <td class="col-6">{{ form_widget(form.family, {'attr': {'class': 'form-select form-select-sm'}}) }}</td>
                            <td class="col-1"></td>
                        </tr>
                        <tr id="rowRubric" class="align-middle" style="display:none">
                            <td class="col-5">{{ form_label(form.rubric, '', {'label_attr': {'class':'m-0 form-label'}}) }}</td>
                            <td class="col-6">{{ form_widget(form.rubric, {'attr': {'class': 'form-select form-select-sm'}}) }}</td>
                            <td class="col-1"></td>
                        </tr>
                        <tr id="rowRubricss" class="align-middle" style="display:none">
                            <td>{{ form_label(form.rubricss, '', {'label_attr': {'class':'m-0 form-label'}}) }}</td>
                            <td>{{ form_widget(form.rubricss, {'attr': {'class': 'form-select form-select-sm'}}) }}</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="mt-1">
                {% if property.isIncreating == 1 %}
                <a id="stepBack" href="{{ path('op_gestapp_property_index') }}" class="btn btn-sm btn-outline-dark disabled"><i class="fa-solid fa-backward-step"></i> Retour</a>
                <button type="submit" id="stepInformations" class="btn btn-sm btn-outline-primary" onclick="tinyMCE.triggerSave(true,true);">{{ button_label|default("Valider et passer à l'étape vendeurs") }}</button>
                {% else %}
                <a id="stepBack" href="{{ path('op_gestapp_property_index') }}" class="btn btn-sm btn-outline-dark"><i class="fa-solid fa-backward-step"></i> Retour</a>
                <button id="stepInformations2" class="btn btn-sm btn-outline-primary" onclick="tinyMCE.triggerSave(true,true);">{{ button_label|default("Valider") }}</button>
                {% endif %}
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</section>