<section class="property-edit">
    {{ form_start(form, {'attr': {'id': 'FormAddInformation'}}) }}
    <div class="row g-1 mt-2">
        <div class="col-sm-12">
            <div class="alert alert-light">
                {% if property.refMandat is empty %}
                <div class="row" id="FormMandat">
                    <div class="col">
                        <p class="text-danger">
                            Ce bien ne possède pas de numéro de mandat.
                            Vous ne pourrez pas continuer sa création tant que ce champs est vide.
                        </p>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col">
                        {# STEP 1 : Ligne du titre de l'annonce du bien #}
                        <div class="row g-1">
                            {# Ligne ref Mandat #}
                            <div class="col-4 m-0">
                                <div class="row mb-1 mt-1 g-1">
                                    {{ form_errors(form.refMandat) }}
                                    {{ form_label(form.refMandat, '', {'label_attr': {'class':'col-sm-4  form-label'}}) }}
                                    <div class="col-4">
                                        {{ form_errors(form.refMandat) }}
                                        {{ form_widget(form.refMandat, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                    </div>
                                </div>
                            </div>
                            {# Ligne référence du bien #}
                            <div class="col-4 m-0">
                                <div class="row mb-1 mt-1 g-1">
                                    {{ form_errors(form.ref) }}
                                    {{ form_label(form.ref, '', {'label_attr': {'class':'col-sm-3  form-label'}}) }}
                                    <div class="col-4">
                                        {{ form_widget(form.ref, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                    </div>
                                </div>
                            </div>
                            {# Ligne Exclu du bien #}
                            <div class="col-4 m-0">
                                <div class="row">
                                    <div class="col-4 align-items-center">
                                        <fieldset>
                                            <div class="form-check">
                                                {{ form_widget(form.isWithoutExclusivity, {'attr': {'class': 'form-check-input'}}) }}
                                                {{ form_label(form.isWithoutExclusivity, '', {'label_attr': {'class':'form-check-label'}}) }}
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-4 align-items-center">
                                        <fieldset>
                                            <div class="form-check">
                                                {{ form_widget(form.isSemiExclusivity, {'attr': {'class': 'form-check-input'}}) }}
                                                {{ form_label(form.isSemiExclusivity, '', {'label_attr': {'class':'form-check-label'}}) }}
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-4" align-items-center>
                                        <fieldset>
                                            <div class="form-check">
                                                {{ form_widget(form.isWithExclusivity, {'attr': {'class': 'form-check-input'}}) }}
                                                {{ form_label(form.isWithExclusivity, '', {'label_attr': {'class':'form-check-label'}}) }}
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-sm-9">
            <div class="card text-dark bg-light">
                <div class="card-body">
                    INFORMATIONS DU BIEN
                    <input id="property_id" type="hidden" value="{{ property.id }}">
                    <hr>
                    {# STEP 1 : Ligne du titre de l'annonce du bien #}
                    <div class="row mb-1 mt-1 g-1">
                        {{ form_errors(form.name) }}
                        {{ form_label(form.name, '', {'label_attr': {'class':'col-sm-2  form-label'}}) }}
                        <div class="col-10">
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>
                    </div>
                    {# STEP 1 : Ligne de l'adresse physique du bien #}
                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-2">
                            {{ form_label(form.adress, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-8">
                            {{ form_errors(form.adress) }}
                            {{ form_widget(form.adress, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Ligne 1'}}) }}
                        </div>
                    </div>
                    <div class="row mb-1 mt-1 g-1">
                        <div class="offset-2 col-8">
                            {{ form_widget(form.complement, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Ligne 2'}}) }}
                        </div>
                    </div>
                    {# STEP 1 : Ligne de l'adresse physique du bien - Cp  #}
                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-2">
                            {{ form_label(form.city, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-2">
                            {{ form_errors(form.zipcode) }}
                            {{ form_widget(form.zipcode, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Code Postal'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_errors(form.city) }}
                            {{ form_widget(form.city, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Commune'}}) }}
                        </div>
                    </div>
                    {# STEP 1 : Ligna de l'annonce #}
                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-2">
                            {{ form_label(form.annonce, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-10">
                            {{ form_errors(form.annonce) }}
                            {{ form_widget(form.annonce, {'attr': {'class': 'form-control form-control-sm tinymce', 'placeholder':"Description de l'annonce"}}) }}
                        </div>
                    </div>
                    {# STEP 1 : Ligne des Pièces et chambres #}
                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-2">
                            {{ form_label(form.piece, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-2">
                            {{ form_errors(form.annonce) }}
                            {{ form_widget(form.piece, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>
                        <div class="col-1"></div>
                        <div class="col-2">
                            {{ form_label(form.room, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-2">
                            {{ form_widget(form.room, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>
                    </div>
                    <div class="row mb-1 mt-1 g-1">
                        {{ form_label(form.constructionAt, '', {'label_attr': {'class':'col-sm-3  form-label'}}) }}
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-calendar-days"></i></span>
                                {{ form_widget(form.constructionAt, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-dark bg-light">
                <div class="card-body">
                    DESTINATION DU BIEN
                    <hr>
                    <p>Compléter ces informations pour garantir la publication du bien sur les plateformes de diffusion.</p>
                    {# Type du bien #}
                    <div class="row mb-1 g-1">
                        {{ form_label(form.projet, '', {'label_attr': {'class':'col-sm-3  form-label'}}) }}
                        <div class="col-8">
                            {{ form_widget(form.projet) }}
                        </div>
                    </div>

                    {# Type du bien #}
                    <div class="row mb-1 g-1">
                        {{ form_label(form.propertyDefinition, '', {'label_attr': {'class':'col-sm-3  form-label'}}) }}
                        <div class="col-8">
                            {{ form_widget(form.propertyDefinition) }}
                        </div>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <div class="col-1">
                                <button id="addPropertyDefinition" class="btn btn-sm btn-secondary"><i class="fa-duotone fa-circle-plus"></i></button>
                            </div>
                        {% else %}
                            <div class="col-1">
                                <button id="addPropertyDefinition" class="btn btn-sm btn-light" disabled><i class="fa-duotone fa-circle-plus text-light"></i></button>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row mb-1 g-1">
                        <div class="col-3">
                            {{ form_label(form.sscategory, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-8">
                            {{ form_widget(form.sscategory) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="mt-1">
                {% if property.isIncreating == 1 %}
                <a id="stepBack" href="{{ path('op_gestapp_property_index') }}" class="btn btn-sm btn-outline-dark disabled"><i class="fa-solid fa-backward-step"></i> Retour</a>
                <button type="submit" id="stepInformations" class="btn btn-sm btn-outline-primary">{{ button_label|default("Valider et passer à l'étape vendeurs") }}</button>
                {% else %}
                <a id="stepBack" href="{{ path('op_gestapp_property_index') }}" class="btn btn-sm btn-outline-dark"><i class="fa-solid fa-backward-step"></i> Retour</a>
                <a id="stepInformations2" class="btn btn-sm btn-outline-primary">{{ button_label|default("Valider") }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</section>