<div class="row mb-1 mt-1 g-1">
    <div class="col-6">
        <span class="align-middle">{{ form_label(form.price, '', {'label_attr': {'class':'form-label'}}) }}</span>
    </div>
    <div class="col-6">
        {{ form_widget(form.price, {'attr': {'class': 'form-control form-control-sm'}}) }}
    </div>
    <div class="col-6">
        {{ form_label(form.honoraires, '', {'label_attr': {'class':'form-label'}}) }}
    </div>
    <div class="col-6">
        {{ form_widget(form.honoraires, {'attr': {'class': 'form-control form-control-sm'}}) }}
    </div>
    <hr>
    <div class="col-6">
        {{ form_label(form.priceFai, '', {'label_attr': {'class':'form-label'}}) }}
    </div>
    <div class="col-6">
        {{ form_widget(form.priceFai, {'attr': {'class': 'form-control form-control-sm'}}) }}
    </div>
    <a id="BtnAvenantForm" class="btn btn-sm btn-outline-primary">Créer l'avenant</a>
</div>