<section class="property-edit">
    {{ form_start(form, {'attr': {'id': 'FormAddEstimate'}}) }}
    <div class="row g-1 mt-2">
        <div class="col-2">
            {# Bloc des surfaces #}
            <div class="card text-dark bg-light">
                <div class="card-body">
                    SURFACES
                    <hr>
                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-6">
                            {{ form_label(form.surfaceLand, 'Terrain', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.surfaceLand, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.surfaceHome, 'Habitation', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.surfaceHome, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            {# Bloc des Estimations #}
            <div class="card text-dark bg-light">
                <div class="card-body">
                    Prix de vente
                    <hr>
                    <div id="detailPrice">
                        {% if property.isIncreating > 0 %}
                            <div class="row mb-1 mt-1 g-1">
                                <div class="col-6">
                                    <span class="align-middle">{{ form_label(form.price, '', {'label_attr': {'class':'form-label'}}) }}</span>
                                </div>
                                <div class="col-6">
                                    {{ form_widget(form.price, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_label(form.honoraires, '', {'label_attr': {'class':'form-label'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_widget(form.honoraires, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                </div>
                                <hr>
                                <div class="col-6">
                                    {{ form_label(form.priceFai, '', {'label_attr': {'class':'form-label'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_widget(form.priceFai, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                </div>
                            </div>
                        {% else %}
                            <div class="row mb-1 mt-1 g-1">
                                <p>
                                    <small>Le prix de vente et les honoraires ont été fixés à la création du bien. <br>
                                        Pour toute modification, cliquez sur le bouton ci-dessous.
                                    </small>
                                </p>
                                <a id="addAvenant" class="btn btn-sm btn-outline-dark">Créer un avenant</a>
                                <div class="col-6">
                                    <span class="align-middle">{{ form_label(form.price, '', {'label_attr': {'class':'form-label'}}) }}</span>
                                </div>
                                <div class="col-6">
                                    {{ form_widget(form.price, {'attr': {'class': 'form-control form-control-sm', 'disabled':'true'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_label(form.honoraires, '', {'label_attr': {'class':'form-label'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_widget(form.honoraires, {'attr': {'class': 'form-control form-control-sm', 'disabled':'true'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_label(form.priceFai, '', {'label_attr': {'class':'form-label'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_widget(form.priceFai, {'attr': {'class': 'form-control form-control-sm', 'disabled':'true'}}) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% if property.isIncreating == 0 %}
                    <div id="AddAvenant">
                        {{ render(controller('App\\Controller\\Gestapp\\PropertyController::AddAvenant', {'id':property.id})) }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-3">
            {# Bloc des diagnostiques #}
            <div class="card text-dark bg-light">
                <div class="card-body">
                    DPE & GPE
                    <hr>
                    <div class="row mb-1 mt-1 g-1">
                        {{ form_label(form.dpeAt, 'Date', {'label_attr': {'class':'col-sm-6  form-label'}}) }}
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-calendar-days"></i></span>
                                {{ form_widget(form.dpeAt, {'attr': {'class': 'form-control form-control-sm flatpickr'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-6">
                            <span class="align-middle">{{ form_label(form.diagDpe, 'DPE', {'label_attr': {'class':'form-label'}}) }}</span>
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.diagDpe, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.diagGpe, 'GPE', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.diagGpe, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>
                        <div class="col-12"><p><b>Estimation énergétique annuelle</b></p></div>
                        <div class="row mb-1 mt-1 g-1">
                            {{ form_label(form.eeaYear, '', {'label_attr': {'class':'col-sm-6  form-label'}}) }}
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-calendar-days"></i></span>
                                    {{ form_widget(form.eeaYear, {'attr': {'class': 'form-control form-control-sm flatpickrmonth'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            {{ form_label(form.dpeEstimateEnergyDown, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.dpeEstimateEnergyDown, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.dpeEstimateEnergyUp, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.dpeEstimateEnergyUp, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            {# Bloc des cadastres #}
            <div class="card text-dark bg-light">
                <div class="card-body">
                    CADASTRE
                    <hr>
                    {% include('include/form/input.html.twig') with {
                        'form_label':form_label(form.cadasterZone, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
                        'form_input':form_widget(form.cadasterZone, {'attr': {'class': 'form-control form-control-sm'}})
                    }
                    %}

                    {% include('include/form/input-numerique.html.twig') with {
                        'form_label':form_label(form.cadasterNum, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
                        'form_input':form_widget(form.cadasterNum, {'attr': {'class': 'form-control form-control-sm'}})
                    }
                    %}

                    {% include('include/form/input.html.twig') with {
                        'form_label':form_label(form.cadasterSurface, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
                        'form_input':form_widget(form.cadasterSurface, {'attr': {'class': 'form-control form-control-sm'}})
                    }
                    %}
                    <input type="hidden" name="token" value="{{ csrf_token('step-chiffres') }}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="mt-1">
                {% if property.isIncreating == 1 %}
                <a id="previousEstimate" class="btn btn-sm btn-outline-dark"><i class="fa-solid fa-backward-step"></i> Retour</a>
                <a id="stepEstimate" class="btn btn-sm btn-outline-primary">{{ button_label|default("Valider et passer à l'étape options") }}</a>
                {% else %}
                <a id="previousEstimate" href="{{ path('op_gestapp_property_index') }}" class="btn btn-sm btn-outline-dark"><i class="fa-solid fa-backward-step"></i> Retour</a>
                <a id="stepEstimate2" class="btn btn-sm btn-outline-primary">{{ button_label|default("Valider") }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</section>