<section class="property-edit">
    {{ form_start(form, {'attr': {'id': 'FormAddEstimate'}}) }}
    <div class="row g-1 mt-2">
        <div class="col-4">
            {# Bloc des Estimations #}
            <div id="sale" class="card text-dark">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>VENTE IMMOBILIERE</div>
                    </div>
                    <hr>
                    <div id="detailPrice">
                        {% if property.isIncreating > 0 %}
                            <div class="row">
                                <div class="col-5">
                                    <span class="align-middle">{{ form_label(form.price, '', {'label_attr': {'class':'form-label'}}) }}</span>
                                </div>
                                <div class="col-7">
                                    {{ form_widget(form.price, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    {{ form_label(form.honoraires, '', {'label_attr': {'class':'form-label'}}) }}
                                </div>
                                <div class="col-7">
                                    {{ form_widget(form.honoraires, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-5">
                                    {{ form_label(form.priceFai, '', {'label_attr': {'class':'form-label'}}) }}
                                </div>
                                <div class="col-7">
                                    {{ form_widget(form.priceFai, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-12">
                                    <p>
                                        <small>Le prix de vente et les honoraires ont été fixés à la création du bien. <br>
                                            Pour toute modification, cliquez sur le bouton ci-dessous.
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a id="addAvenant" class="btn btn-sm btn-outline-dark w-100">Créer un avenant</a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-5">
                                    <span class="align-middle">{{ form_label(form.price, '', {'label_attr': {'class':'form-label'}}) }}</span>
                                </div>
                                <div class="col-7">
                                    {{ form_widget(form.price, {'attr': {'class': 'form-control form-control-sm', 'disabled':'true'}}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    {{ form_label(form.honoraires, '', {'label_attr': {'class':'form-label'}}) }}
                                </div>
                                <div class="col-7">
                                    {{ form_widget(form.honoraires, {'attr': {'class': 'form-control form-control-sm', 'disabled':'true'}}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    {{ form_label(form.priceFai, '', {'label_attr': {'class':'form-label'}}) }}
                                </div>
                                <div class="col-7">
                                    {{ form_widget(form.priceFai, {'attr': {'class': 'form-control form-control-sm', 'disabled':'true'}}) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% if property.isIncreating == 0 %}
                    <div id="AddAvenant">
                        {{ render(controller('App\\Controller\\Gestapp\\PropertyController::AddAvenant', {'id':property.id})) }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div id="rent" class="card text-dark bg-light">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>LOCATION IMMOBILIERE</div>
                    </div>
                    <hr>
                    <div id="detailPrice">
                        <div class="row">
                            <div class="col-5">
                                <span class="align-middle">{{ form_label(form.rent, '', {'label_attr': {'class':'form-label'}}) }}</span>
                            </div>
                            <div class="col-7">
                                {{ form_widget(form.rent, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                {{ form_label(form.rentCharge, '', {'label_attr': {'class':'form-label'}}) }}
                            </div>
                            <div class="col-7">
                                {{ form_widget(form.rentCharge, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <span class="align-middle">{{ form_label(form.rentChargeModsPayment, '', {'label_attr': {'class':'form-label'}}) }}</span>
                            </div>
                            <div class="col-7">
                                {{ form_widget(form.rentChargeModsPayment, {'attr': {'class': 'form-select form-select-sm'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <span class="align-middle">{{ form_label(form.rentChargeHonoraire, '', {'label_attr': {'class':'form-label'}}) }}</span>
                            </div>
                            <div class="col-7">
                                {{ form_widget(form.rentChargeHonoraire, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            </div>
                        </div>
                        {% if property.family.id == 5 %}
                        <div class="row" id="warrantyDeposit">
                            <div class="col-5">
                                <span class="align-middle">{{ form_label(form.warrantyDeposit, '', {'label_attr': {'class':'form-label'}}) }}</span>
                            </div>
                            <div class="col-7">
                                {{ form_widget(form.warrantyDeposit, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-6">
                                {{ form_label(form.rentCC) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.rentCC) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ form_label(form.rentHT) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.rentHT) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rentCommerce" class="card text-dark bg-light">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <p>LOCATIONS COMMERCIALES</p>
                            <p>Uniquement pour les bureaux, commerces, bâtiments, boutiques, local et entreprises.</p>
                        </div>
                    </div>
                    <hr>
                    <div id="detailPrice">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check form-switch form-check-reverse">
                                    {{ form_label(form.commerceRentalAnnual, '', {'label_attr': {'class':'form-check-label'}}) }}
                                    {{ form_widget(form.commerceRentalAnnual, {'attr': {'class': 'form-check-input'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <span class="align-middle">{{ form_label(form.commerceAnnualRentGlobal, '', {'label_attr': {'class':'form-label'}}) }}</span>
                            </div>
                            <div class="col-4">
                                <div class="input-group input-group-sm">
                                    {{ form_widget(form.commerceAnnualRentGlobal, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ form_label(form.commerceAnnualChargeRentGlobal, '', {'label_attr': {'class':'form-label'}}) }}
                            </div>
                            <div class="col-4">
                                <div class="input-group input-group-sm">
                                    {{ form_widget(form.commerceAnnualChargeRentGlobal, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <span class="align-middle">{{ form_label(form.commerceAnnualRentMeter, '', {'label_attr': {'class':'form-label'}}) }}</span>
                            </div>
                            <div class="col-4">
                                <div class="input-group input-group-sm">
                                    {{ form_widget(form.commerceAnnualRentMeter, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <span class="align-middle">{{ form_label(form.commerceAnnualChargeRentMeter, '', {'label_attr': {'class':'form-label'}}) }}</span>
                            </div>
                            <div class="col-4">
                                <div class="input-group input-group-sm">
                                    {{ form_widget(form.commerceAnnualChargeRentMeter, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                        </div>
                        {% if property.family.id == 4 and property.rubric.id == 8 %}
                        <div class="row" id="warrantyDepositCommerce">
                            <div class="col-6">
                                <span class="align-middle">{{ form_label(form.warrantyDeposit, '', {'label_attr': {'class':'form-label'}}) }}</span>
                            </div>
                            <div class="col-4">
                                {{ form_widget(form.warrantyDeposit, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-6">
                                {{ form_label(form.commerceChargeRentMonthHt) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.commerceChargeRentMonthHt) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ form_label(form.commerceRentAnnualCc) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.commerceRentAnnualCc) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ form_label(form.commerceRentAnnualHt) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.commerceRentAnnualHt) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ form_label(form.commerceChargeRentAnnualHt) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.commerceChargeRentAnnualHt) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ form_label(form.commerceRentAnnualMeterCc) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.commerceRentAnnualMeterCc) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ form_label(form.commerceRentAnnualMeterHt) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.commerceRentAnnualMeterHt) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ form_label(form.commerceChargeRentAnnualMeterHt) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.commerceChargeRentAnnualMeterHt) }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                {{ form_label(form.commerceSurfaceDivisible) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.commerceSurfaceDivisible) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <span class="align-middle">{{ form_label(form.commerceSurfaceDivisibleMin, '', {'label_attr': {'class':'form-label'}}) }}</span>
                            </div>
                            <div class="col-4">
                                <div class="input-group input-group-sm">
                                    {{ form_widget(form.commerceSurfaceDivisibleMin, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                    <span class="input-group-text">M²</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <span class="align-middle">{{ form_label(form.commerceSurfaceDivisibleMax, '', {'label_attr': {'class':'form-label'}}) }}</span>
                            </div>
                            <div class="col-4">
                                <div class="input-group input-group-sm">
                                    {{ form_widget(form.commerceSurfaceDivisibleMax, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                    <span class="input-group-text">M²</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            {# Bloc des diagnostiques #}
            <div class="card text-dark bg-light">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>DPE & GES</div>
                    </div>
                    <hr>
                    <div class="row g-1">
                        <div class="col-5">
                            {{ form_label(form.diagChoice, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-7">
                            {{ form_widget(form.diagChoice) }}
                        </div>
                    </div>
                    <div id="block_dpeAt" class="row g-1">
                        {{ form_label(form.dpeAt, "Date d'expertise", {'label_attr': {'class':'col-sm-6  form-label'}}) }}
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-calendar-days"></i></span>
                                {{ form_widget(form.dpeAt, {'attr': {'class': 'form-control form-control-sm flatpickr'}}) }}
                            </div>
                        </div>
                    </div>
                    <div id="block_diagResult" class="row g-1">
                        <div class="col-6">
                            <span class="align-middle">{{ form_label(form.diagDpe, 'DPE', {'label_attr': {'class':'form-label'}}) }}</span>
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.diagDpe, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="col-6">
                            {{ form_label(form.diagGes, 'GES', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.diagGes, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>
                    </div>
                    <div id="block_estimation" class="row g-1">
                        <div class="col-12"><p><b>Estimation énergétique annuelle</b></p></div>
                        <div class="row mb-1 mt-1 g-1">
                            {{ form_label(form.eeaYear, '', {'label_attr': {'class':'col-sm-6  form-label'}}) }}
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-calendar-days"></i></span>
                                    {{ form_widget(form.eeaYear, {'attr': {'class': 'form-control form-control-sm flatpickr'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            {{ form_label(form.dpeEstimateEnergyDown, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.dpeEstimateEnergyDown, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.dpeEstimateEnergyUp, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.dpeEstimateEnergyUp, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            {# Bloc des cadastres #}
            <div class="card text-dark bg-light">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>CADASTRE - <a href="https://cadastre.data.gouv.fr/map?style=ortho#5/46.9/1.7" target="_blank"><i class="fa-regular fa-earth-europe"></i></a></div>
                        <div>
                            <button id="openAddCadaster" type="button" class="btn btn-default btn-sm" data-bs-toggle="modal" data-bs-target="#addCadaster" data-bs-whatever="{{ property.id }}">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div id="listeCadaster">
                        {{ render(controller('App\\Controller\\Gestapp\\CadasterController::ListByProperty', {'idproperty':property.id})) }}
                    </div>
                    <input type="hidden" name="token" value="{{ csrf_token('step-chiffres') }}"/>
                </div>
            </div>
            {# Bloc des surfaces #}
            <div class="card text-dark bg-light">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>SURFACES</div>
                    </div>
                    <hr>
                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-6">
                            {{ form_label(form.surfaceLand, 'Terrain', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.surfaceLand, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.surfaceHome, 'Habitable', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.surfaceHome, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="mt-1">
                {% if property.isIncreating == 1 %}
                <a id="previousEstimate" class="btn btn-sm btn-outline-dark"><i class="fa-solid fa-backward-step"></i> Retour</a>
                <a id="stepEstimate" class="btn btn-sm btn-outline-primary">{{ button_label|default("Valider et passer à l'étape options") }}</a>
                {% else %}
                <a id="previousEstimate" href="{{ path('op_gestapp_property_index') }}" class="btn btn-sm btn-outline-dark"><i class="fa-solid fa-backward-step"></i> Retour</a>
                <a id="stepEstimate2" class="btn btn-sm btn-outline-primary">{{ button_label|default("Valider") }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</section>