{{ form_start(form) }}
{% if transaction.actePdfFilename is null and transaction.dateAtSale is null %}
    {# Il n'y a pas de promesse de vente et pas de date de signature enregistrée en BDD #}
    <td>
        <span id="rowEmptyActePdf">-</span>
        <div class="input-group w-100">
            {{ form_widget(form.actePdfFilename, {'attr': {'class':'form-control form-control-sm d-none'}}) }}
            <button class="btn btn-sm btn-secondary d-none" type="button" id="btnAddActePdf"><i class="fa-light fa-check"></i></button>
        </div>
    </td>
    <td>
        {{ form_widget(form.isSupprActePdf, {'attr': {'class':'form-control form-control-sm d-none'}}) }}
    </td>
{% elseif transaction.actePdfFilename is null and transaction.dateAtSale is not null %}
    {# Il n'y a pas de promesse de vente mais une date de signature est enregistrée en BDD #}
    <td>
        <div class="input-group w-100">
            {{ form_widget(form.actePdfFilename, {'attr': {'class':'form-control form-control-sm'}}) }}
            {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
                {# Dans ce cas, on valide le document par un référent #}
                <button class="btn btn-sm btn-secondary" type="button" id="btnAddActePdf"><i class="fa-light fa-check"></i></button>
            {% endif %}
            {% if 'ROLE_EMPLOYED' in app.user.roles %}
                {# Dans ce cas, on valide le document par un référent #}
                <button class="btn btn-sm btn-secondary" type="button" id="btnAddActePdfbyColl"><i class="fa-light fa-check"></i></button>
            {% endif %}
        </div>
    </td>
    <td>
        <div class="form-check d-none">
            {{ form_widget(form.isSupprActePdf, {'attr': {'class':'form-check-input'}}) }}
            <label class="form-check-label" for="flexCheckDefault">
                Supprimer
            </label>
        </div>
    </td>
{% elseif transaction.actePdfFilename is not null and transaction.dateAtSale is not null %}
    {# Dans ce cas, le fichier est présent et une date de promesse est présente en BDD #}
    {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
        <td>
            {% if transaction.refEmployed is not same as app.user.id and transaction.isValidActepdf == 0 %}
                {# Présent si le document est présente par un collaborateur #}
                <p class="alert alert-warning mb-0 p-1">Document à contrôler {{ form_widget(form.actePdfFilename, {'attr': {'class':'form-control form-control-sm d-none' }}) }}</p>
            {% else %}
                <div class="input-group w-100">
                    {{ form_widget(form.actePdfFilename, {'attr': {'class':'form-control form-control-sm' }}) }}
                    <button class="btn btn-sm btn-info" type="button" id="btnEditActePdf"><i class="fa-light fa-arrows-rotate"></i></button>
                </div>
            {% endif %}
        </td>
        <td>
            {% set refyear = transaction.property.ref|split('/',2)|first %}
            {% set refnumber = transaction.property.ref|split('/',2)|last %}
            <button id="showActe" type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#modalActe"><i class="fa-duotone fa-eye"></i> Voir le document</button>
            <!-- Modal -->
            <div class="modal fade" id="modalActe" tabindex="-1" aria-labelledby="modalActe" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Attestation de l'acte de vente</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="padding: 0;">
                            <div id="externaFile">
                                <iframe src="{{ asset('properties/'~ refyear ~'-'~ refnumber ~'/documents/' ~ transaction.actePdfFilename) }}" width="100%" height="500px"></iframe>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        {% if transaction.refEmployed is not same as app.user.id and transaction.isValidActepdf == 0 %}
            <td>
                <a href="{{ path('op_gestapp_transaction_validactepdf', {'id': transaction.id}) }}" class="btn btn-sm btn-success" id="btnAddActePdfControl"><i class="fa-light fa-check"></i> Je valide</a>
                <a href="{{ path('op_gestapp_transaction_errordocument', {'id': transaction.id, 'name':transaction.actePdfFilename}) }}" class="btn btn-sm btn-danger" id="btnDocumentPdfError"><i class="fa-sharp fa-regular fa-xmark"></i> Erreur de document</a>
            </td>
        {% endif %}
        <td>
            <div class="form-check d-none ">
                {{ form_widget(form.isSupprActePdf, {'attr': {'class':'form-check-input'}}) }}
                <label class="form-check-label" for="flexCheckDefault21">
                    Supprimer
                </label>
            </div>
        </td>
    {% endif %}
    {% if 'ROLE_EMPLOYED' in app.user.roles and transaction.isValidActepdf == 0 %}
        {# Dans le cas où le fichier a été déposé par le collaborateur mais non validé par le référent #}
        <td>
            <p class="alert alert-warning mb-0 p-1"><i class="fa-duotone fa-hourglass-start"></i> Le document doit être vérifié par votre référent.</p>
        </td>
        <td class="d-none">
            {{ form_widget(form.actePdfFilename, {'attr': {'class':'form-control form-control-sm' }}) }}
            {{ form_widget(form.isSupprActePdf, {'attr': {'class':'form-control form-control-sm d-none'}}) }}
        </td>
    {% endif %}
    {% if 'ROLE_EMPLOYED' in app.user.roles and transaction.isValidActepdf == 1 %}
        {# Le ficheir déposé a été vérifié, il peut être modifier si besoin. #}
        <td>
            <div class="input-group w-100">
                {{ form_widget(form.actePdfFilename, {'attr': {'class':'form-control form-control-sm' }}) }}
                <button class="btn btn-sm btn-info" type="button" id="btnEditActePdf"><i class="fa-light fa-arrows-rotate"></i></button>
            </div>
        </td>
        <td>
            {% set refyear = transaction.property.ref|split('/',2)|first %}
            {% set refnumber = transaction.property.ref|split('/',2)|last %}
            <button id="showActe" type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#modalActe"><i class="fa-duotone fa-eye"></i> Voir le document</button>
            <!-- Modal -->
            <div class="modal fade" id="modalActe" tabindex="-1" aria-labelledby="modalActe" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Attestion de l'acte de vente</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="padding: 0;">
                            <div id="externaFile">
                                <iframe src="{{ asset('properties/'~ refyear ~'-'~ refnumber ~'/documents/' ~ transaction.actePdfFilename) }}" width="100%" height="500px"></iframe>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="d-none">
                {{ form_widget(form.isSupprActePdf, {'attr': {'class':''}}) }} {{ form_label(form.isSupprActePdf) }}
            </div>
        </td>
    {% endif %}
{% endif %}
{{ form_end(form) }}