{{ form_start(form) }}
{% if transaction.dateAtSale is null and transaction.isValidPromisepdf == 0 %}
    <td>
        <span id="rowEmptyDateActe">-</span>
        <div class="input-group w-50">
            {{ form_widget(form.dateAtSale, {'attr': {'class':'form-control form-control-sm w-25 flatpickr flatpickr-input d-none'}}) }}
            <button class="btn btn-sm btn-secondary d-none" type="button" id="btnAddDateActe"><i class="fa-light fa-check"></i></button>
        </div>
    </td>
{% elseif transaction.dateAtSale is null and transaction.isValidPromisepdf == 1 %}
    <td>
        {% if transaction.addCollTransacs|length > 0%}
            {% for AddColl in transaction.addCollTransacs|filter(t => t.refEmployed.id == app.user.id ) %}
            -
            {% endfor %}
        {% else %}
            <div class="input-group w-50">
                {{ form_widget(form.dateAtSale, {'attr': {'class':'form-control form-control-sm w-25 flatpickr flatpickr-input'}}) }}
                <button class="btn btn-sm btn-secondary" type="button" id="btnAddDatePromise"><i class="fa-light fa-check"></i></button>
            </div>
        {% endif %}
    </td>
{% elseif transaction.dateAtSale is not null and transaction.isValidPromisepdf == 1 %}
    <td>
        {% if transaction.addCollTransacs|length > 0 %}
            {% for AddColl in transaction.addCollTransacs|filter(t => t.refEmployed.id == app.user.id ) %}
                <div class="input-group w-50 d-none">
                    {{ form_widget(form.dateAtSale, {'attr': {'class':'form-control form-control-sm w-25 flatpickr flatpickr-input'}}) }}
                    <button class="btn btn-sm btn-secondary" type="button" id="btnAddDatePromise"><i class="fa-light fa-check"></i></button>
                </div>
                {{ transaction.dateAtSale ? transaction.dateAtSale|date('d-m-Y') : ''}}
            {% endfor %}
        {% else %}
            <div class="input-group w-50">
                {{ form_widget(form.dateAtSale, {'attr': {'class':'form-control form-control-sm w-25 flatpickr flatpickr-input'}}) }}
                <button class="btn btn-sm btn-secondary" type="button" id="btnAddDatePromise"><i class="fa-light fa-check"></i></button>
            </div>
        {% endif %}
    </td>
{% endif %}
{{ form_end(form) }}