{% set buyers = transaction.customer|length %}
{{ form_start(form) }}
{% if buyers < 1 %}
    <td>
        <span id="rowEmptyPromiseDate">-</span>
        <div class="input-group w-50">
            {{ form_widget(form.dateAtPromise, {'attr': {'class':'form-control form-control-sm w-25 flatpickr flatpickr-input d-none'}}) }}
            <button class="btn btn-sm btn-secondary d-none" type="button" id="btnAddDatePromise"><i class="fa-light fa-check"></i></button>
        </div>
    </td>
{% else %}
    <td>

        {% if roleEditor == "editor" %}
            <div class="input-group w-50">
                {{ form_widget(form.dateAtPromise, {'attr': {'class':'form-control form-control-sm w-25 flatpickr flatpickr-input'}}) }}
                <button class="btn btn-sm btn-secondary" type="button" id="btnAddDatePromise"><i class="fa-light fa-check"></i></button>
            </div>
        {% else %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="input-group w-50">
                    {{ form_widget(form.dateAtPromise, {'attr': {'class':'form-control form-control-sm w-25 flatpickr flatpickr-input'}}) }}
                    <button class="btn btn-sm btn-secondary" type="button" id="btnAddDatePromise"><i class="fa-light fa-check"></i></button>
                </div>
            {% else %}
                <p class="mb-0">Le {{ transaction.dateAtPromise|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>
                <div class="input-group w-50 d-none">
                    {{ form_widget(form.dateAtPromise, {'attr': {'class':'form-control form-control-sm w-25 flatpickr flatpickr-input'}}) }}
                    <button class="btn btn-sm btn-secondary" type="button" id="btnAddDatePromise"><i class="fa-light fa-check"></i></button>
                </div>
            {% endif %}
        {% endif %}


    </td>
{% endif %}
{{ form_end(form) }}