{{ form_start(form) }}
{% if transaction.dateAtSale is null and transaction.isValidPromisepdf == 0 %}
    <td>
        <span id="rowEmptyDateActe">-</span>
        <div class="input-group w-50">
            {{ form_widget(form.dateAtSale, {'attr': {'class':'form-control form-control-sm w-25 flatpickr flatpickr-input d-none'}}) }}
            <button class="btn btn-sm btn-secondary d-none" type="button" id="btnAddDateActe"><i class="fa-light fa-check"></i></button>
        </div>
    </td>
{% elseif transaction.dateAtSale is null and transaction.isValidPromisepdf == 1 %}
    {% if roleEditor == "editor" %}
        <td>
            <div class="input-group w-50">
                {{ form_widget(form.dateAtSale, {'attr': {'class':'form-control form-control-sm w-25 flatpickr flatpickr-input'}}) }}
                <button class="btn btn-sm btn-secondary" type="button" id="btnAddDateActe"><i class="fa-light fa-check"></i></button>
            </div>
        </td>
    {% else %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <td>
                <div class="input-group w-50">
                    {{ form_widget(form.dateAtSale, {'attr': {'class':'form-control form-control-sm w-25 flatpickr flatpickr-input'}}) }}
                    <button class="btn btn-sm btn-secondary" type="button" id="btnAddDateActe"><i class="fa-light fa-check"></i></button>
                </div>
            </td>
        {% else %}
            <td>
<<<<<<< HEAD
                <p class="mb-0">Le {{ transaction.dateAtSale|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>
=======
                <p class="mb-0">{{ transaction.dateAtSale|date('d M Y') }}</p>
>>>>>>> fd143e664e803ddd05b7996e950581b484ee28ad
                <div class="input-group w-50 d-none">
                    {{ form_widget(form.dateAtSale, {'attr': {'class':'form-control form-control-sm w-25 flatpickr flatpickr-input'}}) }}
                    <button class="btn btn-sm btn-secondary" type="button" id="btnAddDateActe"><i class="fa-light fa-check"></i></button>
                </div>
            </td>
        {% endif %}
    {% endif %}
{% elseif transaction.dateAtSale is not null and transaction.isValidPromisepdf == 1 %}
    {% if roleEditor == "editor" %}
        <td>
            <div class="input-group w-50">
                {{ form_widget(form.dateAtSale, {'attr': {'class':'form-control form-control-sm w-25 flatpickr flatpickr-input'}}) }}
                <button class="btn btn-sm btn-secondary" type="button" id="btnAddDateActe"><i class="fa-light fa-check"></i></button>
            </div>
        </td>
    {% else %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <td>
                <div class="input-group w-50">
                    {{ form_widget(form.dateAtSale, {'attr': {'class':'form-control form-control-sm w-25 flatpickr flatpickr-input'}}) }}
                    <button class="btn btn-sm btn-secondary" type="button" id="btnAddDateActe"><i class="fa-light fa-check"></i></button>
                </div>
            </td>
        {% else %}
            <td>
<<<<<<< HEAD
                <p class="mb-0">Le {{ transaction.dateAtSale|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>
=======
                <p class="mb-0">{{ transaction.dateAtSale|date('d M Y') }}</p>
>>>>>>> fd143e664e803ddd05b7996e950581b484ee28ad
                <div class="input-group w-50 d-none">
                    {{ form_widget(form.dateAtSale, {'attr': {'class':'form-control form-control-sm w-25 flatpickr flatpickr-input'}}) }}
                    <button class="btn btn-sm btn-secondary" type="button" id="btnAddDateActe"><i class="fa-light fa-check"></i></button>
                </div>
            </td>
        {% endif %}
    {% endif %}
{% endif %}
{{ form_end(form) }}