{{ form_start(form) }}
{% if transaction.promisePdfFilename is null and transaction.dateAtPromise is null %}
    {# Il n'y a pas de promesse de vente et pas de date de signature enregistrée en BDD #}
    <td>
        <span id="rowEmptyPromisePdf">-</span>
        <div class="input-group w-100">
            {{ form_widget(form.promisePdfFilename, {'attr': {'class':'form-control form-control-sm d-none'}}) }}
            <button class="btn btn-sm btn-secondary d-none" type="button" id="btnAddPromisePdf"><i class="fa-light fa-check"></i></button>
        </div>
    </td>
    <td>
        {{ form_widget(form.isSupprPromisePdf, {'attr': {'class':'form-control form-control-sm d-none'}}) }}
    </td>
{% elseif transaction.promisePdfFilename is null and transaction.dateAtPromise is not null %}
    {% if transaction.addCollTransacs|length > 0 %}
        {% for AddColl in transaction.addCollTransacs %}
            {% if AddColl.refemployed.id == app.user.id %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    {# Il n'y a pas de promesse de vente mais une date de signature est enregistrée en BDD #}
                    <td>
                        <div class="input-group w-100">
                            {{ form_widget(form.promisePdfFilename, {'attr': {'class':'form-control form-control-sm'}}) }}
                            {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
                                {# Dans ce cas, on valide le document par un référent #}
                                <button class="btn btn-sm btn-secondary" type="button" id="btnAddPromisePdf"><i class="fa-light fa-check"></i></button>
                            {% endif %}
                            {% if 'ROLE_EMPLOYED' in app.user.roles %}
                                {# Dans ce cas, on valide le document par un référent #}
                                <button class="btn btn-sm btn-secondary" type="button" id="btnAddPromisePdfbyColl"><i class="fa-light fa-check"></i></button>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="form-check d-none">
                            {{ form_widget(form.isSupprPromisePdf, {'attr': {'class':'form-check-input'}}) }}
                            <label class="form-check-label" for="flexCheckDefault">
                                Supprimer
                            </label>
                        </div>
                    </td>
                {% else %}
                    {# Il n'y a pas de promesse de vente mais une date de signature est enregistrée en BDD #}
                    <td>
                        <p class="alert alert-info mb-0 p-1">Document en cours de validation</p>
                        <div class="input-group w-100 d-none">
                            {{ form_widget(form.promisePdfFilename, {'attr': {'class':'form-control form-control-sm'}}) }}
                            {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
                                {# Dans ce cas, on valide le document par un référent #}
                                <button class="btn btn-sm btn-secondary" type="button" id="btnAddPromisePdf"><i class="fa-light fa-check"></i></button>
                            {% endif %}
                            {% if 'ROLE_EMPLOYED' in app.user.roles %}
                                {# Dans ce cas, on valide le document par un référent #}
                                <button class="btn btn-sm btn-secondary" type="button" id="btnAddPromisePdfbyColl"><i class="fa-light fa-check"></i></button>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="form-check d-none">
                            {{ form_widget(form.isSupprPromisePdf, {'attr': {'class':'form-check-input'}}) }}
                            <label class="form-check-label" for="flexCheckDefault">
                                Supprimer
                            </label>
                        </div>
                    </td>
                {% endif %}
            {% else %}
                {# Il n'y a pas de promesse de vente mais une date de signature est enregistrée en BDD #}
                <td>
                    <div class="input-group w-100">
                        {{ form_widget(form.promisePdfFilename, {'attr': {'class':'form-control form-control-sm'}}) }}
                        {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
                            {# Dans ce cas, on valide le document par un référent #}
                            <button class="btn btn-sm btn-secondary" type="button" id="btnAddPromisePdf"><i class="fa-light fa-check"></i></button>
                        {% endif %}
                        {% if 'ROLE_EMPLOYED' in app.user.roles %}
                            {# Dans ce cas, on valide le document par un référent #}
                            <button class="btn btn-sm btn-secondary" type="button" id="btnAddPromisePdfbyColl"><i class="fa-light fa-check"></i></button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="form-check d-none">
                        {{ form_widget(form.isSupprPromisePdf, {'attr': {'class':'form-check-input'}}) }}
                        <label class="form-check-label" for="flexCheckDefault">
                            Supprimer
                        </label>
                    </div>
                </td>
            {% endif %}
        {% endfor %}
    {% else %}
        {# Il n'y a pas de promesse de vente mais une date de signature est enregistrée en BDD #}
        <td>
            <div class="input-group w-100">
                {{ form_widget(form.promisePdfFilename, {'attr': {'class':'form-control form-control-sm'}}) }}
                {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
                    {# Dans ce cas, on valide le document par un référent #}
                    <button class="btn btn-sm btn-secondary" type="button" id="btnAddPromisePdf"><i class="fa-light fa-check"></i></button>
                {% endif %}
                {% if 'ROLE_EMPLOYED' in app.user.roles %}
                    {# Dans ce cas, on valide le document par un référent #}
                    <button class="btn btn-sm btn-secondary" type="button" id="btnAddPromisePdfbyColl"><i class="fa-light fa-check"></i></button>
                {% endif %}
            </div>
        </td>
        <td>
            <div class="form-check d-none">
                {{ form_widget(form.isSupprPromisePdf, {'attr': {'class':'form-check-input'}}) }}
                <label class="form-check-label" for="flexCheckDefault">
                    Supprimer
                </label>
            </div>
        </td>
    {% endif %}

{% elseif transaction.promisePdfFilename is not null and transaction.dateAtPromise is not null %}
    {# Dans ce cas, le fichier est présent et une date de promesse est présente en BDD #}
    {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
        <td>
        {% if transaction.refEmployed is not same as app.user.id and transaction.isValidPromisepdf == 0 %}
            {# Présent si le document est présente par un collaborateur #}
            <p class="alert alert-warning mb-0 p-1">Document à contrôler {{ form_widget(form.promisePdfFilename, {'attr': {'class':'form-control form-control-sm d-none' }}) }}</p>
        {% else %}
            {% if transaction.addCollTransacs|length > 0%}
                {% for AddColl in transaction.addCollTransacs %}
                    {% if AddColl.refemployed.id == app.user.id %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <div class="input-group w-100">
                                {{ form_widget(form.promisePdfFilename, {'attr': {'class':'form-control form-control-sm' }}) }}
                                <button class="btn btn-sm btn-info" type="button" id="btnEditPromisePdf"><i class="fa-light fa-arrows-rotate"></i></button>
                            </div>
                        {% else %}
                            <p class="alert alert-info mb-0 p-1">Document déposé par : {{ transaction.refEmployed.civility }} {{ transaction.refEmployed.firstName }} {{ transaction.refEmployed.lastName }}.</p>
                            <div class="input-group w-100 d-none">
                                {{ form_widget(form.promisePdfFilename, {'attr': {'class':'form-control form-control-sm' }}) }}
                                <button class="btn btn-sm btn-info" type="button" id="btnEditPromisePdf"><i class="fa-light fa-arrows-rotate"></i></button>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="input-group w-100">
                            {{ form_widget(form.promisePdfFilename, {'attr': {'class':'form-control form-control-sm' }}) }}
                            <button class="btn btn-sm btn-info" type="button" id="btnEditPromisePdf"><i class="fa-light fa-arrows-rotate"></i></button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="input-group w-100">
                    {{ form_widget(form.promisePdfFilename, {'attr': {'class':'form-control form-control-sm' }}) }}
                    <button class="btn btn-sm btn-info" type="button" id="btnEditPromisePdf"><i class="fa-light fa-arrows-rotate"></i></button>
                </div>
            {% endif %}
        {% endif %}
        </td>
        <td>
            {% set refyear = transaction.property.ref|split('/',2)|first %}
            {% set refnumber = transaction.property.ref|split('/',2)|last %}
            <button id="showPromise" type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#modalPromise"><i class="fa-duotone fa-eye"></i> Voir le document</button>
            <a class="btn btn-sm btn-secondary" href="{{ asset('properties/'~ refyear ~'-'~ refnumber ~'/documents/' ~ transaction.promisePdfFilename) }}" download="{{ transaction.promisePdfFilename }}"><i class="fa-duotone fa-download"></i></a>
            <!-- Modal -->
            <div class="modal fade" id="modalPromise" tabindex="-1" aria-labelledby="modalPromise" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Promesse de vente</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="padding: 0;">
                            <div id="externaFile">
                                <iframe src="{{ asset('properties/'~ refyear ~'-'~ refnumber ~'/documents/' ~ transaction.promisePdfFilename) }}" width="100%" height="500px"></iframe>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        {% if transaction.refEmployed is not same as app.user.id and transaction.isValidPromisepdf == 0 %}
        <td>
            <a href="{{ path('op_gestapp_transaction_validpromisepdf', {'id': transaction.id}) }}" class="btn btn-sm btn-success" id="btnAddPromisePdfControl"><i class="fa-light fa-check"></i> Je valide</a>
            <a href="{{ path('op_gestapp_transaction_errordocument', {'id': transaction.id, 'name': transaction.promisePdfFilename}) }}" class="btn btn-sm btn-danger btnDocumentPdfError" id="btnDocumentPdfError"><i class="fa-sharp fa-regular fa-xmark"></i> Erreur de document</a>
        </td>
        {% endif %}
        <td class="{% if transaction.isValidPromisepdf < 1 %} d-none{% endif %}">
            {% if transaction.addCollTransacs|length > 0 %}
            {% else %}
                <a class="btn btn-sm btn-secondary supprDocument" href="{{ path('op_gestapp_transaction_deldocument', {'id': transaction.id, 'name':transaction.promisePdfFilename}) }}" ><i class="fa-duotone fa-trash"></i></a>
            {% endif %}
            <div class="form-check d-none">
                {{ form_widget(form.isSupprPromisePdf, {'attr': {'class':'form-check-input'}}) }}
                <label class="form-check-label" for="flexCheckDefault21">
                    Supprimer
                </label>
            </div>
        </td>
    {% endif %}
    {% if 'ROLE_EMPLOYED' in app.user.roles and transaction.isValidPromisepdf == 0 %}
        {# Dans le cas où le fichier a été déposé par le collaborateur mais non validé par le référent #}
        <td>
            {% if transaction.isDocsFinished == 0 %}
                <p class="alert alert-warning mb-0 p-1"><i class="fa-duotone fa-hourglass-start"></i> Le document doit être vérifié par votre référent.</p>
            {% else %}
                <p class="alert alert-warning mb-0 p-1"><i class="fa-duotone fa-hourglass-start"></i> Le document va être contrôlé.</p>
            {% endif %}
        </td>
        <td class="d-none">
            {{ form_widget(form.promisePdfFilename, {'attr': {'class':'form-control form-control-sm' }}) }}
            {{ form_widget(form.isSupprPromisePdf, {'attr': {'class':'form-control form-control-sm d-none'}}) }}
        </td>
    {% endif %}
    {% if 'ROLE_EMPLOYED' in app.user.roles and transaction.isValidPromisepdf == 1 %}
        {# Le ficheir déposé a été vérifié, il peut être modifier si besoin. #}
        <td>
            <p class="m-0">Document validé et conforme.</p>
            <div class="input-group w-100 d-none">
                {{ form_widget(form.promisePdfFilename, {'attr': {'class':'form-control form-control-sm' }}) }}
                <button class="btn btn-sm btn-info" type="button" id="btnEditPromisePdf"><i class="fa-light fa-arrows-rotate"></i></button>
            </div>
        </td>
        <td>
            {% set refyear = transaction.property.ref|split('/',2)|first %}
            {% set refnumber = transaction.property.ref|split('/',2)|last %}
            <button id="showPromise" type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#modalPromise"><i class="fa-duotone fa-eye"></i> Voir le document</button>
            <a class="btn btn-sm btn-secondary" href="{{ asset('properties/'~ refyear ~'-'~ refnumber ~'/documents/' ~ transaction.promisePdfFilename) }}" download="{{ transaction.promisePdfFilename }}"><i class="fa-duotone fa-download"></i></a>
            <!-- Modal -->
            <div class="modal fade" id="modalPromise" tabindex="-1" aria-labelledby="modalPromise" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Promesse de vente</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="padding: 0;">
                            <div id="externaFile">
                                <iframe src="{{ asset('properties/'~ refyear ~'-'~ refnumber ~'/documents/' ~ transaction.promisePdfFilename) }}" width="100%" height="500px"></iframe>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="d-none">
                {{ form_widget(form.isSupprPromisePdf, {'attr': {'class':''}}) }} {{ form_label(form.isSupprPromisePdf) }}
            </div>
        </td>
    {% endif %}
{% endif %}
{{ form_end(form) }}