<button type="button" class="btn btn-sm btn-outline-warning w-50 mb-1" data-bs-toggle="modal" data-bs-target="#modalCustomer" data-bs-whatever="ADD-Ajout d'un acheteur-{{ transaction.id }}">
    Ajouter un acheteur.
</button>
{% for buyer in transaction.customer %}
    <div class="alert alert-light mb-1">
        <p class="mb-0">{{ loop.index }} | {{ buyer.firstname }} {{ buyer.lastName }} |
            {% if buyer.gsm is defined %}{{ buyer.gsm }}{% endif %}
            {% if buyer.home is defined %}{{ buyer.home }}{% endif %}
        </p>
        <p class="">
            <a class="" href="#">Modifier</a>
            <a class="" href="#">Supprimer</a>
        </p>
    </div>
{% else %}
{% endfor %}