{% for photo in photos %}
    {% if loop.first %}
    <div class="col-3" id="{{ photo.id }}">
        <div class="card text-white bg-primary mb-1">
            <img src="{{ asset('properties/' ~ photo.path ~ '/' ~ photo.galeryFrontName) }}" class="card-img-top img-fluid" alt="{{ photo.galeryFrontName }}" style="width: 313px; height: 210px;">
            <div class="card-img-overlay">
                <a class="btn btn-sm btn-light" href="{{ path('op_gestapp_photo_show', {'id': photo.id}) }}" download="{{ photo.galeryFrontName }}"><i class="fa-duotone fa-cloud-arrow-down"></i></a>
                <a class="btn btn-sm btn-light delphoto" href="{{ path('op_gestapp_photo_del', {'id': photo.id, 'idproperty': property.id}) }}"><i class="fa-duotone fa-camera-slash"></i></a>
            </div>
            <div class="card-body">
                <p class="text-center">Image de profil</p>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-3" id="{{ photo.id }}">
        <div class="card text-dark bg-light mb-1">
            <img src="{{ asset('properties/' ~ photo.path ~ '/' ~ photo.galeryFrontName) }}" class="card-img-top img-fluid" alt="{{ photo.galeryFrontName }}" style="width: 313px; height: 210px;">
            <div class="card-img-overlay">
                <a class="btn btn-sm btn-light" href="{{ path('op_gestapp_photo_show', {'id': photo.id}) }}" download="{{ photo.galeryFrontName }}"><i class="fa-duotone fa-cloud-arrow-down"></i></a>
                <a class="btn btn-sm btn-light delphoto" href="{{ path('op_gestapp_photo_del', {'id': photo.id, 'idproperty': property.id}) }}"><i class="fa-duotone fa-camera-slash"></i></a>
            </div>
            <div class="card-body">
                <p class="text-center">Images de la galerie</p>
            </div>
        </div>
    </div>
    {% endif %}
{% else %}
    <div class="col-3">
        <div class="card">
            <img src="{{ asset('images/png/mod_maison.png') }}" class="card-img-top img-fluid" alt="mod_maison">
            <div class="card-body">
                <p>Pas de photo enregistré pour le moment</p>
            </div>
        </div>
    </div>
{% endfor %}