{{ form_start(form) }}
    <div class="mb-1">
        {% include('include/form/select.html.twig') with {
            'form_label':form_label(form.banner, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
            'form_select':form_widget(form.banner)
        }
        %}
    </div>
    <div class="mb-1">
        {% include('include/form/select.html.twig') with {
            'form_label':form_label(form.denomination, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
            'form_select':form_widget(form.denomination)
        }
        %}
    </div>
    <hr>
    <div class="row g-1">
        <div class="col-3">
            <div class="card text-dark bg-light">
                <div class="card-body">
                    PIECES
                    <hr>
                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-6">
                            {{ form_label(form.terrace, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.terrace, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.washroom, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.washroom, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.bathroom, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.bathroom, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.wc, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.wc, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.balcony, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.balcony, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-dark bg-light">
                <div class="card-body">
                    LE BIEN
                    <hr>
                    {# bloc House State #}

                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-4">
                            {{ form_label(form.propertyState, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-7">
                            {{ form_widget(form.propertyState) }}
                        </div>
                        <div class="col-1">
                            <button id="addHouseState" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#modalHouseState"><i class="fa-duotone fa-circle-plus"></i></button>
                        </div>
                        <div class="col-4">
                            {{ form_label(form.propertyEnergy, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-7">
                            {{ form_widget(form.propertyEnergy) }}
                        </div>
                        <div class="col-1">
                            <button id="addHouseState" class="btn btn-sm btn-secondary"><i class="fa-duotone fa-circle-plus"></i></button>
                        </div>
                    </div>

                    <div class="row mb-1 mt-1 g-1">
                        {{ form_label(form.propertyTax, '', {'label_attr': {'class':'col-sm-4  form-label'}}) }}
                        <div class="col-sm-4">
                            <div class="input-group input-group-sm">
                                {{ form_widget(form.propertyTax, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                                <span class="input-group-text" id="basic-addon1">€</span>
                            </div>
                        </div>
                    </div>


                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-4">
                            {{ form_label(form.orientation, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-7">
                            {{ form_widget(form.orientation) }}
                        </div>
                        <div class="col-1">
                            <button id="addOrientation" class="btn btn-sm btn-secondary"><i class="fa-duotone fa-circle-plus"></i></button>
                        </div>
                    </div>



                    {% include('include/form/input.html.twig') with {
                        'form_label':form_label(form.disponibility, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
                        'form_input':form_widget(form.disponibility, {'attr': {'class': 'form-control form-control-sm'}})
                    }
                    %}

                    {% include('include/form/input.html.twig') with {
                        'form_label':form_label(form.location, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
                        'form_input':form_widget(form.location, {'attr': {'class': 'form-control form-control-sm'}})
                    }
                    %}

                    {% include('include/form/date.html.twig') with {
                        'form_label':form_label(form.disponibilityAt, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
                        'form_input':form_widget(form.disponibilityAt, {'attr': {'class': 'form-control form-control-sm flatpickr'}})
                    }
                    %}
                </div>
            </div>

        </div>
        <div class="col-5">
            <div class="card text-dark bg-light">
                <div class="card-body">
                    EQUIPEMENTS
                    <hr>
                    {% include('include/form/oneSwitch.html.twig') with {
                        'form_label':form_label(form.isFurnished, '', {'label_attr': {'class':'form-check-label'}}),
                        'form_switch':form_widget(form.isFurnished, {'attr': {'class': 'form-check-input'}})
                    }
                    %}

                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-4">
                            {{ form_label(form.propertyEquipment, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-7">
                            {{ form_widget(form.propertyEquipment) }}
                        </div>
                        <div class="col-1">
                            <button id="addEquipment" class="btn btn-sm btn-secondary"><i class="fa-duotone fa-circle-plus"></i></button>
                        </div>
                    </div>
                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-4">
                            {{ form_label(form.propertyTypology, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-7">
                            {{ form_widget(form.propertyTypology) }}
                        </div>
                        <div class="col-1">
                            <button id="addEquipment" class="btn btn-sm btn-secondary"><i class="fa-duotone fa-circle-plus"></i></button>
                        </div>
                    </div>
                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-4">
                            {{ form_label(form.level, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-2">
                            {{ form_widget(form.level, {'attr': {'class': 'form-control form-control-sm', 'value': 0}}) }}
                        </div>
                    </div>

                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-4">
                            {{ form_label(form.otherOption, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-4">
                            {{ form_widget(form.otherOption) }}
                        </div>
                        <div class="col-1">
                            <button id="addOrientation" class="btn btn-sm btn-secondary"><i class="fa-duotone fa-circle-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{{ form_end(form) }}
