{{ form_start(form) }}
    <div class="row mb-1">
        <div class="col-2">
            {{ form_label(form.banner, '', {'label_attr': {'class':'form-label'}}) }}
        </div>
        <div class="col-3">
            {{ form_widget(form.banner) }}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-2">
            {{ form_label(form.denomination, '', {'label_attr': {'class':'form-label'}}) }}
        </div>
        <div class="col-3">
            {{ form_widget(form.denomination) }}
        </div>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="col-1">
                <button id="addHouseCat" class="btn btn-sm btn-secondary"><i class="fa-duotone fa-circle-plus"></i></button>
            </div>
        {% else %}
            <div class="col-1">
                <button id="addHouseCat" class="btn btn-sm btn-secondary" disabled><i class="fa-duotone fa-circle-plus text-light"></i></button>
            </div>
        {% endif %}
    </div>
    <hr>
    <div class="row g-1">
        <div class="col-3">
            <div class="card text-dark bg-light">
                <div class="card-body">
                    PIECES
                    <hr>
                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-6">
                            {{ form_label(form.terrace, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.terrace, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.washroom, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.washroom, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.bathroom, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.bathroom, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.wc, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.wc, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.balcony, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.balcony, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-dark bg-light">
                <div class="card-body">
                    LE BIEN
                    <input type="hidden" value="">
                    <hr>
                    {# bloc House State #}
                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-4">
                            {{ form_label(form.propertyState, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-7">
                            {{ form_widget(form.propertyState) }}
                        </div>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="col-1">
                            <button id="addHouseState" class="btn btn-sm btn-secondary"><i class="fa-duotone fa-circle-plus"></i></button>
                        </div>
                        {% else %}
                        <div class="col-1">
                            <button id="addHouseState" class="btn btn-sm btn-secondary" disabled><i class="fa-duotone fa-circle-plus text-light"></i></button>
                        </div>
                        {% endif %}
                        <div class="col-4">
                            {{ form_label(form.propertyEnergy, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-7">
                            {{ form_widget(form.propertyEnergy) }}
                        </div>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <div class="col-1">
                                <button id="addHouseEnergy" class="btn btn-sm btn-secondary"><i class="fa-duotone fa-circle-plus"></i></button>
                            </div>
                        {% else %}
                            <div class="col-1">
                                <button id="addHouseEnergy" class="btn btn-sm btn-light" disabled><i class="fa-duotone fa-circle-plus text-light"></i></button>
                            </div>
                        {% endif %}
                    </div>

                    <div class="row mb-1 mt-1 g-1">
                        {{ form_label(form.propertyTax, '', {'label_attr': {'class':'col-sm-4  form-label'}}) }}
                        <div class="col-sm-4">
                            <div class="input-group input-group-sm">
                                {{ form_widget(form.propertyTax, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                                <span class="input-group-text" id="basic-addon1">€</span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-4">
                            {{ form_label(form.propertyOrientation, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-7">
                            {{ form_widget(form.propertyOrientation) }}
                        </div>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <div class="col-1">
                                <button id="addHouseOrientation" class="btn btn-sm btn-secondary"><i class="fa-duotone fa-circle-plus"></i></button>
                            </div>
                        {% else %}
                            <div class="col-1">
                                <button id="addHouseOrientation" class="btn btn-sm btn-light text-light" disabled><i class="fa-duotone fa-circle-plus"></i></button>
                            </div>
                        {% endif %}
                    </div>

                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-4">
                            {{ form_label(form.disponibility, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-3">
                            {{ form_widget(form.disponibility) }}
                        </div>
                    </div>

                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-4">
                            {{ form_label(form.location, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-3">
                            {{ form_widget(form.location) }}
                        </div>
                    </div>

                    {% include('include/form/date.html.twig') with {
                        'form_label':form_label(form.disponibilityAt, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
                        'form_input':form_widget(form.disponibilityAt, {'attr': {'class': 'form-control form-control-sm flatpickr'}})
                    }
                    %}
                </div>
            </div>

        </div>
        <div class="col-5">
            <div class="card text-dark bg-light">
                <div class="card-body">
                    EQUIPEMENTS
                    <hr>
                    <div class="row">
                        <div class="form-check form-check-inline">
                            {{ form_label(form.isFurnished, '', {'label_attr': {'class':'form-check-label'}}) }}
                            {% for child in form.isFurnished %}
                                {{ form_widget(child) }}
                                {{ form_label(child) }}
                            {% endfor %}
                        </div>
                    </div>


                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-4">
                            {{ form_label(form.propertyEquipment, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-7">
                            {{ form_widget(form.propertyEquipment) }}
                        </div>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="col-1">
                            <button id="addHouseEquipment" class="btn btn-sm btn-secondary"><i class="fa-duotone fa-circle-plus"></i></button>
                        </div>
                        {% else %}
                        <div class="col-1">
                            <button id="addHouseEquipment" class="btn btn-sm btn-light" disabled><i class="fa-duotone fa-circle-plus text-light"></i></button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-4">
                            {{ form_label(form.propertyTypology, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-7">
                            {{ form_widget(form.propertyTypology) }}
                        </div>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <div class="col-1">
                                <button id="addHouseTypology" class="btn btn-sm btn-secondary"><i class="fa-duotone fa-circle-plus"></i></button>
                            </div>
                        {% else %}
                            <div class="col-1">
                                <button id="addHouseTypology" class="btn btn-sm btn-light" disabled><i class="fa-duotone fa-circle-plus text-light"></i></button>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-4">
                            {{ form_label(form.level, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-2">
                            {{ form_widget(form.level, {'attr': {'class': 'form-control form-control-sm', 'value': 0}}) }}
                        </div>
                    </div>

                    <div class="row mb-1 mt-1 g-1">
                        <div class="col-4">
                            {{ form_label(form.otherOption, '', {'label_attr': {'class':'form-label'}}) }}
                        </div>
                        <div class="col-4">
                            {{ form_widget(form.otherOption) }}
                        </div>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <div class="col-1">
                                <button id="addHouseOther" class="btn btn-sm btn-secondary"><i class="fa-duotone fa-circle-plus"></i></button>
                            </div>
                        {% else %}
                            <div class="col-1">
                                <button id="addHouseOther" class="btn btn-sm btn-light" disabled><i class="fa-duotone fa-circle-plus text-light"></i></button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{{ form_end(form) }}
