{% extends 'admin.html.twig' %}

{% block title %}Product index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('js/cart/index.js') }}"></script>
{% endblock %}

{% block contentTitle %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Support Commerciaux - <small>Liste des produits disponible à la commande</small></h1>
        </div>
    </div>

    <div class="navigation d-flex justify-content-between">
        <div class="mb-1">
            <button id="addNewSupport" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalSupport">Ajouter un nouveau support</button>
            |
            <button class="btn btn-sm btn-outline-dark" id="btnListSupport">voir son panier de commande</button>
            <button class="btn btn-sm btn-outline-dark" id="btnListCommande">voir son historique des commandes</button>
        </div>
    </div>
    
    <div class="row">
        {% for product in products %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <h6 class="card-subtitle">{{ product.category.name }}</h6>
                    </div>
                    <div class="card-header"></div>
                </div>
            </div>
        {% else %}
            <div class="col-2">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <p>Pas de supports disponible actuellement.</p>
                    </div>
                    <div class="card-header"></div>
                </div>
            </div>
        {% endfor %}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Descriptif</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td></td>
                <td>{{ product.slug }}</td>
                <td>{{ product.descriptif }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="{{ path('op_cart_product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('op_cart_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('op_cart_product_new') }}">Create new</a>
{% endblock %}


{% block modal %}
    {{ parent() }}
    <!-- Ajout d'un vendeur sur un bien -->
    <div class="modal fade" id="modalSupport" tabindex="-1" aria-labelledby="modalSupport" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un support</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modalBodyForm">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <input id="idProperty" type="hidden" value="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a id="btnSubmitSupport" type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Ajouter</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Ajout d'un vendeur sur un bien -->
    <div class="modal fade" id="modalDelCustomer" tabindex="-1" aria-labelledby="modalDelCustomer" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Attention : Suppression d'un acheteur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">
                        Vous êtes sur le point de supprimer un acheteur sur cette vente. <br>
                        Etes vous sûr de vouloir continuer ?
                    </p>
                </div>
                <div class="modal-footer">
                    <a id="btnDellCustomer" type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Oui</a>
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Non</button>
                </div>
            </div>
        </div>
    </div>

    {# annonce toaster #}
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-absolute bottom-0 end-0 p-3">
            <div id="toaster" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">SoftPAPS</strong>
                    <small>A l'instant</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
    </div>
{% endblock %}