<div class="row">
    <div class="col-12">
        <h3>Liste des pages affichées en menu</h3>
    </div>
    <div class="col-12">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th class="col-3">Nom</th>
                <th>Menu</th>
                <th>Etat</th>
                <th>Créé le</th>
                <th>MàJ</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody id="SortMenu">
            {% for page in pages|sort((a, b) => a.position <=> b.position)|filter(p => p.isMenu == 1) %}
                <tr id="{{ page.position }}" class="align-middle">
                    <td><i class="fa-regular fa-ellipsis-vertical"></i></td>
                    <td><a href="{{ path('op_webapp_page_edit', {'id': page.id}) }}">{{ page.name }}</a></td>
                    <td>{{ page.isMenu ? 'Yes' : 'No' }}</td>
                    <td><span class="badge bg-secondary">{{ page.state }}</span></td>
                    <td>{{ page.createdAt ? page.createdAt|date('Y-m-d') : '' }}</td>
                    <td>{{ page.updatedAt ? page.updatedAt|date('Y-m-d') : '' }}</td>
                    <td>
                        <a href="{{ path('op_webapp_page_edit', {'id': page.id}) }}" class="btn btn-sm btn-outline-dark"><i class="fa-duotone fa-eye"></i></a>
                        <a class="btn btn-sm btn-outline-danger delpage" type="button" data-bs-toggle="modal" data-bs-target="#SupprPage" data-bs-whatever="{{ page.id }}"><i class="fa-duotone fa-file-circle-xmark"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="14">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3>Liste des autres pages</h3>
    </div>
    <div class="col-12">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th class="col-3">Nom</th>
                <th>Menu</th>
                <th>Etat</th>
                <th>Créé le</th>
                <th>MàJ</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for page in pages|filter(p => p.isMenu == 0) %}
                <tr class="align-middle">
                    <td><i class="fa-regular fa-ellipsis-vertical"></i></td>
                    <td><a href="{{ path('op_webapp_page_edit', {'id': page.id}) }}">{{ page.name }}</a></td>
                    <td>{{ page.isMenu ? 'Yes' : 'No' }}</td>
                    <td><span class="badge bg-secondary">{{ page.state }}</span></td>
                    <td>{{ page.createdAt ? page.createdAt|date('Y-m-d') : '' }}</td>
                    <td>{{ page.updatedAt ? page.updatedAt|date('Y-m-d') : '' }}</td>
                    <td>
                        <a href="{{ path('op_webapp_page_edit', {'id': page.id}) }}" class="btn btn-sm btn-outline-dark"><i class="fa-duotone fa-eye"></i></a>
                        <a class="btn btn-sm btn-outline-danger delpage" type="button" data-bs-toggle="modal" data-bs-target="#SupprPage" data-bs-whatever="{{ page.id }}"><i class="fa-duotone fa-file-circle-xmark"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="14">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

