<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% endblock %}
    <title>{% block title %}OpenGaia{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('off') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('off') }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
        <script>
            window.onload = function (){
                // récupération des element du formulaire
                const BtnPostContact = document.getElementById('btnPostContact')

                BtnPostContact.addEventListener('click', function (event){
                    event.preventDefault()
                    const PostContact = document.getElementById('PostContact')
                    let urlPostContact = PostContact.action
                    let dataPostContact = new FormData(PostContact)
                    console.log(urlPostContact, dataPostContact)
                })

            }
        </script>
    {% endblock %}
</head>
<body class="h-100 text-center text-white bg-dark">

    <header class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> <img class="img-fluid" src="{{ asset('images/png/LogoPAPSimmo.png') }}" alt="PAPS Immo" width="40"/> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#FormContact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    <main id="main_content" class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xxl-12" id="main-content">
            <h1 class="text-center">Découvrez très prochainement</h1>
            <img src="{{ asset('images/png/LogoPAPSimmo-Blanc.png') }}" alt="Logo PAP'S Immo"/>
            <p class="lead text-center">Paps Immo, une agence immobilière à l'écoute de ses clients. <b>Professionalisme</b> et <b>efficacité</b>, PAP's Immo vous accompagne durant toutes les étapes de votre projet immobilier de vente ou d'achat.</p>
            <p class="lead text-center">
                <button type="button" class="btn btn-lg btn-secondary fw-bold border-white bg-white" data-bs-toggle="modal" data-bs-target="#FormContact">Pour en savoir plus ...</button>
            </p>
            <p class="lead text-center mt-2">
                <a href="#">
                    <i class="fa-brands fa-facebook-square fa-2xl"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-instagram-square fa-2xl"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-linkedin fa-2xl"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-google-plus-square fa-2xl"></i>
                </a>
            </p>
        </div>
    </div>
</main>
    <footer>
    <section id="bottom_footer" class="container-fluid">
        <div class="row d-flex align-items-center justify-content-between">
            <div class="col-6">
                <p class="text-start">©2022 PAPs Immo | Tous droits réservés | Créer par OpenPixl</p>
            </div>
            <div class="col-6">
                <ul class="nav justify-content-end mb-2 mb-lg-0">
                    <li class="nav-item"> <a class="nav-link" aria-current="page" href="/webapp/public"><i class="fa-duotone fa-house"></i></a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" aria-current="page" href="/webapp/page/slug/mentions-legales"> Mentions légales</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" aria-current="page" href="/webapp/page/slug/politique-de-confidentialite"> Politiques de confidentialité</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" aria-current="page" href="/webapp/page/slug/conditions-generales"> Conditions générales de ventes</a>
                    </li>
                    <li class="nav-item dropdown dropup"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Connexion </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="/security/login">Connexion</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</footer>
    <div class="modal fade" id="FormContact" tabindex="-1" aria-labelledby="FormContactLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Formulaire de contact</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>N'hésitez pas à nous laisser un message pour toute demande de renseignement ou de prise de contact pour vos projets.</p>
                {{ render(controller('App\\Controller\\Admin\\ContactController::OfflineContact')) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button id="btnPostContact" type="button" class="btn btn-sm btn-primary">Envoyer</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>