{{ form_start(form) }}
<div class="modal-body">
    <div class="row">
        <div class="col-8">
            <div class="row g-0">
                <div class="col-sm-12">
                    <div class="card text-dark bg-light">
                        <div class="card-body">
                            ARTICLE
                            <hr>
                            {# Form INPUT #}
                            <div class="row mb-1 mt-1 g-1">
                                <div class="col-2">
                                    {{ form_label(form.name, '', {'label_attr': {'class':'form-label'}}) }}
                                </div>
                                <div class="col-10">
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                </div>
                            </div>
                            {# Form SELECT #}
                            <div class="row mb-1 mt-1 g-1">
                                <div class="col-2">
                                    {{ form_label(form.category, '', {'label_attr': {'class':'form-label'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_widget(form.category, {'attr': {'class': 'form-select form-select-sm'}}) }}
                                </div>
                                <div class="col-1">
                                    <button type="button" class="btn btn-sm btn-secondary"><i class="fa-duotone fa-circle-plus"></i></button>
                                </div>
                            </div>
                            <div class="row mb-1 mt-1 g-1">
                                <div class="col-2">
                                    {{ form_label(form.content, '', {'label_attr': {'class':'form-label'}}) }}
                                </div>
                                <div class="col-10">
                                    {{ form_widget(form.content, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
        <div class="col-4">
            <div class="card text-dark bg-light">
                <div class="card-body">
                    PTIONS
                    <hr>
                    <div class="row g-0">
                        <div class="col-sm-12">

                            {# Form SELECT #}
                            <div class="row mb-1 mt-1 g-1">
                                <div class="col-2">
                                    {{ form_label(form.state, '', {'label_attr': {'class':'form-label'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_widget(form.state, {'attr': {'class': 'form-select form-select-sm'}}) }}
                                </div>
                                <div class="col-1">
                                    <button type="button" class="btn btn-sm btn-secondary"><i class="fa-duotone fa-circle-plus"></i></button>
                                </div>
                            </div>

                            {# Form SELECT SWITCH #}
                            <div class="row mb-1 mt-1 g-1">
                                <div class="col-12">
                                    <fieldset>
                                        <div class="form-check form-switch">
                                            {{ form_widget(form.isShowtitle, {'attr': {'class': 'form-check-input'}}) }}
                                            {{ form_label(form.isShowtitle, '', {'label_attr': {'class':'form-check-label'}}) }}
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            {# Form SELECT SWITCH #}
                            <div class="row mb-1 mt-1 g-1">
                                <div class="col-12">
                                    <fieldset>
                                        <div class="form-check form-switch">
                                            {{ form_widget(form.isShowdate, {'attr': {'class': 'form-check-input'}}) }}
                                            {{ form_label(form.isShowdate, '', {'label_attr': {'class':'form-check-label'}}) }}
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            {# Form SELECT SWITCH #}
                            <div class="row mb-1 mt-1 g-1">
                                <div class="col-12">
                                    <fieldset>
                                        <div class="form-check form-switch">
                                            {{ form_widget(form.isShowreadmore, {'attr': {'class': 'form-check-input'}}) }}
                                            {{ form_label(form.isShowreadmore, '', {'label_attr': {'class':'form-check-label'}}) }}
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            {# Form SELECT SWITCH #}
                            <div class="row mb-1 mt-1 g-1">
                                <div class="col-sm-8">
                                    <fieldset>
                                        <div class="form-check form-switch">
                                            {{ form_widget(form.isLink, {'attr': {'class': 'form-check-input'}}) }}
                                            {{ form_label(form.isLink, '', {'label_attr': {'class':'form-check-label'}}) }}
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-sm-4">
                                    {{ form_widget(form.linkText, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                </div>
                            </div>
                            <hr>
                            <div class="row mb-1 mt-1 g-1">
                                <div class="col-12">
                                    {{ form_widget(form.articleFrontFile, {'attr': {'class': 'form-control-file form-control-sm'}}) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal">Retour</a>
    <button type="submit" class="btn btn-sm btn-outline-primary">{{ button_label|default('Ajouter') }}</button>
</div>
{{ form_end(form) }}
