{{ form_start(form, {'attr': {'id' : 'FormEmployed'}}) }}
<div class="row">
    <div class="col-12">
        <div class="alert alert-secondary">
            <div class="form-check form-switch">
                {{ form_label(form.isVerified, 'Ce collaborateur.trice est activé.e', {'label_attr': {'class':'form-check-label'}}) }}
                {{ form_widget(form.isVerified, {'attr': {'class': 'form-check-input'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="row g-1">
    <div class="col-8">
        <div class="card bg-secondary mb-1">
            <div class="card-body">
                <h3>Information collaborateur</h3>
                <div class="row mb-1 mt-1 g-1">
                    <div class="col-12 col-lg-2">
                        {{ form_errors(form) }}
                    </div>
                </div>
                <div class="row mb-1 mt-1 g-1">
                    <div class="col-12 col-lg-2">
                        {{ form_label(form.firstName, '', {'label_attr': {'class':'form-label'}}) }}
                    </div>
                    <div class="col-12 col-lg-5">
                        {{ form_widget(form.firstName, {'attr': {'class': 'form-control form-control-sm'}}) }}
                    </div>
                    <div class="col-12 col-lg-5">
                        {{ form_widget(form.lastName, {'attr': {'class': 'form-control form-control-sm'}}) }}
                    </div>
                </div>
                <div class="row mb-1 mt-1 g-1">
                    {{ form_errors(form) }}
                    <div class="col-12 col-lg-2">
                        {{ form_label(form.email, '', {'label_attr': {'class':'form-label'}}) }}
                    </div>
                    <div class="col-12 col-lg-5">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-sm'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card bg-secondary">
            <div class="card-body">
                <h3>Avatar</h3>
                {{ form_widget(form.avatarFile, {'attr': {'class': 'form-control-file form-control-sm'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="row g-1">
    <div class="col-8">
        <div class="card bg-secondary">
            <div class="card-body">
                <h3>Contacts</h3>
                <div class="row">
                    <div class="col-4">
                        <h5>Téléphone</h5>
                        {# Numéro Domicile #}
                        <div class="row mb-1 g-1">
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-phone"></i>&nbsp;Domicile</span>
                                    {{ form_widget(form.home, {'attr':{'class':'form-control form-control-sm'}}) }}
                                </div>
                            </div>
                        </div>
                        {# Numéro Bureau #}
                        <div class="row mb-1 g-1">
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-phone"></i>&nbsp;Bureau</span>
                                    {{ form_widget(form.desk, {'attr':{'class':'form-control form-control-sm'}}) }}
                                </div>
                            </div>
                        </div>
                        {# Numéro Portable #}
                        <div class="row mb-1 g-1">
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-mobile-button"></i>&nbsp;*</span>
                                    {{ form_widget(form.gsm, {'attr':{'class':'form-control form-control-sm'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <h5>Autres</h5>
                        {# Numéro Fax #}
                        <div class="row mb-1">
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-fax"></i></span>
                                    {{ form_widget(form.fax, {'attr':{'class':'form-control form-control-sm'}}) }}
                                </div>
                            </div>
                        </div>
                        {# Numéro Email #}
                        <div class="col-12">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-at"></i></span>
                                {{ form_widget(form.otherEmail, {'attr':{'class':'form-control form-control-sm'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <h5>Réseaux sociaux</h5>
                        {# Numéro Domicile #}
                        <div class="row mb-1">
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-brands fa-facebook"></i></span>
                                    {{ form_widget(form.facebook, {'attr':{'class':'form-control form-control-sm'}}) }}
                                </div>
                            </div>
                        </div>
                        {# Numéro Bureau #}
                        <div class="row mb-1">
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-brands fa-instagram"></i></span>
                                    {{ form_widget(form.instagram, {'attr':{'class':'form-control form-control-sm'}}) }}
                                </div>
                            </div>
                        </div>
                        {# Numéro Portable #}
                        <div class="row mb-1">
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-brands fa-linkedin"></i></span>
                                    {{ form_widget(form.linkedin, {'attr':{'class':'form-control form-control-sm'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row mt-2">
            <div class="col-sm-12">
                <a href="{{ path('op_admin_employed_index') }}" class="btn btn-sm btn-outline-dark"><i class="fa-duotone fa-angles-left"></i> retour</a>
                <button id="submitForms" type="submit" class="btn btn-sm btn-outline-primary">{{ button_label|default('Enregistrer') }}</button>
            </div>
        </div>
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}


