{{ form_start(form, {'attr': {'id' : 'FormEmployed'}}) }}

<div class="row {% if is_granted('ROLE_SUPER_ADMIN') %}d-block{% else %}d-none{% endif %}">
    <div class="col-12">
        <div class="alert alert-secondary">
            <div class="form-check form-switch">
                {{ form_label(form.isVerified, 'Ce collaborateur.trice est activé.e', {'label_attr': {'class':'form-check-label'}}) }}
                {{ form_widget(form.isVerified, {'attr': {'class': 'form-check-input'}}) }}
            </div>
        </div>
    </div>
</div>

<div class="row g-1">
    <div class="col-8">
        <div class="card mb-1">
            <div class="card-body">
                <table class="table">
                    <tr class="align-middle">
                        <td class="align-middle" colspan="4"><h5>INFORMATIONS COLLABORATEUR</h5></td>
                    </tr>
                    <tr class="align-middle">
                        <td class="table-light col-3">{{ form_label(form.firstName, 'Prénom & Nom', {'label_attr': {'class':'form-label'}}) }}</td>
                        <td class="col-3">{{ form_widget(form.firstName, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
                        <td class="col-3">{{ form_widget(form.lastName, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
                        <td class="col-3"></td>
                    </tr>
                    <tr class="align-middle">
                        <td class="table-light">{{ form_label(form.email, '', {'label_attr': {'class':'form-label'}}) }}</td>
                        <td>{{ form_widget(form.email, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
                        <td colspan="2"></td>
                    </tr>
                    <td class="align-middle" colspan="4"><h5>CONTACTS</h5></td>
                    <tr class="align-middle">
                        <td class="table-light">Télephone</td>
                        <td>
                            <div class="input-group input-group-sm">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-phone"></i>&nbsp;Domicile</span>
                                {{ form_widget(form.home, {'attr':{'class':'form-control form-control-sm'}}) }}
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-phone"></i>&nbsp;Bureau</span>
                                {{ form_widget(form.desk, {'attr':{'class':'form-control form-control-sm'}}) }}
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-mobile-button"></i>&nbsp;Portable *</span>
                                {{ form_widget(form.gsm, {'attr':{'class':'form-control form-control-sm'}}) }}
                            </div>
                        </td>
                    </tr>
                    <tr class="align-middle">
                        <td class="table-light">Autres</td>
                        <td>
                            <div class="input-group input-group-sm">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-phone"></i>&nbsp;Fax</span>
                                {{ form_widget(form.fax, {'attr':{'class':'form-control form-control-sm'}}) }}
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="input-group input-group-sm">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-phone"></i>&nbsp;Autres Email</span>
                                {{ form_widget(form.otherEmail, {'attr':{'class':'form-control form-control-sm'}}) }}
                            </div>
                        </td>
                    </tr>
                    <tr class="align-middle">
                        <td class="table-light">Réseaux Sociaux</td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-brands fa-facebook"></i></span>
                                {{ form_widget(form.facebook, {'attr':{'class':'form-control form-control-sm'}}) }}
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-brands fa-linkedin"></i></span>
                                {{ form_widget(form.linkedin, {'attr':{'class':'form-control form-control-sm'}}) }}
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-brands fa-instagram"></i></span>
                                {{ form_widget(form.instagram, {'attr':{'class':'form-control form-control-sm'}}) }}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <table class="table table-sm">
                    <tr>
                        <td colspan="3"><h5>PARAMETRES</h5></td>
                    </tr>
                    <tr class="align-middle">
                        <td class="table-light col-md-2">Avatar</td>
                        {% if employed.avatarName is not null %}
                            <td class="col-md-5">
                                {{ form_widget(form.avatarFile, {'attr': {'class': 'form-control-file form-control-sm'}}) }}
                                    <div class="mt-1">
                                        <img src="{{ asset('images/avatar/' ~ employed.avatarName) }}" class="img-fluid" alt="{{ employed.avatarName }}">
                                        <a href="{{ asset('images/avatar/' ~ employed.avatarName) }}">Télécharger</a>
                                    </div>
                            </td>
                            <td class="col-md-5">
                                {% if app.request.attributes.get('_route') == 'op_admin_employed_edit' %}
                                    <div class="text-center col-8">
                                        {{ form_label(form.isSupprAvatar, "Supprimer") }}
                                        {{ form_widget(form.isSupprAvatar) }}
                                    </div>
                                {% endif %}
                            </td>
                        {% else %}
                            <td class="col-md-5">
                                {{ form_widget(form.avatarFile, {'attr': {'class': 'form-control-file form-control-sm'}}) }}
                            </td>
                            <td class="col-md-5">
                                {{ form_widget(form.isSupprAvatar, {'attr': {'style': 'display:none;'}}) }}
                            </td>
                        {% endif %}
                    </tr>
                    <tr class="align-middle">
                        <td class="table-light">{{ form_label(form.sector, 'Secteur', {'label_attr': {'class':'form-label'}}) }}</td>
                        <td>{{ form_widget(form.sector, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
                        <td>{{ form_errors(form.sector) }}</td>
                    </tr>
                    <tr class="align-middle">
                        <td class="table-light">{{ form_label(form.referent, '', {'label_attr': {'class':'form-label'}}) }}</td>
                        <td>{{ form_widget(form.referent) }}</td>
                        <td>{{ form_errors(form.referent) }}</td>
                    </tr>
                    {% if is_granted('ROLE_ADMIN') %}
                <tr class="align-middle">
                    <td class="table-light">{{ form_label(form.dateEmployed, '', {'label_attr': {'class':'form-label'}}) }}</td>
                    <td>{{ form_widget(form.dateEmployed, {'attr': {'class': 'form-control form-control-sm flatpickr'}}) }}</td>
                    <td>{{ form_errors(form.dateEmployed) }}</td>
                </tr>
                    {% else %}
                        <tr class="align-middle d-none">
                            <td class="table-light">{{ form_label(form.dateEmployed, '', {'label_attr': {'class':'form-label'}}) }}</td>
                            <td>{{ form_widget(form.dateEmployed, {'attr': {'class': 'form-control form-control-sm flatpickr'}}) }}</td>
                            <td>{{ form_errors(form.dateEmployed) }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td colspan="3"><h5>FICHE DE PRESENTATION</h5></td>
                    </tr>
                    <tr class="align-middle">
                        <td class="table-light" colspan="2">{{ form_label(form.isWebpublish, 'Activer sa page sur le site', {'label_attr': {'class':'form-label'}}) }}</td>
                        <td>{{ form_widget(form.isWebpublish) }}</td>
                    </tr>
                    <tr class="align-middle">
                        <td class="table-light">{{ form_label(form.employedPrez, '', {'label_attr': {'class':'form-label'}}) }}</td>
                        <td colspan="2">{{ form_widget(form.employedPrez, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
                    </tr>
                </table>


            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row mt-2">
            <div class="col-sm-12">
                <a href="{{ path('op_admin_employed_index') }}" class="btn btn-sm btn-outline-dark"><i class="fa-duotone fa-angles-left"></i> retour</a>
                <button id="submitForms" type="submit" class="btn btn-sm btn-outline-primary">{{ button_label|default('Enregistrer') }}</button>
            </div>
        </div>
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}


