<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nom & Prénom</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Secteur</th>
        <th>Actif</th>
        <th>Créer le</th>
        <th>MàJ</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for employed in employeds %}
        <tr class="align-middle">
            <td>{{ employed.id }}</td>
            <td><a href="{{ path('op_admin_employed_edit', {'id': employed.id}) }}">{{ employed.firstName }} {{ employed.lastName }}</a></td>
            <td>{{ employed.email }}</td>
            <td>
                {% for role in employed.roles %}
                    <div class="badge bg-primary">{% if role == "ROLE_SUPER_ADMIN" %}Administrateur{% endif %}{% if role == "ROLE_USER" %}Membre{% endif %}</div>
                {% endfor %}
            </td>
            <td>{{ employed.sector }}</td>
            <td>
                {% if employed.isVerified == 1 %}
                    <a class="js-isverified" href=""><i class="far fa-check-circle text-success"></i></a>
                {% else %}
                    <a class="js-isverified" href=""><i class="far fa-times-circle text-danger"></i></a>
                {% endif %}
            </td>
            <td>{{ employed.createdAt ? employed.createdAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
            <td>{{ employed.updatedAt ? employed.updatedAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
            <td>
                <a class="btn btn-sm btn-outline-dark" href="{{ path('op_admin_employed_edit', {'id': employed.id}) }}"><i class="fa-duotone fa-pen-to-square"></i></a>
                <a class="btn btn-sm btn-outline-danger" href="{{ path('op_admin_employed_edit', {'id': employed.id}) }}"><i class="fa-duotone fa-file-xmark"></i></a>
                <a class="btn btn-sm btn-outline-warning" href="{{ path('op_admin_employed_adminresetpassword', {'id': employed.id}) }}"><i class="fa-duotone fa-key"></i></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="12">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>