<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nom & Prénom</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Secteur</th>
        <th>Actif</th>
        <th>Créer le</th>
        <th>MàJ</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for employed in employeds %}
        <tr class="align-middle">
            <td>{{ employed.id }}</td>
            <td><a href="{{ path('op_admin_employed_edit', {'id': employed.id}) }}">{% if employed.civility == 2 %}Mme. {% else %}M. {% endif %}{{ employed.firstName }} {{ employed.lastName }}</a></td>
            <td>{{ employed.email }}</td>
            <td>
                {% for role in employed.roles %}
                    <div class="badge bg-primary">{% if role == "ROLE_SUPER_ADMIN" %}Administrateur{% endif %}{% if role == "ROLE_EMPLOYED" %}Membre{% endif %}{% if role == "ROLE_PRESCRIBER" %}Prescripteur{% endif %}</div>
                {% endfor %}
            </td>
            <td>{{ employed.sector }}</td>
            <td>
                {% if employed.isVerified == 1 %}
                    <a class="js-isverified" href="{{ path('op_admin_employed_isactiv', {'id': employed.id}) }}"><i class="far fa-check-circle text-success"></i></a>
                {% else %}
                    <a class="js-isverified" href="{{ path('op_admin_employed_isactiv', {'id': employed.id}) }}"><i class="far fa-times-circle text-danger"></i></a>
                {% endif %}
            </td>
            <td>{{ employed.createdAt ? employed.createdAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
            <td>{{ employed.updatedAt ? employed.updatedAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
            <td>
                <a class="btn btn-sm btn-outline-dark" href="{{ path('op_admin_employed_edit', {'id': employed.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier la fiche"><i class="fa-duotone fa-pen-to-square"></i></a>
                <a class="btn btn-sm btn-outline-danger js-delete" href="{{ path('op_admin_employed_del', {'id': employed.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer le collaborateur"><i class="fa-duotone fa-file-xmark"></i></a>
                <a class="btn btn-sm btn-outline-warning" href="{{ path('op_admin_employed_adminresetpassword', {'id': employed.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Changer le mot de passe"><i class="fa-duotone fa-key"></i></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="12">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>