{% extends 'admin.html.twig' %}

{% block title %}Edit Employed{% endblock %}

{% block stylesheets%}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    <script type="module" src="{{ asset('js/employed/onload.js') }}"></script>
    <script>
        window.onload = function(){
            new TomSelect("#employed_referent",{
                plugins: ['remove_button'],
                create: true,
                onItemAdd:function(){
                    this.setTextboxValue('');
                    this.refreshOptions();
                },
                render:{
                    option:function(data,escape){
                        return '<div class="d-flex"><span>' + escape(data.data) + '</span><span class="ms-auto text-muted">' + escape(data.value) + '</span></div>';
                    },
                    item:function(data,escape){
                        return '<div>' + escape(data.data) + '</div>';
                    }
                }
            });
        }
    </script>
{% endblock %}
{% block content %}
    <section class="mb-5">
        <div class="row">
            <div class="col-12">
                <h1>Edition d'un collaborateur</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input id="idemployed" type="hidden" value="{{employed.id}}">
                {{ include('admin/employed/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
        </div>
    </section>

{% endblock %}
