<section id="bottom_footer" class="container-fluid">
    <div class="row d-flex align-items-center justify-content-between">
        <div class="col-12 col-md-6">
            <p class="text-start">&copy;{{ "now"|date("Y") }} {% if application %}{{ application.nameSite }}{% else %}OpenGaia{% endif%} | Tous droits réservés | Créer par OpenPixl</p></div>
        <div class="col-12 col-md-6">
                    <ul class="nav justify-content-end mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('op_webapp_public_homepage')}}"><i class="fa-duotone fa-house"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('op_webapp_page_slug', {'slug': 'mentions-legales'}) }}"> Mentions légales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('op_webapp_page_slug', {'slug': 'politique-de-confidentialite'}) }}"> Politiques de confidentialité</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('op_webapp_page_slug', {'slug': 'conditions-generales'}) }}"> Conditions générales de ventes</a>
                        </li>
                        <li class="nav-item dropdown dropup">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Connexion
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a class="dropdown-item" href="{{path('op_admin_dashboard_index')}}">Administration</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{{ path('op_admin_security_login') }}">Connexion</a></li>
                                {% endif %}
                                {% if app.user %}
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{{ path('op_admin_security_logout') }}">Déconnexion</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>

        </div>
    </div>
</section>