{# installation de la logique twig d'affiachage des menus #}
{% set parents = [] %}
{% set childs = [] %}
{% for menu in menus %}
    {% if menu.parent is null %}
        {# Assemblage du tableau en twig #}
        {% set parents = parents|merge([{id: menu.id, name : menu.name, slug: menu.slug}]) %}
    {% endif%}
{% endfor%}
{% for menu in menus %}
    {% if menu.parent is not null %}
        {# Assemblage du tableau en twig #}
        {% set childs = childs|merge([{id: menu.id, name : menu.name, slug: menu.slug, parent: menu.parent, position: menu.position }]) %}
    {% endif%}
{% endfor%}

{# Partie de rendu #}
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('op_webapp_public_homepage')}}">
            {% if application.logoName %}
                <img src="{{ vich_uploader_asset(application, 'faviconFile') }}" alt="{{ application.logoName }}" width="24">
            {% else %}
                <img class="img-fluid" src="{{ asset('images/png/LogoPAPSimmo.png') }}" alt="{{ application.nameSite }}" width="40">
            {% endif %}

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('op_webapp_public_homepage')}}"> Accueil</a>
                </li>
                {% for parent in parents %}
                    {# Création de la variable pour le dropdown de niveau 1#}
                    {% set dropdown = '' %}
                    {% for child in childs|filter(child => child.parent == parent.id) %}
                        {% set dropdown = ' dropdown' %}
                    {% endfor %}
                    {# Mise en place des <li> pour le menu #}
                    <li class="nav-item{{ dropdown }}">
                        {% if dropdown == ' dropdown' %}
                            <a class="nav-link dropdown-toggle" aria-current="page"  href="{{ path('op_webapp_page_slug', {'slug':parent.slug}) }}" id="navbarDropdown" role="button"  aria-expanded="false">
                                {{ parent.name }}
                            </a>
                        {% else %}
                            <a class="nav-link" aria-current="page" href="{{ path('op_webapp_page_slug', {'slug':parent.slug}) }}">{{ parent.name }}</a>
                        {% endif %}
                        {# Si niveau 1, on ajoute les <ul> suivants #}
                        {% if dropdown == ' dropdown' %}
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for child in childs|filter(child => child.parent == parent.id)|sort((a,b) => a.position <=> b.position) %}
                                    <li><a class="dropdown-item" href="{{ path('op_webapp_page_slug', {'slug':child.slug}) }}">{{ child.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mon Espace
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a class="dropdown-item" href="{{path('op_admin_dashboard_index')}}">Administration</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{{ path('op_admin_security_login') }}">Connexion</a></li>
                        {% if app.user %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{# Jumbotron #}

<div class="banner-image w-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ asset('images/png/LogoPAPSimmo.png') }}" alt="">
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-magnifying-glass"></i></span>
                    <input type="text" class="form-control" placeholder="Où voulez-vous habiter ?" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
    </div>
</div>

