{% for product in products %}
    <div class="col-2">
        <div class="card">
            {% if product.visualFilename is not null %}
            <img src="{{ asset('') }}" class="card-img-top" alt="{{ product.ref }}">
            {% else %}
                <img src="{{ asset('images/jpeg/support_visuel.jpeg') }}" class="card-img-top" alt="{{ product.ref }}">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title">{{ product.name }}</h4>
                <h6 class="card-subtitle">{{ product.category.name }}</h6>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <div><a href="{{ path('op_cart_product_edit', {'id': product.id}) }}" class="btn btn-sm btn-outline-info" data-bs-toggle="modal" data-bs-target="#modalSupport" data-bs-crud="EDIT-Modifier le support">Modifier</a></div>
                    <div>

                        {% if app.session.get('cart') is not empty %}
                            {% for i in items|filter(i => i.product.id == product.id) %}
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <a type="button" class="js-increment btn btn-outline-warning" href="{{ path('op_cart_cart_add', {'id': product.id}) }}"><i class="fa-solid fa-plus"></i></a>
                                <button type="button" class="btn btn-outline-warning">&nbsp{{ i.qty }}&nbsp</button>
                                <a type="button" class="js-decrement btn btn-outline-warning" href="{{ path('op_cart_cart_decrement', {'id': product.id}) }}"><i class="fa-solid fa-minus"></i></a>
                            </div>
                            {% else %}
                                <a href="{{ path('op_cart_cart_add', {'id': product.id}) }}" class="btn btn-sm btn-outline-warning"><i class="fa-solid fa-plus"></i> Commander</a>
                            {% endfor %}
                        {% else %}
                            <a href="{{ path('op_cart_cart_add', {'id': product.id}) }}" class="btn btn-sm btn-outline-warning"><i class="fa-solid fa-plus"></i> Commander</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="col-2">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <p>Pas de supports disponible actuellement.</p>
            </div>
            <div class="card-header"></div>
        </div>
    </div>
{% endfor %}