{% for product in products %}
    <div class="col-2">
        <div class="card">
            {% if product.visualFilename is not null %}
                <a href="{{ path('op_cart_product_show', {'id': product.id}) }}" data-bs-toggle="modal" data-bs-target="#modalSupport" data-bs-crud="SHOW-Détails du support commercial-{{ product.id }}"><img src="{{ asset('images/product/' ~ product.visualFilename)|imagine_filter('product_card') }}" class="card-img-top" alt="{{ product.ref }}"></a>
            {% else %}
                <img src="{{ asset('images/jpeg/support_visuel.jpeg') }}" class="card-img-top" alt="{{ product.ref }}">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title">{{ product.name }}</h4>
                <h6 class="card-subtitle">{{ product.category.name }}</h6>
                {# <a href="{{ path('op_cart_product_show', {'id': product.id}) }}" class="stretched-link" data-bs-toggle="modal" data-bs-target="#modalSupport" data-bs-crud="SHOW-Détails du support commercial-{{ product.id }}">Détails</a> #}
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <div>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a href="{{ path('op_cart_product_edit', {'id': product.id}) }}" class="btn btn-sm btn-outline-info" data-bs-toggle="modal" data-bs-target="#modalSupport" data-bs-crud="EDIT-Modifier le support">Modifier</a>
                        {% endif %}
                    </div>
                    <div>
                        <a href="{{ path('op_cart_product_show', {'id': product.id}) }}" class="btn btn-sm btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalSupport" data-bs-crud="SHOW-Détails du support commercial-{{ product.id }}">Voir les détails</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p class="mb-0">Pas de supports de communication disponible actuellement.</p>
            </div>
        </div>
    </div>
{% endfor %}