<table class="table">
    <thead>
    <tr>
        <td>nom</td>
        <td>Contenu</td>
        <td>Position</td>
        <td>Créer le</td>
        <td>MàJ</td>
        <td>actions</td>
    </tr>
    </thead>
    <tbody>
    {% for section in sections %}
        <tr class="align-middle">
            <td>{{ section.name }}</td>
            <td>
                {% if section.content == "One_article" %} Un article
                {% elseif section.content == "Category" %} Une catégoriearticle_pdf
                {% elseif section.content == "Category" %} Une article en pdf
                {% elseif section.content == "All_properties" %} Les propriétés
                {% elseif section.content == "Last_property" %} Les 10 dernières
                {% elseif section.content == "One_Employed" %} Un employé
                {% elseif section.content == "One_staff" %} Une équipe
                {% elseif section.content == "All_Employed" %} Les employés
                {% endif %}

            </td>
            <td>{{ section.position }}</td>
            <td>{{ section.createdAt ? section.createdAt|date('Y-m-d') : '' }}</td>
            <td>{{ section.updatedAt ? section.updatedAt|date('Y-m-d') : '' }}</td>
            <td>
                <button id="btnEditArticle" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editArticle-{{ section.id }}" data-bs-whatever="{{ section.id }}"><i class="fa-duotone fa-pen-to-square"></i></button>
                <div class="modal fade" id="editArticle-{{ section.id }}" tabindex="-1" aria-labelledby="addArticle" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edition d'un nouvel article </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            {{ render(controller('App\\Controller\\Webapp\\SectionController::edit', {'id': section.id})) }}
                        </div>
                    </div>
                </div>
                <a href="" class="btn btn-sm btn-outline-danger delarticle" type="button" data-bs-toggle="modal" data-bs-target="#Suppr" data-bs-whatever="{{ section.id }}"><i class="fa-duotone fa-file-xmark"></i></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="17">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>