{% set progress = 0 %}
{% if transaction.state == 'open' %}
    {% set progress = 20 %}
{% elseif transaction.state == 'promise' %}
    {% set progress = 40 %}
{% elseif transaction.state == 'deposit' %}
    {% set progress = 60 %}
{% elseif transaction.state == 'definitive_sale' %}
    {% set progress = 80 %}
{% elseif transaction.state == 'finished' %}
    {% set progress = 100 %}
{% endif %}

<div class="col-12 mt-2">
    {% if transaction.state == 'finished' %}
        <h4>Le dossier de vente est finalisé.</h4>
    {% else %}
        <h4>Le dossier de vente est en cours de construction.</h4>
    {% endif %}

    <table class="table table-sm">
        <tr class="align-middle">
            <td class="col-2 table-light"><b>Ouverture</b></td>
            <td>{{ transaction.createdAt|format_datetime('full', 'none', locale='fr') }}</td>
        </tr>
        <tr class="align-middle">
            <td class="col-2 table-light"><b>Vendeur.s</b></td>
            <td class="col-4">
                {% for propr in transaction.property.customer %}
                    <div class="alert alert-light mb-1">
                        <p class="mb-0">{{ loop.index }} | {{ propr.firstname }} {{ propr.lastName }} |
                            {% if propr.gsm is defined %}{{ propr.gsm }}{% endif %}
                            {% if propr.home is defined %}{{ propr.home }}{% endif %}
                        </p>
                    </div>
                {% else %}
                -
                {% endfor %}
            </td>
            <td class="col-2 table-light"><b>Acheteur.s</b></td>
            <td class="col-4" id="buyers">
                <a href="{{ path('op_gestapp_customer_addcustomerjson', {'type':2, 'option': transaction.id}) }}" class="btn btn-sm btn-outline-warning w-50 mb-1" data-bs-toggle="modal" data-bs-target="#modalCustomer" data-bs-whatever="ADD-Ajout d'un acheteur-{{ transaction.id }}">
                    Ajouter un acheteur.
                </a>
                {{ include('gestapp/transaction/include/block/_buyers.html.twig') }}
            </td>
        </tr>

        <tr class="align-middle" id="rowPromiseDate">
            <td class="table-light">Date de signature du compromis</td>
            {{ render(controller('App\\Controller\\Gestapp\\TransactionController::addDatePromise', {'id' : transaction.id})) }}
        </tr>

        {{ include('gestapp/transaction/include/block/_rowactedate.html.twig') }}


        <tr class="align-middle">
            <td class="table-light" colspan="4"><b>Documents de transaction</b></td>
        </tr>
        {{ include('gestapp/transaction/include/block/_rowpromisepdf.html.twig') }}

        {{ include('gestapp/transaction/include/block/_rowactepdf.html.twig') }}

        {{ include('gestapp/transaction/include/block/_rowtracfinpdf.html.twig') }}

        <tr class="align-middle">
            <td class="table-light" colspan="4"><b>Finalisation du dossier</b></td>
        </tr>
        {% if transaction.actePdfFilename is defined %}
            <tr class="align-middle">
                <td class="table-light">Dépôt facture :</td>
                <td> - </td>
            </tr>
        {% else %}
        {% endif %}
    </table>
</div>
<div class="col-12 mt-3">
    <a href="{{ path('op_gestapp_transaction_index') }}" class="btn btn-sm btn-outline-dark"><i class="fa-duotone fa-angles-left"></i> Retour à la liste</a>
</div>
