{% extends 'admin.html.twig' %}

{% block title %}Product index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('js/cart/cart/index.js') }}"></script>
{% endblock %}

{% block contentTitle %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Support Commerciaux - <small>Votre panier</small></h1>
        </div>
    </div>
    <div class="navigation d-flex justify-content-between">
        <div class="mb-1">
            <a id="btnreturn" href="{{ path('op_cart_product_index') }}" class="btn btn-sm btn-outline-dark" >retour</a>
            |
            <a href="{{ path('op_cart_purchase_confirm') }}" class="btn btn-sm btn-outline-primary" id="btnConfPurchase">Valider la commande</a>
            <button id="supprRows" class="btn btn-sm btn-outline-dark">Supprimer les produits sélectionnés</button>
        </div>
    </div>
    <div class="row mt-2" id="listeSupport">
        {{ include('cart/cart/include/_liste.html.twig') }}
    </div>

{% endblock %}


{% block modal %}
    {{ parent() }}
    <!-- Modal -->
    <div class="modal fade" id="modalCart" tabindex="-1" aria-labelledby="modalCart" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="btnSubmitCommande" href="#" type="button" class="btn btn-primary" data-bs-dismiss="modal">Modifier</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    {# annonce toaster #}
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-absolute bottom-0 end-0 p-3">
            <div id="toaster" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">SoftPAPS</strong>
                    <small>A l'instant</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
    </div>
{% endblock %}