<div id="allemployed" class="row justify-content-center mt-5 mb-5">
    {% for employed in employeds %}
    <div class="col-12 col-md-6 col-lg-3">
        <p class="text-center">
            {% if employed.avatarName is null %}
            <img class="img-fluid rounded-circle" src="{{ asset('images/jpeg/LogoPAPSimmo-Blanc.jpg')|imagine_filter('noscollaborateursvierge_card') }}" alt="logo papsimmo">
            {% else %}
            <img class="img-fluid rounded-circle" src="{{ asset('images/avatar/' ~ employed.avatarName)|imagine_filter('noscollaborateurs_card') }}" alt="{{ employed.avatarName }}">
            {% endif %}
        </p>
        <h2 class="text-center">
            {{ employed.firstName }} {{ employed.lastName }}
        </h2>
        {% if employed.sector is null %}
        {% else %}
        <p class="text-center"></p>
        {% endif %}
        <p class="text-center">
            <b>Contacts</b><br>
            <i class="fa-duotone fa-circle-phone"></i> {{ employed.gsm }}<br>
            <i class="fa-duotone fa-envelope"></i> {{ employed.email }}
        </p>
        <p class="text-center">
            <a class="btn btn-light" href="{{ path('op_admin_employed_showwithproperty', {'id': employed.id}) }}">Voir sa page et ses biens</a>
        </p>
    </div>
    {% else %}
    <div class="col-12">

    </div>
    {% endfor %}
</div>

