{% extends 'base.html.twig' %}

{% block title %}PropertyEquipement index{% endblock %}

{% block body %}
    <h1>PropertyEquipement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Cat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property_equipement in property_equipements %}
            <tr>
                <td>{{ property_equipement.id }}</td>
                <td>{{ property_equipement.name }}</td>
                <td>{{ property_equipement.Cat }}</td>
                <td>
                    <a href="{{ path('app_gestapp_choice_property_equipement_show', {'id': property_equipement.id}) }}">show</a>
                    <a href="{{ path('app_gestapp_choice_property_equipement_edit', {'id': property_equipement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gestapp_choice_property_equipement_new') }}">Create new</a>
{% endblock %}
