<?xml version="1.0" encoding="utf-8"?>
<Envelope>
    <Body>
        <add_adverts>
            {% for advert in adverts%}
                {% set pool = 0%}
                {% set elevator = 0%}
                {% set intercom = 0%}
                {% set digicode = 0%}
                {% set manager = 0%}
                {% set handicap = 0%}
                {% set alarm = 0%}
                <advert>
                    <account_id>{{ advert.accountReference }}</account_id>
                    <reference>{{ advert.accountReference }}-{{ advert.reference }}</reference>
                    <price>{{ advert.price }}</price>
                    <currency>EUR</currency>
                    <has_included_fees>0</has_included_fees>
                    <agency_rates_type>0</agency_rates_type>
                    <fees>{{ advert.fees }}</fees>
                    <postal_code>{{ advert.postalCode }}</postal_code>
                    <city>{{ advert.city }}</city>
                    <advert_type>properties</advert_type>
                    <title_fr>{{advert.title}}</title_fr>
                    <summary_fr>{{advert.annonce}}</summary_fr>
                    <country_code>fr</country_code>
                    <property_type>{{advert.type}}</property_type>
                    <habitable_surface>{{advert.surfaceHome}}</habitable_surface>
                    <land_surface>{{advert.surfaceLand}}</land_surface>
                    <dpe_type>{{ advert.dpe }}</dpe_type>
                    <dpe_value>{{ advert.dpe_value }}</dpe_value>
                    <ges_type>{{ advert.ges }}</ges_type>
                    <ges_value>{{ advert.ges_value }}</ges_value>
                    <rooms_number>{{ advert.rooms }}</rooms_number>
                    <bedrooms_number>{{ advert.bedrooms }}</bedrooms_number>
                    <baths_number>{{ advert.bathroom }}</baths_number>
                    <showers_number>{{ advert.washroom }}</showers_number>
                    <floor>{{ advert.level }}</floor>
                    <has_terrace>{% if advert.terrace > 0 %}1{% else %}0{% endif %}</has_terrace>
                    <balconies_number>{{ advert.balcony }}</balconies_number>
                    <has_closets>{% if advert.wc > 0 %}1{% else %}0{% endif %}</has_closets>
                    {% if advert.charge is not null %}
                    <charges>{{ advert.charge }}</charges>
                    {% else %}
                    <charges>0</charges>
                    {% endif %}
                    <furnished>{% if advert.isFurnished == true %}1{% else %}0{% endif %}</furnished>
                    <heating>{{ advert.heating }}</heating>
                    <pics>
                        {% for pic in advert.pics %}
                            <pic order="{{ loop.index }}">
                                {{ pic.urlphoto }}
                            </pic>
                        {% endfor %}
                    </pics>

                    <publications>
                        <greenacres>1</greenacres>
                    </publications>
                </advert>
            {% endfor %}
        </add_adverts>
    </Body>
</Envelope>
