<?xml version="1.0" encoding="utf-8"?>
<Envelope>
    <Body>
        <add_adverts>
            {% for advert in adverts%}
                <advert>
                    <account_id>{{ advert.accountReference }}</account_id>
                    <reference>{{ advert.accountReference }}-{{ advert.reference }}</reference>
                    <price>{{ advert.price }}</price>
                    <currency>EUR</currency>
                    <has_included_fees>0</has_included_fees>
                    <agency_rates_type>0</agency_rates_type>
                    <fees>{{ advert.fees }}</fees>
                    <postal_code>{{ advert.postalCode }}</postal_code>
                    <city>{{ advert.city }}</city>
                    <advert_type>properties</advert_type>
                    <title_fr>{{advert.title}}</title_fr>
                    <summary_fr>{{advert.annonce}}</summary_fr>
                    <country_code>fr</country_code>
                    <property_type>{{advert.type}}</property_type>
                    <habitable_surface>{{advert.surfaceHome}}</habitable_surface>
                    <land_surface>{{advert.surfaceLand}}</land_surface>
                    <dpe_type>{{ advert.dpe }}</dpe_type>
                    <dpe_value>{{ advert.dpe_value }}</dpe_value>
                    <ges_type>{{ advert.ges }}</ges_type>
                    <ges_value>{{ advert.ges_value }}</ges_value>
                    <rooms_number>{{ advert.rooms }}</rooms_number>
                    <bedrooms_number>{{ advert.bedrooms }}</bedrooms_number>
                    <baths_number>{{ advert.bathroom }}</baths_number>
                    <showers_number>{{ advert.washroom }}</showers_number>
                    <floor>{{ advert.level }}</floor>
                    <has_pool>0</has_pool>
                    <has_terrace>{% if advert.terrace > 0 %}1{% else %}0{% endif %}</has_terrace>
                    <balconies_number>{{ advert.balcony }}</balconies_number>
                    <open_parkings_number>1</open_parkings_number>
                    <boxes_number>1</boxes_number>
                    <has_elevator>1</has_elevator>
                    <has_closets>{% if advert.wc > 0 %}1{% else %}0{% endif %}</has_closets>
                    <has_intercom>1</has_intercom>
                    <has_building_code>1</has_building_code>
                    <has_building_manager>1</has_building_manager>
                    <has_handicap_access>1</has_handicap_access>
                    <has_alarm>1</has_alarm>
                    <charges>2</charges>
                    <furnished>{% if advert.isFurnished == true %}1{% else %}0{% endif %}</furnished>
                    <heating>none</heating>
                    <pics>
                        {% for pic in advert.pics %}
                            <pic order="{{ loop.index }}">
                                {{ pic.urlphoto }}
                            </pic>
                        {% endfor %}
                    </pics>
                    <publications>
                        <greenacres>1</greenacres>
                    </publications>
                </advert>
            {% endfor %}
        </add_adverts>
    </Body>
</Envelope>
