<table class="table animate__animated animate__fadeIn">
    <thead>
        <tr>
            <th>N°</th>
            <th>Collaborateur</th>
            <th>Date</th>
            <th>Nom du ou des mandant(s)</th>
            <th>Adresse du ou des mandant(s)</th>
            <th>nature et situation du ou des bien(s)</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {% for result in results %}
        <tr>
            <td>{{ result.ID }}</td>
            <td></td>
            <td>{{ result.DATE_DEBUT }}</td>
            <td>{{ result.NOM }}</td>
            <td></td>
            <td>
                {% for r in result.DESCRIPTION_OBSERVATION %}
                    {{ r }}
                {% endfor %}
            </td>
            <td>
                <div id="action_registre" class="btn-group">
                    <button type="button" id="action_registre" class="btn btn-sm btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="action_registre">
                        <li><a class="dropdown-item btnModalDetails" href="#" data-bs-toggle="modal" data-bs-target="#modalDetails" data-bs-whatever="SHOW-Détails de la réservation-{{ result.ID }}"><i class="fa-duotone fa-file-pen"></i> Détails de la réservation</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item btnModalDetails" href="#" data-bs-toggle="modal" data-bs-target="#modalDetails" data-bs-whatever="EDIT-Ajout d'un mandant à la réservation-{{ result.ID }}-Mandant"><i class="fa-duotone fa-copy"></i> Ajouter un mandant</a></li>
                        <li><a class="dropdown-item btnModalDetails" href="#" data-bs-toggle="modal" data-bs-target="#modalDetails" data-bs-whatever="EDIT-Définition du type de mandat-{{ result.ID }}-TMandat"><i class="fa-duotone fa-print"></i> Ajouter le type de mandat</a></li>
                        <li><a class="dropdown-item btnModalDetails" href="#" data-bs-toggle="modal" data-bs-target="#modalDetails" data-bs-whatever="EDIT-Spécification des dates-{{ result.ID }}-DMandat"><i class="fa-duotone fa-print"></i> Ajouter les dates de mandat</a></li>
                        <li><a class="dropdown-item btnModalDetails" href="#" data-bs-toggle="modal" data-bs-target="#modalDetails" data-bs-whatever="EDIT-Observations sur la réservation-{{ result.ID }}-OMandat"><i class="fa-duotone fa-print"></i> Ajouter une observation</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item btnModalDetails" href="#" data-bs-toggle="modal" data-bs-target="#modalDetails" data-bs-whatever="EDIT"><i class="fa-duotone fa-print"></i> Informations du mandant</a></li>
                        <li><a class="dropdown-item btnModalDetails" href="#" data-bs-toggle="modal" data-bs-target="#modalDetails" data-bs-whatever="EDIT"><i class="fa-duotone fa-print"></i> Informations relative au bien</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item btnModalDetails" href="#" data-bs-toggle="modal" data-bs-target="#modalDetails" data-bs-whatever="VALID"><i class="fa-duotone fa-print"></i> Validation du Mandat réservé</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>