<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('admin') }}
            <link href="{{ asset('bundles/fontawesome/css/all.css') }}">
            <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
            <script src="{{ asset('js/flickity/flickity.pkgd.js') }}"></script>
            <link
                    rel="stylesheet"
                    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
            />
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('admin') }}
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
            <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
            <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
            <script src="{{ asset('js/ckeditor5/build/ckeditor.js') }}"></script>
            <script src="{{ asset('js/tinymce/js/tinymce/tinymce.min.js') }}" referrerpolicy="origin"></script>
            <script src="https://kit.fontawesome.com/3904e9974b.js" crossorigin="anonymous"></script>
            <script src="{{ asset('js/sortableJS/Sortable.min.js') }}"></script>
            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
            <script>
                window.onload = function(){
                    // Mise en place de l'éditeur TinyMCE sur la partie Admin
                    tinymce.init({
                        selector: '.tinymce',
                        plugins: 'image table lists',
                        toolbar: 'undo redo | styles | bold italic alignleft aligncenter alignright alignjustify numlist bullist | link image table',
                        images_file_types: 'jpg,svg,webp',
                        language: 'fr_FR',
                        language_url: '/js/tinymce/js/tinymce/languages/fr_FR.js',
                    });


                    document.getElementById('btnContactSupport').addEventListener('click', function(event){
                        event.preventDefault()
                    })
                }
            </script>
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                {{ render(controller('App\\Controller\\Admin\\DashboardController::NavBar')) }}
            {% endblock %}
        </header>
        <main>

            {% block side %}
                {% include('include/admin/side.html.twig') %}
            {% endblock %}

            <div id="content" class="float-end">
                <div class="container-fluid">
                    <section id="content_breadcumb" class="mt-3">
                        {% block breadcrumb %}
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active"><a href="{{ path('op_admin_dashboard_index') }}"><i class="fa-duotone fa-house-blank"></i> Tableau de Bord</a></li>
                        </ol>
                        {% endblock %}
                    </section>
                    <section id="content_header">
                        {% block contentTitle %}{% endblock %}
                    </section>
                    <section id="content_main">
                        {% block content %}
                        {% endblock %}
                    </section>
                    <section id="content_footer">
                        {% block contentFooter %}
                        {% endblock %}
                    </section>
                </div>
            </div>
            <section id="modals">
            {% block modal %}
                {# annonce toaster #}
                <div aria-live="polite" aria-atomic="true" class="position-relative">
                    <div class="toast-container position-absolute top-50 end-0 p-3">
                        <div id="toaster" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                <strong class="me-auto">Bootstrap</strong>
                                <small>11 mins ago</small>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body">
                                Hello, world! This is a toast message.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="NewSupport" tabindex="-1" aria-labelledby="NewSupport" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-warning" id="exampleModalLabel">New message</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="modal-text">Vous êtes sur le point de supprimer l'évènement.</p>
                                <input type="hidden" id="recipient-name">
                            </div>
                            <div class="modal-footer">
                                <a href="#" type="button" class="btn btn-warning jsModalDelProperty" data-bs-dismiss="modal">Supprimer</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            </section>
        </main>
        <footer>

            {% block footer %}
                <div class="row align-items-center">
                    <div class="col-12">
                        <p class="text-end pt-1 pb-1 mb-0">SoftPAPs | <a class="text-light" id="btnContactSupport" href="{{ path('op_admin_mail_contactsupport') }}">contacter le support</a> | Créé par OpenPixl</p>
                    </div>
                </div>
            {% endblock %}
        </footer>
    </body>
</html>
