<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('js/flickity/flickity.css') }}" media="screen">
            <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script src="https://kit.fontawesome.com/3904e9974b.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
            <script src="{{ asset('js/flickity/flickity.pkgd.js') }}"></script>
            <script src="{{ asset('js/tinymce/js/tinymce/tinymce.min.js') }}" referrerpolicy="origin"></script>
            <script type="application/javascript" src="https://unpkg.com/leaflet/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
            <script src="https://tarteaucitron.io/load.js?domain=www.papsimmo.fr&uuid=9ea6989a24d427ca2686cf2a995496780a46283b"></script>
        {% endblock %}
    </head>
    {% set route_name = app.request.attributes.get('_route') %}
    <body>
        <header>
            {% block header %}
                {{ render(controller('App\\Controller\\Webapp\\PublicController::BlocMenu', {'route': route_name})) }}
                {{ render(controller('App\\Controller\\Webapp\\PublicController::Jumbotron', {'route': route_name})) }}
            {% endblock %}
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            {% block modal %}

            {% endblock %}
            {% block footer %}
                {{ render(controller('App\\Controller\\Webapp\\PublicController::topFooter')) }}
                {{ render(controller('App\\Controller\\Webapp\\PublicController::bottomFooter')) }}
            {% endblock %}
        </footer>
    </body>
</html>
