<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="/path/to/flickity.css" media="screen">
            <script src="/path/to/flickity.pkgd.min.js"></script>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/3904e9974b.js" crossorigin="anonymous"></script>
            <script type="text/javascript">
                window.onload = function(){
                    var nav = document.querySelector('nav');

                    window.addEventListener('scroll', function () {
                        if (window.pageYOffset > 400) {
                            nav.classList.add('bg-light', 'shadow');
                        } else {
                            nav.classList.remove('bg-light', 'shadow');
                        }
                    });
                }
            </script>
        {% endblock %}
    </head>
    {% set route_name = app.request.attributes.get('_route') %}
    <body>
        <header>
            {% block header %}
                {{ render(controller('App\\Controller\\Webapp\\PublicController::BlocMenu', {'route': route_name})) }}
            {% endblock %}
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            {% block footer %}
                {{ render(controller('App\\Controller\\Webapp\\PublicController::topFooter')) }}
                {{ render(controller('App\\Controller\\Webapp\\PublicController::bottomFooter')) }}
            {% endblock %}
        </footer>
    </body>
    {% block modal %}
    {% endblock %}
</html>
