{{ form_start(form, {'attr': {'id':'FormPublication'}}) }}
<div class="row">
    <div class="col-12">
        <table class="table table-sm mt-2">
            <thead>
                <tr class="align-bottom">
                    <td class="col-md-4"><h3>PUBLICATION</h3></td>
                    <td class="col-md-8"></td>
                </tr>
            </thead>
            <tbody>
                <tr class="table-light">
                    <th colspan="2" class="text-uppercase">Publication sur l'application</th>
                </tr>
                <tr class="align-middle">
                    <td>{{ form_label(form.isWebpublish, '', {'label_attr': {'class':'form-check-label'}}) }}</td>
                    <td>
                        <div class="form-check form-switch">
                            {{ form_widget(form.isWebpublish, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Choissez le secteur de diffusion du bien</td>
                    <td>{{ form_widget(form.sector, {'attr': {'class': 'form-select form-select-sm'}}) }}</td>
                </tr>
                <tr class="table-light">
                    <th colspan="2" class="text-uppercase">Publications sur les plateformes.</th>
                </tr>
                <tr>
                    <td>{{ form_label(form.isPublishParven, '', {'label_attr': {'class':'form-check-label'}}) }}</td>
                    <td>
                        <div class="form-check form-switch">
                            {{ form_widget(form.isPublishParven, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{ form_label(form.isPublishMeilleur, '', {'label_attr': {'class':'form-check-label'}}) }}</td>
                    <td>
                        <div class="form-check form-switch">
                            {{ form_widget(form.isPublishMeilleur, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{ form_label(form.isPublishleboncoin, '', {'label_attr': {'class':'form-check-label'}}) }}</td>
                    <td>
                        <div class="form-check form-switch">
                            {{ form_widget(form.isPublishleboncoin, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <div class="mt-1">
            {% if property.isIncreating == 1 %}
            <a id="previousPublication" href="{{ path('op_gestapp_property_index') }}" class="btn btn-sm btn-outline-dark"><i class="fa-solid fa-backward-step"></i> Retour</a>
            <button type="submit" id="stepPublication" class="btn btn-sm btn-outline-primary">{{ button_label|default("Valider et finaliser la modification d'un bien") }}</button>
            {% else %}
            <a id="returnList" href="{{ path('op_gestapp_property_index') }}" class="btn btn-sm btn-outline-dark"><i class="fa-solid fa-backward-step"></i> Retour </a>
            <button type="submit" id="stepPublication2" class="btn btn-sm btn-outline-primary">{{ button_label|default("Valider") }}</button>
            {% endif %}
        </div>
    </div>
</div>
{{ form_end(form) }}
