{% extends 'base.html.twig' %}

{% block title %}OtherOption index{% endblock %}

{% block body %}
    <h1>OtherOption index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for other_option in other_options %}
            <tr>
                <td>{{ other_option.id }}</td>
                <td>{{ other_option.name }}</td>
                <td>
                    <a href="{{ path('app_gestapp_choice_other_option_show', {'id': other_option.id}) }}">show</a>
                    <a href="{{ path('app_gestapp_choice_other_option_edit', {'id': other_option.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gestapp_choice_other_option_new') }}">Create new</a>
{% endblock %}
