<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        {% for path in encore_entry_css_files('pdf') %}
            <link rel="stylesheet" href="{{ absolute_url(path) }}">
        {% endfor %}
    </head>
    <body>
    {% set piece = '' %}
    {% set room = '' %}
    {% if property.piece < 2 %}{%set piece = 'pièce'%}{%else%}{%set piece = 'pièces'%}{%endif%}
    {% if property.room < 2 %}{%set room = 'chambre'%}{%else%}{%set room = 'chambres'%}{%endif%}
    {# variables pour la ou les pages de galerie  #}
    {% set nbphotos = photos|length %}
    {% set page = ((nbphotos / 6)|round)+1 %}
    {% set photosCollection = [] %}
    {% for photo in photos %}
        {% set photosCollection = photosCollection|merge([photo]) %}
    {% endfor %}
    <div id="firstPage" class="page">
        {{ include('pdf/include/_headerpdf.html.twig') }}
        <div id="Details">
            <div id="Title">
                <h2 class="title-h2">INFO - {{ property.name }}</h2>
            </div>
            <div id="Content" class="row">
                <div id="FirstImg" class="col-50">
                    {% if firstphoto is not empty %}
                        <img class="img-adapt" src="{{ asset('images/galery/' ~ firstphoto.galeryFrontName)|imagine_filter('oneproperty_image') }}" alt="{{ firstphoto.galeryFrontName }}">
                    {% else %}
                        <img src="{{ asset('images/jpeg/mod_maison.jpg')}}" class="card-img" alt="none-visuel">
                    {% endif %}
                </div>
                <div id="Informations" class="col-50">
                    <div style="padding: 0 0.5rem">
                        <table>
                            <tr>
                                <th>Référence :</th>
                                <td colspan="3">{{ property.ref }}</td>
                            </tr>
                            <tr>
                                <th>Transaction :</th>
                                <td colspan="3">VENTE</td>
                            </tr>
                            <tr>
                                <th>Type :</th>
                                <td colspan="3">{{ property.propertyDefinition }}</td>
                            </tr>
                            {% if property.constructionAt is not empty %}
                            <tr>
                                <th>Année de construction :</th>
                                <td colspan="3">{{ property.constructionAt }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th>Surfaces : </th>
                                <td><b>Habitable : </b> {{ property.surfaceHome }} m2 / <b>Terrain : </b>{{ property.surfaceLand }} m2</td>
                            </tr>
                            <tr>
                                <th>Nombre de pièces : </th>
                                <td>{{ property.piece }} {{ piece }} dont {{ property.room }} {{ room }}</td>
                            </tr>
                            <tr>
                                <th>Prix FAI : </th>
                                <td colspan="3">{{property.priceFai}} €</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="DiagnosticCard">
                <div id="DiagnosticCard-title" class="row">
                    <div class="col-100">
                        <h4>Bilan énergétique</h4>
                    </div>
                </div>
                <div id="DiagnosticCard-diag" class="row">

                    <div class="col-50" style="display:flex;justify-content: space-around;align-items: center;">
                        <div>
                            <h5 class="subtitle" style="text-align: center">Consommation énergétique</h5>
                            {% if property.diagDpe >= 0  %}
                                {% set letter = '' %}
                                {% if property.diagDpe > 0 and property.diagDpe <= 70 %}
                                    {% set letter = 'A'%}
                                {% elseif property.diagDpe > 70 and property.diagDpe <= 110 %}
                                    {% set letter = 'B'%}
                                {% elseif property.diagDpe > 110 and property.diagDpe <= 180 %}
                                    {% set letter = 'C'%}
                                {% elseif property.diagDpe > 180 and property.diagDpe <= 250 %}
                                    {% set letter = 'D'%}
                                {% elseif property.diagDpe > 250 and property.diagDpe <= 330 %}
                                    {% set letter = 'E'%}
                                {% elseif property.diagDpe > 330 and property.diagDpe <= 420 %}
                                    {% set letter = 'F'%}
                                {% elseif property.diagDpe > 420 %}
                                    {% set letter = 'G'%}
                                {% endif %}
                                <ul class="diag_ener">
                                    <li class="c-dpe__index dpe-A {% if letter == 'A' %}dpe-active{% endif %}">A{% if letter == 'A' %}<strong class="dpe_l">{{ property.diagDpe }}<span class="dpe_u">kWh/m2.an</span></strong>{% endif %}</li>
                                    <li class="c-dpe__index dpe-B {% if letter == 'B' %}dpe-active{% endif %}">B{% if letter == 'B' %}<strong class="dpe_l">{{ property.diagDpe }}<span class="dpe_u">kWh/m2.an</span></strong>{% endif %}</li>
                                    <li class="c-dpe__index dpe-C {% if letter == 'C' %}dpe-active{% endif %}">C{% if letter == 'C' %}<strong class="dpe_l">{{ property.diagDpe }}<span class="dpe_u">kWh/m2.an</span></strong>{% endif %}</li>
                                    <li class="c-dpe__index dpe-D {% if letter == 'D' %}dpe-active{% endif %}">D{% if letter == 'D' %}<strong class="dpe_l">{{ property.diagDpe }}<span class="dpe_u">kWh/m2.an</span></strong>{% endif %}</li>
                                    <li class="c-dpe__index dpe-E {% if letter == 'E' %}dpe-active{% endif %}">E{% if letter == 'E' %}<strong class="dpe_l">{{ property.diagDpe }}<span class="dpe_u">kWh/m2.an</span></strong>{% endif %}</li>
                                    <li class="c-dpe__index dpe-F {% if letter == 'F' %}dpe-active{% endif %}">F{% if letter == 'F' %}<strong class="dpe_l">{{ property.diagDpe }}<span class="dpe_u">kWh/m2.an</span></strong>{% endif %}</li>
                                    <li class="c-dpe__index dpe-G {% if letter == 'G' %}dpe-active{% endif %}">G{% if letter == 'G' %}<strong class="dpe_l">{{ property.diagDpe }}<span class="dpe_u">kWh/m2.an</span></strong>{% endif %}</li>
                                </ul>
                            {% endif %}
                        </div>

                    </div>
                    <div class="col-50" style="display:flex;justify-content: space-around;align-items: center;">
                        <div>
                            <h5 class="subtitle" style="text-align: center">Emission de gaz</h5>
                            {% if property.diagGes >= 0  %}
                                {% if property.diagGes > 0 and property.diagGes <= 5 %}
                                    {% set letter = 'A1'%}
                                {% elseif property.diagGes > 5 and property.diagGes <= 10 %}
                                    {% set letter = 'B1'%}
                                {% elseif property.diagGes > 11 and property.diagGes <= 20 %}
                                    {% set letter = 'C1'%}
                                {% elseif property.diagGes > 21 and property.diagGes <= 35 %}
                                    {% set letter = 'D1'%}
                                {% elseif property.diagGes > 36 and property.diagGes <= 55 %}
                                    {% set letter = 'E1'%}
                                {% elseif property.diagGes > 56 and property.diagGes <= 80 %}
                                    {% set letter = 'F1'%}
                                {% elseif property.diagGes > 80 %}
                                    {% set letter = 'G1'%}
                                {% endif %}
                                <ul class="diag_ener">
                                    <li class="c-dpe__index dpe-A1 {% if letter == 'A1' %}dpe-active{% endif %}">A{% if letter == 'A1' %}<strong class="dpe_l">{{ property.diagGes }}<span class="dpe_u">kgeqCO2/m².an</span></strong>{% endif %}</li>
                                    <li class="c-dpe__index dpe-B1 {% if letter == 'B1' %}dpe-active{% endif %}">B{% if letter == 'B1' %}<strong class="dpe_l">{{ property.diagGes }}<span class="dpe_u">kgeqCO2/m².an</span></strong>{% endif %}</li>
                                    <li class="c-dpe__index dpe-C1 {% if letter == 'C1' %}dpe-active{% endif %}">C{% if letter == 'C1' %}<strong class="dpe_l">{{ property.diagGes }}<span class="dpe_u">kgeqCO2/m².an</span></strong>{% endif %}</li>
                                    <li class="c-dpe__index dpe-D1 {% if letter == 'D1' %}dpe-active{% endif %}">D{% if letter == 'D1' %}<strong class="dpe_l">{{ property.diagGes }}<span class="dpe_u">kgeqCO2/m².an</span></strong>{% endif %}</li>
                                    <li class="c-dpe__index dpe-E1 {% if letter == 'E1' %}dpe-active{% endif %}">E{% if letter == 'E1' %}<strong class="dpe_l">{{ property.diagGes }}<span class="dpe_u">kgeqCO2/m².an</span></strong>{% endif %}</li>
                                    <li class="c-dpe__index dpe-F1 {% if letter == 'F1' %}dpe-active{% endif %}">F{% if letter == 'F1' %}<strong class="dpe_l">{{ property.diagGes }}<span class="dpe_u">kgeqCO2/m².an</span></strong>{% endif %}</li>
                                    <li class="c-dpe__index dpe-G1 {% if letter == 'G1' %}dpe-active{% endif %}">G{% if letter == 'G1' %}<strong class="dpe_l">{{ property.diagGes }}<span class="dpe_u">kgeqCO2/m².an</span></strong>{% endif %}</li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="DiagnosticCard-count" class="row">
                    <div class="col-100">
                        <h5 class="subtitle">Coût annuel</h5>
                        <p>Estimation du coût annuel énergie pour un usage standard entre <span class="color">{{ property.dpeEstimateEnergyDown }}€</span> et
                            <span class="color">{{ property.dpeEstimateEnergyUp }}€</span> au {{ property.anneeref|date("Y", "Europe/Paris") }} (abonnement compris) </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="descriptions">
            <div>
                <h2 class="title-h2">DESCRIPTION</h2>
            </div>
            <div id="propertyDescription">
                <p><span class="subtitle">{{ property.name }}</span> </p>
                <p>{{ property.annonce|markdown_to_html }}</p>
            </div>
        </div>
    </div>
    <div style="page-break-before:always;"></div>
    {% for row in photosCollection|batch(6,'') %}
    <div class="page">
        {{ include('pdf/include/_headerpdf.html.twig') }}
        <div id="Title">
            <h2 class="title-h2">PHOTOS (page 1 sur {{ page }})</h2>
        </div>
        <div id="Galerie">
            <div class="row">
            {% for photo in row|slice(0, 2) %}
                {% if photo is not empty %}
                    <div class="col-50">
                        <img class="img-adapt" src="{{ asset('images/galery/' ~ photo.galeryFrontName)|imagine_filter('ficheproperty_image') }}" alt="{{ photo.galeryFrontName }}" >
                    </div>
                {% else %}
                {% endif %}
            {% endfor %}
            </div>
            <div class="row">
            {% for photo in row|slice(2, 2) %}
                {% if photo is not empty %}
                    <div class="col-50">
                        <img class="img-adapt" src="{{ asset('images/galery/' ~ photo.galeryFrontName)|imagine_filter('ficheproperty_image') }}" alt="{{ photo.galeryFrontName }}" >
                    </div>
                {% else %}
                {% endif %}
            {% endfor %}
            </div>
            <div class="row">
            {% for photo in row|slice(4, 2) %}
                {% if photo is not empty %}
                    <div class="col-50">
                        <img class="img-adapt" src="{{ asset('images/galery/' ~ photo.galeryFrontName)|imagine_filter('ficheproperty_image') }}" alt="{{ photo.galeryFrontName }}" >
                    </div>
                {% else %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    <div style="page-break-before:always;"></div>
    {% endfor %}
    <div class="page">
        {{ include('pdf/include/_headerpdf.html.twig') }}
        <div id="Title">
            <h2 class="title-h2">INFO - {{ property.name }}</h2>
        </div>
        <div id="techniques">
            <div id="Subtitle">
                <h3 class="title-h3">ESTIMATION DU COUT ANNUEL ENERGETIQUE DU BIEN</h3>
                <p><span class="subtitle">Estimation énergie basse : </span>{% if property.dpeEstimateEnergyDown is not
                        empty %}{{ property.dpeEstimateEnergyDown }} €{% else %}non communiqué{% endif %}</p>
                <p><span class="subtitle">Estimation énergie élevée : </span>{% if property.dpeEstimateEnergyUp is not empty %}{{property.dpeEstimateEnergyUp}} €{% else %}non communiqué{% endif %}</p>
                <p><span class="subtitle">Année de référence : </span>{% if property.anneeref is not empty %}{{ property.anneeref }}{% else %}non communiqué{% endif %}</p>
            </div>
            <div>
                <h3 class="title-h3">Piéces</h3>
                <p><span class="subtitle">Terrasse : </span>{% if property.terrace is not empty%}{{property.terrace}}{%
                    else %}non communiqué{% endif %}</p>
                <p><span class="subtitle">Salle d'eau : </span>{% if property.washroom is not
                        empty%}{{property.washroom}}{% else %}non communiqué{% endif %}</p>
                <p><span class="subtitle">Salle de bain : </span>{% if property.bathroom is not
                        empty%}{{property.bathroom}}{% else %}non communiqué{% endif %}</p>
                <p><span class="subtitle">WC : </span>{% if property.wc is not empty%}{{property.wc}}{% else %}non
                    communiqué{% endif %}</p>
                <p><span class="subtitle">Balcon : </span>{% if property.balcony is not empty%}{{property.balcony}}{%
                    else %}non communiqué{% endif %}</p>
            </div>
            <div>
                <h3 class="title-h3">Equipements</h3>
                <p>
                    <span class="subtitle">Meublé : </span>
                    {% if property.isFurnished == 1 %}Oui{% else %}Non{% endif %}

                </p>
                <p>
                    <span class="subtitle">Equipement du bien : </span>
                    {% for equipment in equipments %}
                        {% if loop.first %}{{ equipment.name }} - {% elseif loop.last%}{{ equipment.name }}{% else %} {{ equipment.name }} - {% endif %}
                    {% endfor %}
                </p>
                <p>
                    <span class="subtitle">Typologie du bien : </span>{% if property.propertyTypology is not empty%}{{property.propertyTypology}}{% else %}non communiqué{% endif %}</p>
                <p>
                    <span class="subtitle">Etage : </span>{% if property.level is not empty%}{{property.level}}{% else %}non communiqué{% endif %}</p>
                <p>
                    <span class="subtitle">Autres options du bien : </span>
                    {% for otheroption in otheroptions %}
                        {% if loop.first %}{{ otheroption.name }} - {% elseif loop.last%}{{ otheroption.name }}{% else %}{{ otheroption.name }} - {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    </body>
</html>