<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        {% for path in encore_entry_css_files('pdf') %}
            <link rel="stylesheet" href="{{ absolute_url(path) }}">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        {% endfor %}
    </head>
    <body class="landscape container">
    {% set piece = '' %}
    {% set room = '' %}
    {% if property.piece < 2 %}{%set piece = 'pièce'%}{%else%}{%set piece = 'pièces'%}{%endif%}
    {% if property.room < 2 %}{%set room = 'chambre'%}{%else%}{%set room = 'chambres'%}{%endif%}
        <div id="firstPage" class="page">
            {{ include('pdf/include/_header2pdf.html.twig') }}
            <div id="Details">
                <div id="imgs" class="row g-2">
                    {% for p in threephotos %}
                        <div class="col-4">
                            <img class="img-fluid rounded-2" src="{{ asset('properties/' ~ p.path ~ '/' ~ p.galeryFrontName)|imagine_filter('oneproperty_imagelandscape') }}" alt="{{ p.galeryFrontName }}">
                        </div>
                    {% else %}
                        <div class="col-4">
                            <img class="img-fluid" src="{{ asset('images/jpeg/mod_maison.jpg')}}" class="card-img" alt="none-visuel">
                        </div>
                    {% endfor %}
                </div>
                <div id="Content" class="row mt-1 g-2">
                    <div id="fichtechn" class="col-4">
                        <table class="table">
                            <tr class="align-middle">
                                <th class="col-4">Référence :</th>
                                <td class="col-8">{{ property.ref }}</td>
                            </tr>
                            <tr class="align-middle">
                                <th>Transaction :</th>
                                <td>{{ property.family }}</td>
                            </tr>
                            {% if property.propertyRubric is not empty %}
                                <tr class="align-middle">
                                    <th>Type :</th>
                                    <td>{% if property.propertyRubric is not null%}{{property.propertyRubric}}{% else %}non communiqué{% endif %}</td>
                                </tr>
                            {% endif %}
                            {% if property.constructionAt is not empty %}
                                <tr class="align-middle">
                                    <th>Construction :</th>
                                    <td>{{ property.constructionAt }}</td>
                                </tr>
                            {% endif %}
                            <tr class="align-middle">
                                <th>Surfaces : </th>
                                <td><b>Habitable : </b> {{ property.surfaceHome }} m2 / <b>Terrain : </b>{{ property.surfaceLand }} m2</td>
                            </tr>
                            <tr class="align-middle">
                                <th>Nbre de pièces : </th>
                                <td>{{ property.piece }} {{ piece }} dont {{ property.room }} {{ room }}</td>
                            </tr>
                            <tr class="align-middle">
                                <th>Prix FAI : </th>
                                <td>{{property.priceFai}} €</td>
                            </tr>
                        </table>
                        <div id="DiagnosticCard">
                            <div id="DiagnosticCard-diag">
                                <div class="row mb-3">
                                    <div class="col-6" style="display:flex;justify-content: space-around;align-items: center;">
                                        <div>
                                            <h5 class="subtitle" style="text-align: center">Consommation énergétique</h5>
                                            {% if property.diagDpe > 0  %}
                                                {% set letter = '' %}
                                                {% if property.diagDpe > 0 and property.diagDpe <= 70 %}
                                                    {% set letter = 'A'%}
                                                {% elseif property.diagDpe > 70 and property.diagDpe <= 110 %}
                                                    {% set letter = 'B'%}
                                                {% elseif property.diagDpe > 110 and property.diagDpe <= 180 %}
                                                    {% set letter = 'C'%}
                                                {% elseif property.diagDpe > 180 and property.diagDpe <= 250 %}
                                                    {% set letter = 'D'%}
                                                {% elseif property.diagDpe > 250 and property.diagDpe <= 330 %}
                                                    {% set letter = 'E'%}
                                                {% elseif property.diagDpe > 330 and property.diagDpe <= 420 %}
                                                    {% set letter = 'F'%}
                                                {% elseif property.diagDpe > 420 %}
                                                    {% set letter = 'G'%}
                                                {% endif %}
                                                <ul class="diag_ener">
                                                    <li class="c-dpe__index dpe-A {% if letter == 'A' %}dpe-active{% endif %}">A{% if letter == 'A' %}<strong class="dpe_l">{{ property.diagDpe }}<span class="dpe_u">kWh/m2.an</span></strong>{% endif %}</li>
                                                    <li class="c-dpe__index dpe-B {% if letter == 'B' %}dpe-active{% endif %}">B{% if letter == 'B' %}<strong class="dpe_l">{{ property.diagDpe }}<span class="dpe_u">kWh/m2.an</span></strong>{% endif %}</li>
                                                    <li class="c-dpe__index dpe-C {% if letter == 'C' %}dpe-active{% endif %}">C{% if letter == 'C' %}<strong class="dpe_l">{{ property.diagDpe }}<span class="dpe_u">kWh/m2.an</span></strong>{% endif %}</li>
                                                    <li class="c-dpe__index dpe-D {% if letter == 'D' %}dpe-active{% endif %}">D{% if letter == 'D' %}<strong class="dpe_l">{{ property.diagDpe }}<span class="dpe_u">kWh/m2.an</span></strong>{% endif %}</li>
                                                    <li class="c-dpe__index dpe-E {% if letter == 'E' %}dpe-active{% endif %}">E{% if letter == 'E' %}<strong class="dpe_l">{{ property.diagDpe }}<span class="dpe_u">kWh/m2.an</span></strong>{% endif %}</li>
                                                    <li class="c-dpe__index dpe-F {% if letter == 'F' %}dpe-active{% endif %}">F{% if letter == 'F' %}<strong class="dpe_l">{{ property.diagDpe }}<span class="dpe_u">kWh/m2.an</span></strong>{% endif %}</li>
                                                    <li class="c-dpe__index dpe-G {% if letter == 'G' %}dpe-active{% endif %}">G{% if letter == 'G' %}<strong class="dpe_l">{{ property.diagDpe }}<span class="dpe_u">kWh/m2.an</span></strong>{% endif %}</li>
                                                </ul>
                                            {% elseif property.diagDpe == 0  %}
                                                <ul class="diag_ener">
                                                    <li class="c-dpe__index dpe-A">A</li>
                                                    <li class="c-dpe__index dpe-B">B</li>
                                                    <li class="c-dpe__index dpe-C">C</li>
                                                    <li class="c-dpe__index dpe-D">D<strong class="dpe_l">{{ property.diagChoice }}</strong></li>
                                                    <li class="c-dpe__index dpe-E">E</li>
                                                    <li class="c-dpe__index dpe-F">F</li>
                                                    <li class="c-dpe__index dpe-G">G</li>
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-6" style="display:flex;justify-content: space-around;align-items: center;">
                                        <div>
                                            <h5 class="subtitle" style="text-align: center">Emission de gaz</h5>
                                            {% if property.diagGes > 0  %}
                                                {% if property.diagGes > 0 and property.diagGes <= 5 %}
                                                    {% set letter = 'A1'%}
                                                {% elseif property.diagGes > 5 and property.diagGes <= 10 %}
                                                    {% set letter = 'B1'%}
                                                {% elseif property.diagGes > 11 and property.diagGes <= 20 %}
                                                    {% set letter = 'C1'%}
                                                {% elseif property.diagGes > 21 and property.diagGes <= 35 %}
                                                    {% set letter = 'D1'%}
                                                {% elseif property.diagGes > 36 and property.diagGes <= 55 %}
                                                    {% set letter = 'E1'%}
                                                {% elseif property.diagGes > 56 and property.diagGes <= 80 %}
                                                    {% set letter = 'F1'%}
                                                {% elseif property.diagGes > 80 %}
                                                    {% set letter = 'G1'%}
                                                {% endif %}
                                                <ul class="diag_ener">
                                                    <li class="c-dpe__index dpe-A1 {% if letter == 'A1' %}dpe-active{% endif %}">A{% if letter == 'A1' %}<strong class="dpe_l">{{ property.diagGes }}<span class="dpe_u">kgeqCO2/m².an</span></strong>{% endif %}</li>
                                                    <li class="c-dpe__index dpe-B1 {% if letter == 'B1' %}dpe-active{% endif %}">B{% if letter == 'B1' %}<strong class="dpe_l">{{ property.diagGes }}<span class="dpe_u">kgeqCO2/m².an</span></strong>{% endif %}</li>
                                                    <li class="c-dpe__index dpe-C1 {% if letter == 'C1' %}dpe-active{% endif %}">C{% if letter == 'C1' %}<strong class="dpe_l">{{ property.diagGes }}<span class="dpe_u">kgeqCO2/m².an</span></strong>{% endif %}</li>
                                                    <li class="c-dpe__index dpe-D1 {% if letter == 'D1' %}dpe-active{% endif %}">D{% if letter == 'D1' %}<strong class="dpe_l">{{ property.diagGes }}<span class="dpe_u">kgeqCO2/m².an</span></strong>{% endif %}</li>
                                                    <li class="c-dpe__index dpe-E1 {% if letter == 'E1' %}dpe-active{% endif %}">E{% if letter == 'E1' %}<strong class="dpe_l">{{ property.diagGes }}<span class="dpe_u">kgeqCO2/m².an</span></strong>{% endif %}</li>
                                                    <li class="c-dpe__index dpe-F1 {% if letter == 'F1' %}dpe-active{% endif %}">F{% if letter == 'F1' %}<strong class="dpe_l">{{ property.diagGes }}<span class="dpe_u">kgeqCO2/m².an</span></strong>{% endif %}</li>
                                                    <li class="c-dpe__index dpe-G1 {% if letter == 'G1' %}dpe-active{% endif %}">G{% if letter == 'G1' %}<strong class="dpe_l">{{ property.diagGes }}<span class="dpe_u">kgeqCO2/m².an</span></strong>{% endif %}</li>
                                                </ul>
                                            {% else %}
                                                <ul class="diag_ener">
                                                    <li class="c-dpe__index dpe-A1">A</li>
                                                    <li class="c-dpe__index dpe-B1">B</li>
                                                    <li class="c-dpe__index dpe-C1">C</li>
                                                    <li class="c-dpe__index dpe-D1">D<strong class="dpe_l">{{ property.diagChoice }}</strong></li>
                                                    <li class="c-dpe__index dpe-E1">E</li>
                                                    <li class="c-dpe__index dpe-F1">F</li>
                                                    <li class="c-dpe__index dpe-G1">G</li>
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="DiagnosticCard-count" class="row">
                                <div class="col-100">
                                    <h5 class="subtitle">Coût annuel</h5>
                                    <p>
                                        Estimation du coût annuel énergie pour un usage standard entre <span class="color">{{ property.dpeEstimateEnergyDown }}€</span> et
                                        <span class="color">{{ property.dpeEstimateEnergyUp }}€</span> au {{ property.anneeRefNRJ|date("Y") }} (abonnement compris)
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="Informations" class="col-8">
                        <div id="Title" class="row mt-0 mb-0">
                            {% set texte = property.name %}
                            {% set mots = texte|split(' ') %}
                            {% set nouveau_texte = '' %}
                            {% set compteur = 0 %}

                            {% for mot in mots %}
                                {% if compteur == 18 %}
                                    {% set nouveau_texte = nouveau_texte ~ '<br>' %}
                                    {% set compteur = 0 %}
                                {% endif %}
                                {% set nouveau_texte = nouveau_texte ~ mot ~ ' ' %}
                                {% set compteur = compteur + 1 %}
                            {% endfor %}
                            <div id="descriptions"  class="col-12">
                                <h2 class="title-h2">{{ nouveau_texte|raw }}</h2>
                                {{ property.annonce|markdown_to_html }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-end" style="font-size: 13px;color: #069697; margin-bottom:0">MANDAT N° : {{ property.refMandat }} | Dossier édité le : {{ 'now'|date('Y-m-d') }}</p>
            </div>
        </div>
    </div>
    </body>
</html>