<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>

    </style>
</head>
    <body>
        <header class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <img src="{{ absolute_url(asset('images/png/LogoPAPSimmo.png'))}}" alt="{{ application.nameSite }}">
                </div>
                <div class="col-10">
                    <h1>{{ application.nameSite }}</h1>
                </div>
            </div>
        </header>
        <main class="container-fluid">
            {% set piece = '' %}
            {% set room = '' %}
            {% if property.piece < 2 %}{%set piece = 'pièce'%}{%else%}{%set piece = 'pièces'%}{%endif%}
            {% if property.room < 2 %}{%set room = 'chambre'%}{%else%}{%set room = 'chambres'%}{%endif%}
            <section id="oneproperty_header" class="pt-1 pb-1">
                <div class="container">
                    {# bandeau de présentation des informations prioncipales du bien #}
                    <div class="row" id="informations">
                        <div class="col-3">
                            <p class="text-end mb-0"><img src="{{ absolute_url(asset('images/png/picto_superfmaison.png'))}}" alt="picto_surfacebien"> {{ property.surfaceHome|number_format(0,',',' ')}} m2 surface habitable</p>
                        </div>
                        <div class="col-3">
                            <p class="text-end mb-0"><img src="{{ absolute_url(asset('images/png/picto_nbpiece.png'))}}" alt="picto_pieces"> {{property.piece}} {{piece}} | {{ property.room}} {{ room }}</p>
                        </div>
                        <div class="col-3">
                            <p class="text-end mb-0"><img src="{{ absolute_url(asset('images/png/picto_terrainsuperfi.png'))}}" alt="picto_surfaceterrain"> {{ property.surfaceHome|number_format(0,',',' ')}} m2 de terrain</p>
                        </div>
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <p class="text-center align-middle mb-0">{{ property.priceFai|number_format(0,',',' ') }} €</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row">
                <div class="col-4" id="fiche_img_princ">
                    {% if firstphoto is not empty %}
                        <img class="img-fluid" src="{{ vich_uploader_asset(firstphoto, 'galeryFrontFile')|imagine_filter('oneproperty_image') }}" class="card-img img-fluid" alt="{{ firstphoto.galeryFrontName }}" >
                    {% else %}
                        <img src="{{ asset('images/jpeg/mod_maison.jpg')}}" class="card-img" alt="none-visuel">
                    {% endif %}
                </div>
                <div class="col-8" id="fiche_détail">
                    <h1>{{ property.name }}</h1>
                    <p>{{ property.annonce|markdown_to_html }}</p>
                </div>
            </div>
        </main>
        <footer>
            <div class="row">
                <div class="col-12">

                </div>
            </div>
        </footer>
    </body>
</html>