<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% for path in encore_entry_css_files('pdf') %}
            <link rel="stylesheet" href="{{ absolute_url(path) }}">
        {% endfor %}
        <script src="https://kit.fontawesome.com/3904e9974b.js" crossorigin="anonymous"></script>

    </head>
    <body>
    <div id="header">
        <div class="container" style="align-items: center; justify-content: space-between;">
            <div>
                <img src="{{ absolute_url(asset('images/png/LogoPAPSimmo.png'))}}" alt="{{ application.nameSite }}">
            </div>
            <div>
                <h1>
                    MANDAT DE VENTE N°: {{ propriete.refMandat }}
                </h1>
                <p></p>
                <p><i>Hors établissement / avec démarchage. Le mandat est obligatoire
                        Article 6 de la loi du 6 janvier 1970 et décret d’application n°72-678 du 20 juillet 1972</i></p>
            </div>
        </div>
    </div>
        <div id="page1" class="page">
            <h3>LE MANDANT</h3>
            {% for customer in customers %}
            <p>
                <b>M Mme : <span class="input">{{ customer.firstName }} {{ customer.lastName }}</span></b><br>
                {% if customer.ddn is not null %}Né(e) le : bla à : bla{% endif %}<br>
                Demeurant à : <span class="input">{{ customer.adress }}{% if customer.complement is not empty %}, {{ customer.complement }} {% endif %} - {{ customer.zipcode }} {{ customer.city }}</span><br>
                Tel et E-mail des mandants:
                {% if customer.gsm is not empty %}<span class="input"><i class="fa-duotone fa-mobile"></i> {{ customer.gsm }} / {% endif %}</span>
                    {% if customer.home is not empty %}<span class="input"><i class="fa-regular fa-circle-phone-flip"></i> {{ customer.home }} {% endif %}</span>
                        {% if customer.otherEmail is not empty %}- <span class="input"><i class="fa-regular fa-circle-phone-flip"></i> {{ customer.otherEmail }}{% endif %}</span>
            </p>
            {% endfor %}
            <h3>LE MANDATAIRE</h3>
            <p>
                SAS PAPS IMMO au capital de 1 000€ RCS Bayonne n°908 628 936 représentée par sa présidente Mme Zoé DEHEZ dument habilitée à
                l’effet des présentes.
                Carte professionnelle : N° CPI 6401 2022 000 000 004 délivré par la CCI de Bayonne - TVA intracommunautaire FR76908628936
                Assurance : Titulaire d’une RCP souscrite auprès de BEAZLEY SOLUTIONS INTERNATIONAL LIMITED - 1 Rue Saint Georges 75009 PARIS 09
                N’ayant aucun bien capitalistique ou juridique avec une banque ou une société financière.
            </p>
            <h3>DÉSIGNATION ET SITUATION DU BIEN <span>{{ propriete.propertyDefinition }}</span></h3>
            <p>
                Adresse :
                <span class="input">{{ propriete.adress }} {% if propriete.complement is not empty %}{{ propriete.complement }} - {% endif %}{{ propriete.zipcode }} {{ propriete.city }}</span>
            </p>
            <p>Descriptif : <span class="input-left">{{ propriete.annonce }}</span></p>
        </div>
    </body>
</html>