<section
        {# condition pour l'attribution de l'id de la section #}
        {% if section.baliseId is null %}{% else %}id="{{ section.baliseId }}"{% endif %}
        {# condition pour le conteneur fluid #}
        style="">

    <div
            {% if section.isSectionFluid == 0 %}
                class="container"
            {% elseif section.isSectionFluid == 1 %}
                class="container-fluid"
            {% endif %}
    >
        {# Affiche le titre #}
        {% if section.isShowtitle == 1 %}
            <div id="section_title">
                <div class="row">
                    <div class="col-12">
                        <h2>{{ section.name }}</h2>
                    </div>
                </div>
            </div>
        {% else %}
        {% endif %}


        <div id="section_description" class="mb-3">
            {% if section.isShowdescription == 1 %}
                <div class="row">
                    <div class="col-12">
                        <p>{{ section.description|raw }}</p>
                        {# Espace de démarcation à cet endroit #}
                    </div>
                </div>
            {% endif %}
        </div>

        <div  id="section_content" class="row">
            <div class="col-12">
                {# Affiche un ensemble de test si aucun contenu n'est sélectionné #}
                {% if section.content == 'none' %}
                <div>
                    <article>
                        <header><h2>{{ section.name }}</h2></header>
                    </article>
                </div>
                {# Affiche un article #}
                {% elseif section.content == 'One_article' %}
                    {{ render(controller('App\\Controller\\Webapp\\ArticlesController::OneArticle', {'id': section.oneArticle})) }}
                {# Affiche une catégorie d'articles #}
                {% elseif section.content == 'Category'%}
                    {{ render(controller('App\\Controller\\Webapp\\ArticlesController::articlesByCat', {'cat': section.oneCategory})) }}
                {# Affiche un collaborateur et ses biens #}
                {% elseif section.content == 'One_Employed'%}
                {# Affiche une équipe #}
                {% elseif section.content == 'One_staff'%}
                {# Affiche tous les collaborateurs #}
                {% elseif section.content == 'All_Employed'%}
                {# Affiche tous les biens #}
                {% elseif section.content == 'All_properties'%}
                    {{ render(controller('App\\Controller\\Gestapp\\PropertyController::AllProperties')) }}
                {# Affiche tous les biens par secteurs #}
                {% elseif section.content == 'Sector_ofProperties'%}
                {# Affiche les 5 derniers biens #}
                {% elseif section.content == 'Last_property'%}
                    {{ render(controller('App\\Controller\\Gestapp\\PropertyController::LastProperty')) }}
                {# Affiche un fichiers pdf #}
                {% elseif section.content == 'article_pdf'%}
                    {{ render(controller('App\\Controller\\Admin\\PdfRenderedController::pdfarticletohtml', {'idarticle': section.oneArticle})) }}
                {% else %}

                {% endif %}
            </div>
        </div>
    </div>
</section>