{{ form_start(form) }}
<div id="formStep3" class="col-12 mt-3">
    <div class="row">
        <div class="col-3">
            {{ form_label(form.promisePdfFilename) }}
        </div>
        <div class="col-4">
            {{ form_widget(form.promisePdfFilename, {'attr': {'class':'form-control form-control-sm'}}) }}
        </div>
    </div>
    {% if transaction.promisePdfFilename is not empty%}
    <div class="row">
        <div class="col-3">
            Document déposé :
        </div>
        <div class="col-4">
            {{ transaction.promisePdfFilename }}
        </div>
    </div>
    {% endif %}
</div>
<div class="col-12 mt-3">
    <a href="{{ path('op_gestapp_transaction_index') }}" class="btn btn-sm btn-outline-dark"><i class="fa-duotone fa-angles-left"></i> Retour à la liste</a>
    <button type="submit" id="btnToStepFour" class="btn btn-sm btn-outline-primary"><i class="fa-duotone fa-check"></i> Valider le document fournis</button>
    <button type="{% if is_granted('ROLE_ADMIN') %}submit{% else %}button{% endif %}" id="btnWaitToStepFour" class="btn btn-sm btn-outline-primary d-none {% if is_granted('ROLE_ADMIN') %}{% else %}disabled{% endif %}"><i class="fa-duotone fa-hourglass-start"></i> En attente de validation</button>
</div>
{{ form_end(form) }}
