{{ form_start(form) }}
<div id="formStep3" class="col-12 mt-3">
    <div class="row">
        <div class="col-3">
            {{ form_label(form.promisePdfFilename) }}
        </div>
        <div class="col-4">
            {{ form_widget(form.promisePdfFilename, {'attr': {'class':'form-control form-control-sm'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            Document déposé :
        </div>
        <div class="col-4">
            {{ transaction.promisePdfFilename }}
        </div>
        <div class="col-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Supprimer le document ?
                </label>
            </div>
        </div>
    </div>
</div>
<div class="col-12 mt-3">
    <a href="{{ path('op_gestapp_transaction_index') }}" class="btn btn-sm btn-outline-dark"><i class="fa-duotone fa-angles-left"></i> Retour à la liste</a>
    <button type="submit" id="btnToStepFour" class="btn btn-sm btn-outline-primary"><i class="fa-duotone fa-check"></i> Valider l'offre de prêt</button>
</div>
{{ form_end(form) }}
