{% extends 'admin.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block content %}
    <h1>TRANSACTIONS - Ventes</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="col-1"></th>
                <th>Numéro de transaction</th>
                <th>Etat</th>
                <th>Crée le</th>
                <th>Mis à jour le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr class="align-middle">
                <td>
                    {{ render(controller('App\\Controller\\Gestapp\\PhotoController::includeinlistproperty', {'idproperty': transaction.property.id})) }}
                </td>
                <td class="align-left">{{ transaction.name }}</td>
                <td>
                    {% set progress = 0 %}
                    {% if transaction.state == 'open' %}
                        {% set progress = 20 %}
                    {% elseif transaction.state == 'promise' %}
                        {% set progress = 40 %}
                    {% elseif transaction.state == 'quotation' %}
                        {% set progress = 60 %}
                    {% elseif transaction.state == 'definitive_sale' %}
                        {% set progress = 80 %}
                    {% elseif transaction.state == 'key_delivery' %}
                        {% set progress = 100 %}
                    {% endif %}
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%"></div>
                    </div>
                </td>
                <td>{{ transaction.createdAt ? transaction.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transaction.updatedAt ? transaction.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('op_gestapp_transaction_show', {'id': transaction.id}) }}" class="btn btn-sm btn-outline-primary">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
