{% extends 'admin.html.twig' %}

{% set roleEditor = "" %} {# Editor or visual #}
{% set arrayMember = [{'id':transaction.refEmployed.id, 'user': 'editor', 'role': transaction.refEmployed.roles|first}] %}
{% if transaction.addCollTransacs|length > 0 %}
    {% for addColl in transaction.addCollTransacs %}
        {% set arrayMember = arrayMember|merge([{'id':addColl.refEmployed.id, 'user': 'visual', 'role': addColl.refEmployed.roles|first}])  %}
    {% endfor%}
{% endif %}
{% for Member in arrayMember|filter(m => m.id == app.user.id) %}
    {% if transaction.isClosedfolder == 1 and Member.role == 'ROLE_EMPLOYED' %}
        {% set roleEditor = "visual" %}
    {% else %}
        {% set roleEditor = Member.user %}
    {% endif %}
{% else %}
    {% set roleEditor = "editor" %}
{% endfor %}

{% block title %}Transaction{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('js/gestapp/transaction/show/index.js') }}"></script>
{% endblock %}

{% block contentTitle %}
    <div class="row d-flex justify-content-between">
        <div class="col-sm-12">
            <h1>TRANSACTION - Ref : {{ transaction.name }}</h1>
            <input id="valueProperty" type="hidden" value="{{ transaction.id }}">
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row mb-5 align-items-top">
        <div class="col-3">
            <div class="card">
                {% if photo is not null %}
                    <img class="card-img-top" src="{{ asset('properties/' ~ photo.path) ~ '/' ~ photo.galeryFrontName }}" alt="">
                {% else %}
                    <img class="card-img-top" src="{{ asset('images/jpeg/mod_maison.jpg') }}" alt="">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ transaction.property.name }}</h5>
                    <p class="card-text">
                        Bien sous mandat numéro : <b>{{ transaction.property.refMandat }}{% if transaction.property.dupMandat %}{{ transaction.property.dupMandat }}{% endif %}</b>
                        <br>
                        {% if transaction.refEmployed.id == app.user.id %}
                            Porté par : <b>Moi même</b>
                        {% else %}
                            Porté par : <b>{% if transaction.refEmployed.civility == 2 %}Mme {% else %}M. {% endif %}{{ transaction.refEmployed.firstName }} {{ transaction.refEmployed.lastName }}</b>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body">
                    <div class="row">
                        {% if roleEditor == "editor" %}
                            <div class="col-9"><h5>Ajouter un collaborateur</h5></div>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <div class="col-3">
                                    <p class="text-center">
                                        <a id="btnAddCollaborator" href="{{ path('op_gestapp_transaction_addcollaborator_add', {'idtransac': transaction.id})}}" data-bs-toggle="modal" data-bs-target="#modalAddColl" data-bs-whatever="ADD-Ajout d'un collaborateur-{{ transaction.id }}"><i class="fa-duotone fa-user-plus fa-2x"></i></a>
                                    </p>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <div class="col-9"><h5>Ajouter un collaborateur</h5></div>
                                <div class="col-3">
                                    <p class="text-center">
                                        <a id="btnAddCollaborator" href="{{ path('op_gestapp_transaction_addcollaborator_add', {'idtransac': transaction.id})}}" data-bs-toggle="modal" data-bs-target="#modalAddColl" data-bs-whatever="ADD-Ajout d'un collaborateur-{{ transaction.id }}"><i class="fa-duotone fa-user-plus fa-2x"></i></a>
                                    </p>
                                </div>
                            {% else %}
                            <div class="col-9"><h5>Liste des collaborateurs</h5></div>
                            {% endif%}
                        {% endif %}

                    </div>
                    <div id="listCollaborator" class="mt-1">
                        {{ render(controller('App\\Controller\\Gestapp\\Transaction\\AddCollaboratorController::listByTransac', {'id': transaction.id})) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9" id="transState">
            <div class="row">
                <div id="progress_project" class="col-12">
                    {{ include('gestapp/transaction/include/_barandstep.html.twig') }}
                </div>
                <div class="row">
                    <div class="col-12" id="blocks">
                        {% include 'gestapp/transaction/include/_blocks2.html.twig' with {'roleEditor': roleEditor} %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block modal %}
    {{ parent() }}
    <!-- Ajout d'un vendeur sur un bien -->
    <div class="modal fade" id="modalCustomer" tabindex="-1" aria-labelledby="modalCustomer" aria-hidden="true">
        <div id="modal-dialog" class="modal-dialog modal-xl modal-dialog-centered ">
            <div class="modal-content border-dark">
                <div class="modal-header text-bg-secondary">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un acheteur à cette transaction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modalBodyForm">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-grow text-info" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <input id="idProperty" type="hidden" value="">
                </div>
                <div class="modal-footer text-bg-secondary">
                    <button type="button" class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal">Annuler</button>
                    <a id="btnSubmitCustomer" type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Ajouter</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Ajout d'un vendeur sur un bien -->
    <div class="modal fade" id="modalAddColl" tabindex="-1" aria-labelledby="modalAddColl" aria-hidden="true">
        <div id="modal-dialog" class="modal-dialog modal-dialog-centered ">
            <div class="modal-content border-dark">
                <div class="modal-header text-bg-secondary">
                    <h5 class="modal-title" id="exampleModalLabel">Titre</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modalBodyForm">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-grow text-info" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <input id="idProperty" type="hidden" value="">
                </div>
                <div class="modal-footer text-bg-secondary">
                    <button type="button" class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal">Annuler</button>
                    <a id="btnSubmitColl" type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Ajouter</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Ajout d'un vendeur sur un bien -->
    <div class="modal fade" id="modalDelCustomer" tabindex="-1" aria-labelledby="modalDelCustomer" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Attention : Suppression d'un acheteur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">
                        Vous êtes sur le point de supprimer un acheteur sur cette vente. <br>
                        Etes vous sûr de vouloir continuer ?
                    </p>
                </div>
                <div class="modal-footer">
                    <a id="btnDellCustomer" type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Oui</a>
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Non</button>
                </div>
            </div>
        </div>
    </div>

    {# annonce toaster #}
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-absolute bottom-0 end-0 p-3">
            <div id="toaster" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">SoftPAPS</strong>
                    <small>A l'instant</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
