{% extends 'admin.html.twig' %}

{% block title %}Transaction{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('js/transaction/index.js') }}"></script>
{% endblock %}

{% block contentTitle %}
    <div class="row d-flex justify-content-between" >
        <div class="col-sm-12">
            <h1>TRANSACTION - Ref : {{ transaction.name }}</h1>
            <input id="valueProperty" type="hidden" value="{{ transaction.id }}">
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row mb-2 align-items-top">
        <div class="col-3">
            <div class="card">
                {% if photo is defined %}
                    <img class="card-img-top" src="{{ asset('properties/' ~ photo.path) ~ '/' ~ photo.galeryFrontName }}" alt="">
                {% else %}
                    <img class="card-img-top" src="{{ asset('images/jpeg/mod_maison.jpg') }}" alt="">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ transaction.property.name }}</h5>
                    <p class="card-text">
                        {% if transaction.refEmployed.id == app.user.id %}
                            Porté par : <b>Moi même</b>
                        {% else %}
                            Porté par : <b>{{ transaction.refEmployed.firstName }} {{ transaction.refEmployed.lastName }}</b>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body">
                    <h5>Ajouter un collaborateur</h5>
                    <div class="row">
                        <div class="col-12">
                            <select id="searchEmployed" class="form-select form-select-sm"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9" id="transState">
            <div class="row">
                <div class="col-12">
                    {{ include('gestapp/transaction/include/_barandstep.html.twig') }}
                </div>
                <div class="row">
                    <div class="col-12" id="blocks">
                        {{ include('gestapp/transaction/include/_blocks2.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block modal %}
    {{ parent() }}
    <!-- Ajout d'un vendeur sur un bien -->
    <div class="modal fade" id="modalCustomer" tabindex="-1" aria-labelledby="modalCustomer" aria-hidden="true">
        <div id="modal-dialog" class="modal-dialog modal-xl modal-dialog-centered ">
            <div class="modal-content border-dark">
                <div class="modal-header text-bg-secondary">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un acheteur à cette transaction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modalBodyForm">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-grow text-info" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <input id="idProperty" type="hidden" value="">
                </div>
                <div class="modal-footer text-bg-secondary">
                    <button type="button" class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal">Annuler</button>
                    <a id="btnSubmitCustomer" type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Ajouter</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Ajout d'un vendeur sur un bien -->
    <div class="modal fade" id="modalDelCustomer" tabindex="-1" aria-labelledby="modalDelCustomer" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Attention : Suppression d'un acheteur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">
                        Vous êtes sur le point de supprimer un acheteur sur cette vente. <br>
                        Etes vous sûr de vouloir continuer ?
                    </p>
                </div>
                <div class="modal-footer">
                    <a id="btnDellCustomer" type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Oui</a>
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Non</button>
                </div>
            </div>
        </div>
    </div>

    {# annonce toaster #}
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-absolute bottom-0 end-0 p-3">
            <div id="toaster" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">SoftPAPS</strong>
                    <small>A l'instant</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
