<table class="table">
    <thead>
    <tr>
        <th><input type="checkbox" id="CheckAllProperties" name="CheckAllProperties"></th>
        <th>Nom et prénom</th>
        <th>Email</th>
        <th>Téléphone fixe</th>
        <th>Téléphone mobile</th>
        <th>Envoyé le</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for contact in allcontacts %}
        <tr class="align-middle">
            <td><input type="checkbox" id="CheckProperty" name="CheckProperty" value="{{ contact.id }}"></td>
            <td>{{ contact.name }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.phoneHome }}</td>
            <td>{{ contact.phoneGsm }}</td>
            <td>{{ contact.createdAt ? contact.createdAt|date('Y-m-d') : '' }}</td>
            <td>
                {# boutons d'actions #}
                <button class="btn btn-sm btn-outline-info" data-bs-toggle="modal" data-bs-target="#showContactMessageAll">Voir</button>
                <a href="" class="btn btn-sm btn-outline-danger delContact" type="button" data-bs-toggle="modal" data-bs-target="#SupprAllContacts" data-bs-whatever="{{ contact.id }}"><i class="fa-duotone fa-trash-can"></i> Supprimer</a>
                {# Modal de lecture du message #}
                <div class="modal fade " id="showContactMessageAll" tabindex="-1" aria-labelledby="showContactMessage" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row mb-4">
                                    <div class="col-6"><h5 >Message de : {{ contact.email }}</h5></div>
                                    <div class="col-6"><h5 class="text-end">Envoyé le : {{ contact.createdAt|date('Y-m-d') }}</h5></div>
                                </div>
                                <div>
                                    <h6 class="text-info">Contenu du message</h6>
                                    {{ contact.content|raw }}
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-outline-dark">Répondre au client</button>
                                <button type="button" class="btn btn-sm btn-outline-dark">Transférer à collaborateur</button>
                                <button type="button" class="btn btn-sm btn-outline-danger">Supprimer</button>&nbsp;|&nbsp;
                                <button type="button" class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="9">Aucune demande de contact </td>
        </tr>
    {% endfor %}
    </tbody>
</table>