{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h1>Contact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Home</th>
                <th>Desk</th>
                <th>Gsm</th>
                <th>Fax</th>
                <th>OtherEmail</th>
                <th>Facebook</th>
                <th>Instagram</th>
                <th>Linkedin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.home }}</td>
                <td>{{ contact.desk }}</td>
                <td>{{ contact.gsm }}</td>
                <td>{{ contact.fax }}</td>
                <td>{{ contact.otherEmail }}</td>
                <td>{{ contact.facebook }}</td>
                <td>{{ contact.instagram }}</td>
                <td>{{ contact.linkedin }}</td>
                <td>
                    <a href="{{ path('app_admin_contact_show', {'id': contact.id}) }}">show</a>
                    <a href="{{ path('app_admin_contact_edit', {'id': contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_contact_new') }}">Create new</a>
{% endblock %}
