{% extends 'admin.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <h1>Contact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Prénom et nom du contact</th>
                <td>{{ contact.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ contact.content }}</td>
            </tr>
            <tr>
                <th>Téléphone fixe</th>
                <td>{{ contact.phoneHome }}</td>
            </tr>
            <tr>
                <th>Téléphone mobile</th>
                <td>{{ contact.phoneGsm }}</td>
            </tr>
            <tr>
                <th>IsRGPD</th>
                <td>{{ contact.isRGPD ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ contact.createdAt ? contact.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('op_admin_contact_index') }}">retour à la liste</a>

    <a href="{{ path('op_admin_contact_show', {'id': contact.id}) }}"></a>

    {{ include('admin/contact/_delete_form.html.twig') }}
{% endblock %}
