{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Home</th>
                <td>{{ contact.home }}</td>
            </tr>
            <tr>
                <th>Desk</th>
                <td>{{ contact.desk }}</td>
            </tr>
            <tr>
                <th>Gsm</th>
                <td>{{ contact.gsm }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ contact.fax }}</td>
            </tr>
            <tr>
                <th>OtherEmail</th>
                <td>{{ contact.otherEmail }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ contact.facebook }}</td>
            </tr>
            <tr>
                <th>Instagram</th>
                <td>{{ contact.instagram }}</td>
            </tr>
            <tr>
                <th>Linkedin</th>
                <td>{{ contact.linkedin }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_contact_index') }}">back to list</a>

    <a href="{{ path('app_admin_contact_edit', {'id': contact.id}) }}">edit</a>

    {{ include('admin/contact/_delete_form.html.twig') }}
{% endblock %}
