<table class="table">
    <thead>
    <tr>
        <th>titre</th>
        <th>Contenu</th>
        <th>Etat</th>
        <th>Créer le</th>
        <th>MàJ</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
        <tr class="align-middle">
            <td>{{ article.name }}</td>
            <td>{{ article.slug }}</td>
            <td>
            {% if article.state == 'brouillon' %}
                <span class="badge bg-light">{{ article.state }}</span>
            {% elseif article.state == 'archivee' %}
                <span class="badge bg-warning">{{ article.state }}</span>
            {% elseif article.state == 'publiée' %}
                <span class="badge bg-primary">{{ article.state }}</span>
            {% endif %}
            </td>
            <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>
                <a class="btn btn-sm btn-outline-primary btnEditArticle" id="btnEditArticle" href="{{ path('op_webapp_articles_edit', {'id': article.id})}}" data-bs-whatever="EDIT-Editer un article-{{ article.id }}"><i class="fa-duotone fa-pen-to-square"></i></a>
                <a id="btnModalArticle" href="{{ path('op_webapp_articles_del', {'id': article.id}) }}" class="btn btn-sm btn-outline-danger delarticle" type="button" data-bs-toggle="modal" data-bs-target="#modalArticle" data-bs-whatever="DEL-Supprimer un article-{{ article.id }}"><i class="fa-duotone fa-file-xmark"></i></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="13">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>