{{ form_start(form) }}
    {# Etiquettes du panel #}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a id="navInformations" class="nav-link active" aria-current="page" data-bs-toggle="tab" data-bs-target="#Informations" type="button" role="tab" aria-controls="Informations" aria-selected="true"><h5><i class="fa-duotone fa-memo-circle-info"></i> Informations</h5></a>
    </li>
    <li class="nav-item">
        <a id="navCustomers" class="nav-link disabled" aria-current="page" data-bs-toggle="tab" data-bs-target="#Customers" type="button" role="tab" aria-controls="Vendeurs" aria-selected="true"><h5><i class="fa-duotone fa-user-tie-hair"></i> Vendeurs</h5></a>
    </li>
    <li class="nav-item">
        <a id="navEstimate" class="nav-link disabled" aria-current="page" data-bs-toggle="tab" data-bs-target="#Estimate" type="button" role="tab" aria-controls="Estimations" aria-selected="true"><h5>Chiffres</h5></a>
    </li>
    <li class="nav-item">
        <a id="navOptions" class="nav-link disabled" aria-current="page" data-bs-toggle="tab" data-bs-target="#Options" type="button" role="tab" aria-controls="Complements" aria-selected="true"><h5>Complements</h5></a>
    </li>
    <li class="nav-item">
        <a id="navGallery" class="nav-link disabled" aria-current="page" data-bs-toggle="tab" data-bs-target="#Gallery" type="button" role="tab" aria-controls="Galerie" aria-selected="true"><h5><i class="fa-duotone fa-gallery-thumbnails"></i> Galerie</h5></a>
    </li>
    <li class="nav-item">
        <a id="navPublication" class="nav-link disabled" aria-current="page" data-bs-toggle="tab" data-bs-target="#Publication" type="button" role="tab" aria-controls="Publication" aria-selected="true"><h5><i class="fa-duotone fa-browser"></i> Publication</h5></a>
    </li>
</ul>

{# Div's du panel #}
<div class="tab-content">
    {# STEP 1 : INFORMATIONS #}
    <div class="tab-pane active" id="Informations" role="tabpanel" aria-labelledby="home-tab">
        <div class="row mt-2">
            <div class="col-sm-12">
                <div class="alert alert-light">
                    <div class="row">
                        <div class="col">
                            {% include('include/form/input.html.twig') with {
                                'form_label':form_label(form.refMandat, '', {'label_attr': {'class':'col-sm-2 col-form-label'}}),
                                'form_input':form_widget(form.refMandat, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Référence du mandat'}})
                            }
                            %}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-sm-3">
                <div class="card text-dark bg-light">
                    <div class="card-body">
                        PHOTO PRINCIPALE
                        <p><small>Seules les photos au format JPG, JPEG sont acceptées.</small></p>
                        <hr>
                        <div class="row mb-1 mt-1 g-1">
                            <div class="col-12">
                                {{ form_widget(form.imageFile, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-dark bg-light">
                    <div class="card-body">
                        INFORMATIONS DU BIEN
                        <input id="property_id" type="hidden" value="{{ idProperty }}">
                        <hr>
                        {# STEP 1 : Ligne du titre de l'annonce du bien #}
                        <div class="row mb-1 mt-1 g-1">
                            {{ form_label(form.name, '', {'label_attr': {'class':'col-sm-2  form-label'}}) }}
                            <div class="col-10">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            </div>
                        </div>
                        {# STEP 1 : Ligne de l'adresse physique du bien #}
                        <div class="row mb-1 mt-1 g-1">
                            <div class="col-2">
                                {{ form_label(form.adress, '', {'label_attr': {'class':'form-label'}}) }}
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.adress, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Ligne 1'}}) }}
                            </div>
                        </div>
                        <div class="row mb-1 mt-1 g-1">
                            <div class="offset-2 col-8">
                                {{ form_widget(form.complement, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Ligne 2'}}) }}
                            </div>
                        </div>
                        {# STEP 1 : Ligne de l'adresse physique du bien - Cp  #}
                        <div class="row mb-1 mt-1 g-1">
                            <div class="col-2">
                                {{ form_label(form.city, '', {'label_attr': {'class':'form-label'}}) }}
                            </div>
                            <div class="col-2">
                                {{ form_widget(form.zipcode, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Code Postal'}}) }}
                            </div>
                            <div class="col-6">
                                {{ form_widget(form.city, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Commune'}}) }}
                            </div>
                        </div>
                        {# STEP 1 : Ligna de l'annonce #}
                        <div class="row mb-1 mt-1 g-1">
                            <div class="col-2">
                                {{ form_label(form.annonce, '', {'label_attr': {'class':'form-label'}}) }}
                            </div>
                            <div class="col-10">
                                {{ form_widget(form.annonce, {'attr': {'class': 'form-control form-control-sm', 'placeholder':"Description de l'annonce"}}) }}
                            </div>
                        </div>
                        {# STEP 1 : Ligne des Pièces et chambres #}
                        <div class="row mb-1 mt-1 g-1">
                            <div class="col-2">
                                {{ form_label(form.piece, '', {'label_attr': {'class':'form-label'}}) }}
                            </div>
                            <div class="col-2">
                                {{ form_widget(form.piece, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                            </div>
                            <div class="col-1"></div>
                            <div class="col-2">
                                {{ form_label(form.room, '', {'label_attr': {'class':'form-label'}}) }}
                            </div>
                            <div class="col-2">
                                {{ form_widget(form.room, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                            </div>
                        </div>
                        <div class="row mb-1 mt-1 g-1">
                            {{ form_label(form.constructionAt, '', {'label_attr': {'class':'col-sm-3  form-label'}}) }}
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-calendar-days"></i></span>
                                    {{ form_widget(form.constructionAt, {'attr': {'class': 'form-control form-control-sm flatpickr'}}) }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="card text-dark bg-light">
                    <div class="card-body">
                        <div class="row mb-1 mt-1 g-1">
                            <div class="col-3">
                                {{ form_label(form.ref, '', {'label_attr': {'class':'form-label'}}) }}
                            </div>
                            <div class="col-4">
                                {{ form_widget(form.ref, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            </div>
                        </div>
                        <hr>
                        <p><small>Séléctionner le type de bien à vendre</small></p>
                        {# Type du bien #}
                        <div class="row mb-1 g-1">
                            {{ form_label(form.propertyDefinition, '', {'label_attr': {'class':'col-sm-4  form-label'}}) }}
                            <div class="col-6">
                                {{ form_widget(form.propertyDefinition) }}
                            </div>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <div class="col-1">
                                    <button id="addHouseEquipment" class="btn btn-sm btn-secondary"><i class="fa-duotone fa-circle-plus"></i></button>
                                </div>
                            {% else %}
                                <div class="col-1">
                                    <button id="addHouseEquipment" class="btn btn-sm btn-light" disabled><i class="fa-duotone fa-circle-plus text-light"></i></button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# STEP 2 : VENDEURS #}
    <div class="tab-pane" id="Customers" role="tabpanel" aria-labelledby="profile-tab">
        {{ render(controller('App\\Controller\\Gestapp\\CustomerController::listByProperty', {'property' : idProperty})) }}
    </div>
    {# STEP 3 : ESTIMATIONS #}
    <div class="tab-pane" id="Estimate" role="tabpanel" aria-labelledby="profile-tab">
        <div class="mt-2">
            <div class="row g-1">
                <div class="col-3">
                    {# Bloc des surfaces #}
                    <div class="card text-dark bg-light">
                        <div class="card-body">
                            SURFACES
                            <hr>
                            <div class="row mb-1 mt-1 g-1">
                                <div class="col-6">
                                    {{ form_label(form.surfaceLand, 'Terrain', {'label_attr': {'class':'form-label'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_widget(form.surfaceLand, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_label(form.surfaceHome, 'Habitation', {'label_attr': {'class':'form-label'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_widget(form.surfaceHome, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-dark bg-light">
                        <div class="card-body">
                            ESTIMATIONS
                            <hr>
                            <div class="row mb-1 mt-1 g-1">
                                <div class="col-6">
                                    <span class="align-middle">{{ form_label(form.notaryEstimate, 'Notaire', {'label_attr': {'class':'form-label'}}) }}</span>
                                </div>
                                <div class="col-6">
                                    {{ form_widget(form.notaryEstimate, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_label(form.applicantEstimate, 'Vendeur', {'label_attr': {'class':'form-label'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_widget(form.applicantEstimate, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-dark bg-light">
                        <div class="card-body">
                            DPE & GPE
                            <hr>
                            <div class="row mb-1 mt-1 g-1">
                                {{ form_label(form.dpeAt, 'Date', {'label_attr': {'class':'col-sm-6  form-label'}}) }}
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-calendar-days"></i></span>
                                        {{ form_widget(form.dpeAt, {'attr': {'class': 'form-control form-control-sm flatpickr'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-1 mt-1 g-1">
                                <div class="col-6">
                                    <span class="align-middle">{{ form_label(form.diagDpe, 'Notaire', {'label_attr': {'class':'form-label'}}) }}</span>
                                </div>
                                <div class="col-6">
                                    {{ form_widget(form.diagDpe, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_label(form.diagGpe, 'Vendeur', {'label_attr': {'class':'form-label'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_widget(form.diagGpe, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                                </div>
                                <div class="col-12"><p><b>Estimation énergétique annuelle</b></p></div>
                                <div class="col-6">
                                    {{ form_label(form.dpeEstimateEnergyDown, '', {'label_attr': {'class':'form-label'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_widget(form.dpeEstimateEnergyDown, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_label(form.dpeEstimateEnergyUp, '', {'label_attr': {'class':'form-label'}}) }}
                                </div>
                                <div class="col-6">
                                    {{ form_widget(form.dpeEstimateEnergyUp, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-3">
                    <div class="card text-dark bg-light">
                        <div class="card-body">
                            CADASTRE
                            <hr>
                            {% include('include/form/input.html.twig') with {
                                'form_label':form_label(form.cadasterZone, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
                                'form_input':form_widget(form.cadasterZone, {'attr': {'class': 'form-control form-control-sm'}})
                            }
                            %}

                            {% include('include/form/input-numerique.html.twig') with {
                                'form_label':form_label(form.cadasterNum, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
                                'form_input':form_widget(form.cadasterNum, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}})
                            }
                            %}

                            {% include('include/form/input.html.twig') with {
                                'form_label':form_label(form.cadasterSurface, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
                                'form_input':form_widget(form.cadasterSurface, {'attr': {'class': 'form-control form-control-sm', 'value':'0'}})
                            }
                            %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {# STEP 4 : COMPLEMENTS #}
    <div class="tab-pane" id="Options" role="tabpanel" aria-labelledby="profile-tab">
        {{ render(controller('App\\Controller\\Gestapp\\ComplementController::Edit', {'id' : complement})) }}
    </div>
    {# STEP 5 : IMAGES #}
    <div class="tab-pane" id="Gallery" role="tabpanel" aria-labelledby="profile-tab">
        {{ render(controller('App\\Controller\\Gestapp\\PhotoController::byProperty', {'idproperty': idProperty})) }}
    </div>
    <div class="tab-pane" id="Publication" role="tabpanel" aria-labelledby="profile-tab">
        {{ render(controller('App\\Controller\\Gestapp\\PublicationController::showByProperty', {'id' : publication})) }}
    </div>
</div>

{{ form_rest(form) }}

    {% if app.request.attributes.get('_route') == 'op_gestapp_property_edit' %}
        <div class="row mt-2">
            <div class="col-sm-6">
                <a href="{{ path('op_gestapp_property_index') }}" class="btn btn-sm btn-outline-secondary">Retour à la liste</a>&nbsp
                <button class="btn btn-sm btn-outline-primary">{{ button_label|default('Enregistrer') }}</button>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Supprimer</button>
            </div>
        </div>
    {% else %}
        <div class="row mt-2">
            <div class="col-sm-12">
                <a id="stepBack" href="{{ path('op_gestapp_property_index') }}" class="btn btn-sm btn-outline-dark"><i class="fa-solid fa-backward-step"></i> Retour</a>
                <a id="stepInformations" href="{{ path('op_gestapp_property_stepinformations', {'id': idProperty}) }}" class="btn btn-sm btn-outline-primary">Valider et passer à l'étape Vendeurs <i class="fa-duotone fa-forward-step"></i></a>
                <a id="stepCustomers" class="btn btn-sm btn-outline-primary">Valider et passer à l'étape Estimation <i class="fa-duotone fa-forward-step"></i></a>
                <a id="stepEstimate" href="{{ path('op_gestapp_property_stepchiffres', {'id': idProperty}) }}" class="btn btn-sm btn-outline-primary">Valider et passer à l'étape Options <i class="fa-duotone fa-forward-step"></i></a>
                <a id="stepOptions" href="{{ path('op_gestapp_customer_addcomplement', {'id' : complement}) }}" class="btn btn-sm btn-outline-primary">Valider et passer à l'étape Galerie <i class="fa-duotone fa-forward-step"></i></a>
                <a id="stepGallery" class="btn btn-sm btn-outline-primary">Valider et passer à l'étape Publication <i class="fa-duotone fa-forward-step"></i></a>
                <a id="stepPublication" href="{{ path('op_gestapp_property_steppublication', {'id': idProperty}) }}" class="btn btn-sm btn-outline-primary">Valider la publication et finaliser l'ajout <i class="fa-duotone fa-forward-step"></i></a>
            </div>
        </div>
    {% endif %}
{{ form_end(form) }}
