{%  set user = app.user.id %}
{% for property in properties|filter(property => property.refEmployed.id == user) %}
    <div class="card border-warning mb-3">
        <div class="card-header">{{property.ref}}</div>
        <div class="card-body">
            <div class="row g-1">
                {% if property.imageName is not null %}
                <div class="col-1">
                    <img class="img-fluid" src="{{ vich_uploader_asset(property) }}" alt="{{ property.name }}" height="100px">
                </div>
                {% else %}
                <div class="col-1">
                    <img class="img-fluid" src="{{ asset('images/png/mod_maison.png') }}" alt="{{ property.name }}" height="100px">
                </div>
                {% endif %}
                <div class="col-11">
                    <h4 class="card-title">{{ property.name }}</h4>
                    <p class="card-text">Ce bien est en cours d'édition. Pensez à le finaliser :
                        <a href="{{path('op_gestapp_property_firstedit', {'id' : property.id})}}" class="btn btn-sm btn-secondary"><i class="fa-duotone fa-building"></i> Reprendre</a>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#Suppr" data-bs-whatever="{{ property.id }}"><i class="fa-duotone fa-trash-can-check"></i> Supprimer</button>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}