<table class="table">
    <thead>
    <tr>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <th>Collaborateur</th>
        {% else %}
        <th></th>
        {% endif %}
        <th>Ref</th>
        <th>Type de bien</th>
        <th></th>
        <th>Titre annonce</th>
        <th>Piece</th>
        <th>chambre</th>
        <th>Adresse</th>
        <th>Ajouté le</th>
        <th>Modifié le</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% set user = app.user.id %}
    {% for property in properties %}
        <tr class="align-middle">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <td>
                {% if property.avatarName is not null %}
                <img class="rounded-circle" src="{{ vich_uploader_asset(property, 'avatarFile', 'App\\Entity\\Admin\\Employed') }}" alt="" style="height:50px;width:50px">
                {% else %}
                <img class="rounded-circle" src="{{ asset('images/jpeg/user.jpg') }}" alt="" style="height:50px;width:50px">
                {% endif %}
                {{ property.firstName }} {{ property.lastName }}
            </td>
            {% else %}
            <th>{{ property.id }}</th>
            {% endif %}
            <td>{{ property.ref }}</td>
            <td>
                <p class="badge bg-primary mb-0">{{ property.propertyType }}</p>
            </td>
            {% if property.imageName is not null %}
            <td>
                <img class="img-fluid" src="{{ vich_uploader_asset(property, 'imageFile', 'App\\Entity\\Gestapp\\Property') }}" alt="{{ property.name }}" style="width:50px; height: 50px; object-fit: cover;">
            </td>
            {% else %}
            <td>
                <img class="img-fluid" src="{{ asset('images/png/mod_maison.png') }}" alt="{{ property.name }}" style="width:50px; height: 50px;">
            </td>
            {% endif %}
            <td>{{ property.name }}</td>
            <td>{{ property.piece }}</td>
            <td>{{ property.room }}</td>
            {% if property.adress =="" %}
            <td>à complèter</td>
            {% else %}
            <td>{{ property.adress }}<br>{{ property.complement }}<br>{{ property.zipcode }} {{ property.city }}</td>
            {% endif %}
            <td>{{ property.createdAt ? property.createdAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
            <td>{{ property.updatedAt ? property.updatedAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
            <td>
                <div id="action_property" class="btn-group">
                    <button type="button" id="action_property" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul  class="dropdown-menu" aria-labelledby="action_property">
                        <li><a class="dropdown-item" href="{{ path('op_gestapp_property_show', {'id': property.id}) }}"><i class="fa-thin fa-file-pen"></i> Consulter</a></li>
                        <li><a class="dropdown-item" href="{{ path('op_admin_pdf_property', {'id': property.id}) }}"><i class="fa-thin fa-print"></i> Imprimer la fiche</a></li>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li><hr class="dropdown-divider"></li>
                            <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Suppr2" data-bs-whatever="{{ property.id }}"><i class="fa-duotone fa-trash-can"></i> supprimer</a>
                        {% endif %}
                    </ul>
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="30">Aucun bien ne sont actuellement enregistré sur la plateforme.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>