<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Ref</th>
        <th>Type de bien</th>
        <th>Titre annonce</th>
        <th>Piece</th>
        <th>chambre</th>

        <th>Adresse</th>


        <th>Ajouté le</th>
        <th>Modifié le</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for property in properties %}
        <tr>
            <td>{{ property.id }}</td>
            <td>{{ property.ref }}</td>
            <td>
                {% if property.isHome == 1 %}
                    <p class="badge bg-primary">Maison</p>
                {% elseif property.isApartment == 1 %}
                    <p class="badge bg-primary">Appartement</p>
                {% elseif property.isLand == 1 %}
                    <p class="badge bg-primary">Terrain</p>
                {% elseif property.isOther == 1 %}
                    <p class="badge bg-primary">{{ property.otherDescription }}</p>
                {% endif %}
            </td>

            <td>{{ property.name }}</td>
            <td>{{ property.piece }}</td>
            <td>{{ property.room }}</td>

            <td>{{ property.adress }}<br>{{ property.complement }}<br>{{ property.zipcode }} {{ property.city }}</td>

            <td>{{ property.createdAt ? property.createdAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
            <td>{{ property.updatedAt ? property.updatedAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
            <td>
                <a href="{{ path('op_gestapp_property_show', {'id': property.id}) }}">show</a>
                <a href="{{ path('op_gestapp_property_edit', {'id': property.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="30">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>