{% set pv = 0 %}
{% set sl = 0 %}
{% set lb = 0 %}
{% set fig = 0 %}
{% set ma = 0 %}
{% set ga = 0 %}
{% set si = 0 %}
{% set al = 0 %}
{% set ht = 0 %}
{% for property in listproperties|filter(p => p.isPublishParven == 1) %}
    {% set pv = pv + 1 %}
{% endfor %}
{% for property in listproperties|filter(p => p.isPublishseloger == 1) %}
    {% set sl = sl + 1 %}
{% endfor %}
{% for property in listproperties|filter(p => p.isPublishleboncoin == 1) %}
    {% set lb = lb + 1 %}
{% endfor %}
{% for property in listproperties|filter(p => p.isPublishfigaro == 1) %}
    {% set fig = fig + 1 %}
{% endfor %}
{% for property in listproperties|filter(p => p.isPublishMeilleur == 1) %}
    {% set ma = ma + 1 %}
{% endfor %}
{% for property in listproperties|filter(p => p.isPublishgreenacres == 1) %}
    {% set ga = ga + 1 %}
{% endfor %}
{% for property in listproperties|filter(p => p.isPublishsuperimmo == 1) %}
    {% set si = si + 1 %}
{% endfor %}
{% for property in listproperties|filter(p => p.isPublishalentoor == 1) %}
    {% set al = al + 1 %}
{% endfor %}
{% for property in listproperties|filter(p => p.isPublishhtlouer == 1) %}
    {% set ht = ht + 1 %}
{% endfor %}

<div class="mt-2">
    <p>
        <b>Support des diffusions :</b>
    </p>
    <p style="font-size: 0.8rem;"> |
        <span class="badge bg-light text-dark">PV :</span> Paru Vendu <span class="badge rounded-pill bg-warning">{{ pv }}</span> |
        <span class="badge bg-light text-dark">SL :</span> Se loger, logic immo <span class="badge rounded-pill bg-warning">{{ sl }}</span> |
        <span class="badge bg-light text-dark">MA :</span> Meilleurs agents <span class="badge rounded-pill bg-warning">{{ ma }}</span> |
        <span class="badge bg-light text-dark">LB :</span> Le Bon Coin, A vendre et à louer <span class="badge rounded-pill bg-warning">{{ lb }}</span> |
        <span class="badge bg-light text-dark">FIG :</span> Le Figaro Immobilier <span class="badge rounded-pill bg-warning">{{ fig }}</span> |
        <span class="badge bg-light text-dark">GA :</span> Green ACRES <span class="badge rounded-pill bg-warning">{{ ga }}</span> |
        <span class="badge bg-light text-dark">SI :</span> Superimmo <span class="badge rounded-pill bg-warning">{{ si }}</span> |
        <span class="badge bg-light text-dark">AL :</span> Alentoor <span class="badge rounded-pill bg-warning">{{ al }}</span> |
        <span class="badge bg-light text-dark">HT :</span> Acheter-Louer <span class="badge rounded-pill bg-warning">{{ ht }}</span> |
    </p>
</div>
<table class="table">
    <thead>
    <tr>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <th><input type="checkbox" id="CheckAllProperties" name="CheckAllProperties"></th>
            <th></th>
            <th>Collaborateur</th>
        {% else %}
        <th></th>
        {% endif %}
        <th>Mandat</th>
        <th>Prix</th>
        <th>Titre annonce</th>
        <th>En ligne</th>
        <th>Publication</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% set user = app.user.id %}
    {% for property in listproperties %}

        <tr class="align-middle">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <td>
                    <input type="checkbox" id="CheckProperty" name="CheckProperty" value="{{ property.id }}">
                </td>
                <td>
                    {{ render(controller('App\\Controller\\Gestapp\\PhotoController::includeinlistproperty', {'idproperty': property.id})) }}
                </td>
                <td>
                    {% if property.avatarName is not null %}
                        <img class="rounded-circle" src="{{ asset('images/avatar/' ~ property.avatarName) }}" alt="{{ property.avatarName }}" style="height:50px;width:50px">
                    {% else %}
                        <img class="rounded-circle" src="{{ asset('images/jpeg/user.jpg') }}" alt="" style="height:50px;width:50px">
                    {% endif %}
                    {{ property.firstName }} {{ property.lastName }}
                </td>

            {% else %}
                <td>
                    <input type="checkbox" id="CheckProperty" name="CheckProperty" value="{{ property.id }}">
                </td>
                <td>
                    {{ render(controller('App\\Controller\\Gestapp\\PhotoController::includeinlistproperty', {'idproperty': property.id})) }}
                </td>
            {% endif %}
            {# boucle si la propriété est indexé avec un mandat #}
            {% if property.isNomandat == 0 %}
                {% if property.dupMandat is not empty %}
                    <td><b>{{ property.refMandat }}{{ property.dupMandat }}</b><br>{{ property.ref }}</td>
                {% else %}
                    <td><b>{{ property.refMandat }}{{ property.dupMandat }}</b><br>{{ property.ref }}</td>
                {% endif %}
            {% else %}
                <td><span class="badge bg-secondary">Sans mandat</span></td>
            {% endif %}
            <td>{{ property.priceFai }}€</td>
            <td>{{ property.name|u.truncate(60, ' ...') }}<br>{{ property.zipcode }} {{ property.city }}</td>
            <td>
                {% if property.isWebpublish == 1 %}<i class="fa-thin fa-globe text-success"></i>{% else %}<i class="fa-thin fa-globe text-danger"></i>{% endif %}
            </td>
            <td>
                {% if property.isPublishParven == 1 %}<span class="badge bg-light text-dark">PV</span>{% endif %}
                {% if property.isPublishseloger == 1 %}<span class="badge bg-light text-dark">SL</span>{% endif %}
                {% if property.isPublishMeilleur == 1 %}<span class="badge bg-light text-dark">MA</span>{% endif %}
                {% if property.isPublishleboncoin == 1 %}<span class="badge bg-light text-dark">LB</span>{% endif %}
                {% if property.isPublishfigaro == 1 %}<span class="badge bg-light text-dark">FIG</span>{% endif %}
                {% if property.isPublishgreenacres == 1 %}<span class="badge bg-light text-dark">GA</span>{% endif %}
                {% if property.isPublishsuperimmo == 1 %}<span class="badge bg-light text-dark">SI</span>{% endif %}
                {% if property.isPublishalentoor == 1 %}<span class="badge bg-light text-dark">AL</span>{% endif %}
                {% if property.isPublishhtlouer == 1 %}<span class="badge bg-light text-dark">HT</span>{% endif %}
            </td>
            <td>
                {% include('gestapp/property/include/_btnchoice.html.twig') %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="30">Aucun collaborateur ou vous même avez enregistré de biens immobiliers pour l'instant.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>