<table class="table">
    <thead>
    <tr>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <th>Collaborateur</th>
        {% else %}
        <th></th>
        {% endif %}
        <th>Ref</th>
        <th>Mandat</th>
        <th>Type de bien</th>
        <th></th>
        <th>Titre annonce</th>
        <th>Piece</th>
        <th>chambre</th>
        <th>Adresse</th>
        <th>Ajouté le</th>
        <th>Modifié le</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% set user = app.user.id %}
    {% for property in properties %}
        <tr class="align-middle">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <td>
                {% if property.avatarName is not null %}
                <img class="rounded-circle" src="{{ vich_uploader_asset(property, 'avatarFile', 'App\\Entity\\Admin\\Employed') }}" alt="" style="height:50px;width:50px">
                {% else %}
                <img class="rounded-circle" src="{{ asset('images/jpeg/user.jpg') }}" alt="" style="height:50px;width:50px">
                {% endif %}
                {{ property.firstName }} {{ property.lastName }}
            </td>
            {% else %}
            <th>{{ property.id }}</th>
            {% endif %}
            <td>{{ property.ref }}</td>
            <td>{{ property.refMandat }}</td>
            <td>
                <p class="badge bg-primary mb-0">{{ property.propertyDefinition }}</p>
            </td>
            <td></td>
            <td>{{ property.name|u.truncate(60, ' ...') }}</td>
            <td>{{ property.piece }}</td>
            <td>{{ property.room }}</td>
            {% if property.adress =="" %}
            <td>à complèter</td>
            {% else %}
            <td>{{ property.adress }}<br>{{ property.complement }}<br>{{ property.zipcode }} {{ property.city }}</td>
            {% endif %}
            <td>{{ property.createdAt ? property.createdAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
            <td>{{ property.updatedAt ? property.updatedAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
            <td>
                <div id="action_property" class="btn-group">
                    <button type="button" id="action_property" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul  class="dropdown-menu" aria-labelledby="action_property">
                        <li><a class="dropdown-item" href="{{ path('op_gestapp_property_show', {'id': property.id}) }}"><i class="fa-thin fa-file-pen"></i> Consulter</a></li>
                        <li><a class="dropdown-item" href="{{ path('op_admin_pdf_property', {'id': property.id}) }}"><i class="fa-thin fa-print"></i> Imprimer la fiche</a></li>
                        <li><a class="dropdown-item" href="{{ path('op_admin_pdf_dip', {'id': property.id}) }}"><i class="fa-thin fa-print"></i> Mandat DIP</a></li>
                        <li><a class="dropdown-item" href="{{ path('op_admin_pdf_MandatVente', {'id': property.id}) }}"><i class="fa-thin fa-print"></i> Mandat Vente</a></li>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li><hr class="dropdown-divider"></li>
                            <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Suppr2"><i class="fa-duotone fa-trash-can"></i> Supprimer</a>
                        {% endif %}
                    </ul>
                </div>
                {# Modal de suppression property #}
                <div class="modal fade" id="Suppr2" tabindex="-1" aria-labelledby="Suppr2" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-warning" id="exampleModalLabel">Suppression d'un bien</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="modal-text">Attention, Vous êtes sur le point de supprimer le bien suivant :</p>
                                <p class="alert alert-warning"><b>{{ property.name }}</b></p>
                                <p>Sous mandat n°: {{ property.refMandat }}, Êtes-vous sûr de vouloir continuer ?</p>
                                <input type="hidden" id="recipient-name">
                            </div>
                            <div class="modal-footer">
                                <a href="{{ path('op_gestapp_property_del', {'id' :property.id}) }}" type="button" class="btn btn-sm btn-warning jsModalDelProperty" data-bs-dismiss="modal">Je supprime le bien</a>
                                <button class="btn btn-sm btn-secondary" data-bs-dismiss="modal">J'annule</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="30">Aucun bien ne sont actuellement enregistré sur la plateforme.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>