<div class="row">
    <div class="col-2">
        {{ knp_pagination_render(properties, 'include/admin/pagination.html.twig') }}
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <th><input type="checkbox" id="CheckAllProperties" name="CheckAllProperties"></th>
        <th>Collaborateur</th>
        {% else %}
        <th><input type="checkbox" id="CheckAllProperties" name="CheckAllProperties"></th>
        {% endif %}
        <th>Ref</th>
        <th>Mandat</th>
        <th>Type de bien</th>
        <th></th>
        <th>Titre annonce</th>
        <th>Piece</th>
        <th>chambre</th>
        <th>Adresse</th>
        <th>Modifié le</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% set user = app.user.id %}
    {% for property in properties %}
        {% set projet = '' %}
        {% if property.projet == 'IP' %}{% set projet = 'Immobilier Professionnel' %}
        {% elseif  property.projet == 'LH' %}{% set projet = 'Location immobiler' %}
        {% elseif  property.projet == 'RC' %}{% set projet = 'Vente commerce,reprise' %}
        {% elseif  property.projet == 'RC' %}{% set projet = 'Commerce' %}
        {% elseif  property.projet == 'VH' %}{% set projet = 'Vente immobilier' %}
        {% endif %}
        <tr class="align-middle">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <td>
                <input type="checkbox" id="CheckProperty" name="CheckProperty" value="{{ property.id }}">
            </td>
            <td>
                {% if property.avatarName is not null %}
                <img class="rounded-circle" src="{{ asset('images/avatar/' ~ property.avatarName) }}" alt="{{ property.avatarName }}" style="height:50px;width:50px">
                {% else %}
                <img class="rounded-circle" src="{{ asset('images/jpeg/user.jpg') }}" alt="" style="height:50px;width:50px">
                {% endif %}
                {{ property.firstName }} {{ property.lastName }}
            </td>
            {% else %}
            <td>
                <input type="checkbox" id="CheckProperty" name="CheckProperty" value="{{ property.id }}">
            </td>
            {% endif %}
            <td>{{ property.ref }}</td>
            {% if property.dupMandat is not empty %}
            <td>{{ property.refMandat }}{{ property.dupMandat }}</td>
            {% else %}
            <td>{{ property.refMandat }}</td>
            {% endif %}
            <td>
                <span class="badge bg-secondary mb-0">{{ property.familycode }}</span> <span class="badge bg-primary mb-0">{{ property.rubricName }}</span>
            </td>
            <td></td>
            <td>{{ property.name|u.truncate(60, ' ...') }}</td>
            <td>{{ property.piece }}</td>
            <td>{{ property.room }}</td>
            {% if property.adress =="" %}
            <td>à complèter</td>
            {% else %}
            <td>{{ property.adress }}{% if property.complement is empty %}{% else %}<br>{{ property.complement }}{% endif %}<br>{{ property.zipcode }} {{ property.city }}</td>
            {% endif %}
            <td>{{ property.updatedAt ? property.updatedAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
            <td>
                <div id="action_property" class="btn-group">
                    <button type="button" id="action_property" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul  class="dropdown-menu" aria-labelledby="action_property">
                        <li><a class="dropdown-item" href="{{ path('op_gestapp_property_show', {'id': property.id}) }}"><i class="fa-thin fa-file-pen"></i> Consulter</a></li>
                        <li><a class="dropdown-item" href="{{ path('op_admin_pdf_property', {'id': property.id}) }}"><i class="fa-thin fa-print"></i> Imprimer la fiche</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('op_gestapp_property_duplicate', {'id': property.id}) }}"><i class="fa-thin fa-file-pen"></i> Dupliquer</a></li>
                        {#
                        <li><a class="dropdown-item" href="{{ path('op_admin_pdf_dip', {'id': property.id}) }}"><i class="fa-thin fa-print"></i> Mandat DIP</a></li>
                        <li><a class="dropdown-item" href="{{ path('op_admin_pdf_MandatVente', {'id': property.id}) }}"><i class="fa-thin fa-print"></i> Mandat Vente</a></li>
                        #}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li><hr class="dropdown-divider"></li>
                            <a type="button" class="dropdown-item ModalDelProperty" data-bs-toggle="modal" data-bs-target="#Suppr2-{{ property.id }}" data-bs-whatever="{{ property.id }}"><i class="fa-duotone fa-trash-can"></i> Archiver</a>
                        {% endif %}
                    </ul>
                </div>
                {# Modal de suppression property #}
                <div class="modal fade" id="Suppr2-{{ property.id }}" tabindex="-1" aria-labelledby="Suppr2-{{ property.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-warning" id="exampleModalLabel">Archivage d'un bien</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="modal-text">Attention, Vous êtes sur le point d'archiver le bien suivant :</p>
                                <p class="text-center"><b>{{ property.name }}</b></p>
                                <p class="text-center">Sous mandat n°: {{ property.refMandat }}.</p>
                                <p class="text-center">Ce bien sera archivé sur une période de 30 jours.<br>Êtes-vous sûr de vouloir continuer ?</p>
                                <input type="hidden" id="recipient-name">
                            </div>
                            <div class="modal-footer">
                                <a href="{{ path('op_gestapp_property_archived', {'id':property.id}) }}" type="button" class="btn btn-sm btn-warning jsModalDelProperty" data-bs-dismiss="modal">Je valide</a>
                                <button class="btn btn-sm btn-secondary" data-bs-dismiss="modal">J'annule</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="30">Aucun collaborateur ou vous même avez enregistré de biens immobiliers pour l'instant.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
