{% set pv = 0 %}
{% set sl = 0 %}
{% set lb = 0 %}
{% set fig = 0 %}
{% set ma = 0 %}
{% set ga = 0 %}
{% for property in listproperties|filter(p => p.isPublishParven == 1) %}
    {% set pv = pv + 1 %}
{% endfor %}
{% for property in listproperties|filter(p => p.isPublishseloger == 1) %}
    {% set sl = sl + 1 %}
{% endfor %}
{% for property in listproperties|filter(p => p.isPublishleboncoin == 1) %}
    {% set lb = lb + 1 %}
{% endfor %}
{% for property in listproperties|filter(p => p.isPublishfigaro == 1) %}
    {% set fig = fig + 1 %}
{% endfor %}
{% for property in listproperties|filter(p => p.isPublishMeilleur == 1) %}
    {% set ma = ma + 1 %}
{% endfor %}
{% for property in listproperties|filter(p => p.isPublishgreenacres == 1) %}
    {% set ga = ga + 1 %}
{% endfor %}

<div class="mt-2">
    <p>
        <b>Support des diffusions :</b>
    </p>
    <p>  |
        <span class="badge bg-light text-dark">PV :</span> Paru Vendu <span class="badge rounded-pill bg-warning">{{ pv }}</span> |
        <span class="badge bg-light text-dark">SL :</span> Se loger, logic immo <span class="badge rounded-pill bg-warning">{{ sl }}</span> |
        <span class="badge bg-light text-dark">MA :</span> Meilleurs agents <span class="badge rounded-pill bg-warning">{{ ma }}</span> |
        <span class="badge bg-light text-dark">LB :</span> Le Bon Coin, A vendre et à louer <span class="badge rounded-pill bg-warning">{{ lb }}</span> |
        <span class="badge bg-light text-dark">FIG :</span> Le Figaro Immobilier <span class="badge rounded-pill bg-warning">{{ fig }}</span> |
        <span class="badge bg-light text-dark">GA :</span> Green ACRES <span class="badge rounded-pill bg-warning">{{ ga }}</span> |
    </p>
</div>
<table class="table">
    <thead>
    <tr>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <th><input type="checkbox" id="CheckAllProperties" name="CheckAllProperties"></th>
        <th>Collaborateur</th>
        {% else %}
        <th></th>
        {% endif %}
        <th>Ref</th>
        <th>Mandat</th>
        <th>Prix</th>
        <th>Titre annonce</th>
        <th>En ligne</th>
        <th>Publication</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% set user = app.user.id %}
    {% for property in listproperties %}

        <tr class="align-middle">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <td>
                <input type="checkbox" id="CheckProperty" name="CheckProperty" value="{{ property.id }}">
            </td>
            <td>
                {% if property.avatarName is not null %}
                <img class="rounded-circle" src="{{ asset('images/avatar/' ~ property.avatarName) }}" alt="{{ property.avatarName }}" style="height:50px;width:50px">
                {% else %}
                <img class="rounded-circle" src="{{ asset('images/jpeg/user.jpg') }}" alt="" style="height:50px;width:50px">
                {% endif %}
                {{ property.firstName }} {{ property.lastName }}
            </td>
            {% else %}
            <th>{{ property.id }}</th>
            {% endif %}
            <td>{{ property.ref }}</td>
            {% if property.dupMandat is not empty %}
            <td>{{ property.refMandat }}{{ property.dupMandat }}</td>
            {% else %}
            <td>{{ property.refMandat }}</td>
            {% endif %}
            <td>{{ property.priceFai }}€</td>
            <td>{{ property.name|u.truncate(60, ' ...') }}<br>{{ property.zipcode }} {{ property.city }}</td>
            <td>
                {% if property.isWebpublish == 1 %}<i class="fa-thin fa-globe text-success"></i>{% else %}<i class="fa-thin fa-globe text-danger"></i>{% endif %}
            </td>
            <td>
                {% if property.isPublishParven == 1 %}<span class="badge bg-light text-dark">PV</span>{% endif %}
                {% if property.isPublishseloger == 1 %}<span class="badge bg-light text-dark">SL</span>{% endif %}
                {% if property.isPublishMeilleur == 1 %}<span class="badge bg-light text-dark">MA</span>{% endif %}
                {% if property.isPublishleboncoin == 1 %}<span class="badge bg-light text-dark">LB</span>{% endif %}
                {% if property.isPublishfigaro == 1 %}<span class="badge bg-light text-dark">FIG</span>{% endif %}
                {% if property.isPublishgreenacres == 1 %}<span class="badge bg-light text-dark">GA</span>{% endif %}
            </td>
            <td>
                <div id="action_property" class="btn-group">
                    <button type="button" id="action_property" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul  class="dropdown-menu" aria-labelledby="action_property">
                        <li><a class="dropdown-item" href="{{ path('op_gestapp_property_show', {'id': property.id}) }}"><i class="fa-thin fa-file-pen"></i> Consulter</a></li>
                        <li><a class="dropdown-item" href="{{ path('op_admin_pdf_property', {'id': property.id}) }}"><i class="fa-thin fa-print"></i> Imprimer la fiche</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('op_gestapp_property_duplicate', {'id': property.id}) }}"><i class="fa-thin fa-file-pen"></i> Dupliquer</a></li>
                        {#
                        <li><a class="dropdown-item" href="{{ path('op_admin_pdf_dip', {'id': property.id}) }}"><i class="fa-thin fa-print"></i> Mandat DIP</a></li>
                        <li><a class="dropdown-item" href="{{ path('op_admin_pdf_MandatVente', {'id': property.id}) }}"><i class="fa-thin fa-print"></i> Mandat Vente</a></li>
                        #}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li><hr class="dropdown-divider"></li>
                            <a type="button" class="dropdown-item ModalDelProperty" data-bs-toggle="modal" data-bs-target="#Suppr2-{{ property.id }}" data-bs-whatever="{{ property.id }}"><i class="fa-duotone fa-trash-can"></i> Archiver</a>
                        {% endif %}
                    </ul>
                </div>
                {# Modal de suppression property #}
                <div class="modal fade" id="Suppr2-{{ property.id }}" tabindex="-1" aria-labelledby="Suppr2-{{ property.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-warning" id="exampleModalLabel">Archivage d'un bien</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="modal-text">Attention, Vous êtes sur le point d'archiver le bien suivant :</p>
                                <p class="text-center"><b>{{ property.name }}</b></p>
                                <p class="text-center">Sous mandat n°: {{ property.refMandat }}.</p>
                                <p class="text-center">Ce bien sera archivé sur une période de 30 jours.<br>Êtes-vous sûr de vouloir continuer ?</p>
                                <input type="hidden" id="recipient-name">
                            </div>
                            <div class="modal-footer">
                                <a href="{{ path('op_gestapp_property_archived', {'id':property.id}) }}" type="button" class="btn btn-sm btn-warning jsModalDelProperty" data-bs-dismiss="modal">Je valide</a>
                                <button class="btn btn-sm btn-secondary" data-bs-dismiss="modal">J'annule</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="30">Aucun collaborateur ou vous même avez enregistré de biens immobiliers pour l'instant.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>