<div class="row justify-content-end mb-1">
    <div class="col-2 d-flex justify-content-end" id="blockPagination">
    </div>
</div>
<div class="row">
    <div class="col-12">
        {% if expiredArchived is defined and expiredArchived > 0 %}
            {% if expiredArchived == 1 %}
                <p class="alert alert-success">Prenez note que {{ expiredArchived }} bien dont la date des 90 jours est dépassée, a été automatiquement supprimé.</p>
            {% else %}
                <p class="alert alert-success">Prenez note que {{ expiredArchived }} biens dont la date des 90 jours a expiré, ont été automatiquement supprimés.</p>
            {% endif %}
        {% endif %}
        <table class="table">
            <thead>
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th><input type="checkbox" id="CheckAllProperties" name="CheckAllProperties"></th>
                    <th></th>
                    <th>Collaborateur</th>
                {% else %}
                    <th></th>
                    <th></th>
                {% endif %}
                <th>Mandat</th>
                <th>Type de bien</th>
                <th>Titre annonce</th>
                <th>Piece</th>
                <th>chambre</th>
                <th>Adresse</th>
                <th>Modifié le</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% set user = app.user.id %}
            {% for property in properties %}
                <tr class="align-middle">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>
                        <input type="checkbox" id="CheckProperty" name="CheckProperty" value="{{ property.id }}">
                    </td>
                    <td>
                        {{ render(controller('App\\Controller\\Gestapp\\PhotoController::includeinlistproperty', {'idproperty': property.id})) }}
                    </td>
                    <td>
                        {% if property.avatarName is not null %}
                            <img class="rounded-circle" src="{{ asset('images/avatar/' ~ property.avatarName) }}" alt="{{ property.avatarName }}" style="height:50px;width:50px">
                        {% else %}
                            <img class="rounded-circle" src="{{ asset('images/jpeg/user.jpg') }}" alt="" style="height:50px;width:50px">
                        {% endif %}
                        {{ property.firstName }} {{ property.lastName }}
                    </td>
                {% else %}
                    <td>
                        <input type="checkbox" id="CheckProperty" name="CheckProperty" value="{{ property.id }}">
                    </td>
                    <td>
                        {{ render(controller('App\\Controller\\Gestapp\\PhotoController::includeinlistproperty', {'idproperty': property.id})) }}
                    </td>
                {% endif %}
                {% if property.isNomandat == 0 %}
                    {% if property.dupMandat is not empty %}
                        <td><b>{{ property.refMandat }}{{ property.dupMandat }}</b><br>{{ property.ref }}</td>
                    {% else %}
                        <td><b>{{ property.refMandat }}{{ property.dupMandat }}</b><br>{{ property.ref }}</td>
                    {% endif %}
                {% else %}
                    <td><span class="badge bg-secondary">Sans mandat</span></td>
                {% endif %}
                <td>
                    <p class="badge bg-primary mb-0"></p>
                </td>
                <td>{{ property.name|u.truncate(60, ' ...') }}</td>
                <td>{{ property.piece }}</td>
                <td>{{ property.room }}</td>
                {% if property.adress =="" %}
                <td>à complèter</td>
                {% else %}
                <td>{{ property.adress }}{% if property.complement is empty %}{% else %}<br>{{ property.complement }}{% endif %}<br>{{ property.zipcode }} {{ property.city }}</td>
                {% endif %}
                <td>{{ property.updatedAt ? property.updatedAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
                <td>
                    <div id="action_property" class="btn-group">
                        <button type="button" id="action_property" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Action
                        </button>
                        <ul  class="dropdown-menu" aria-labelledby="action_property">
                            <li><a class="dropdown-item" href="{{ path('op_gestapp_property_show', {'id': property.id}) }}"><i class="fa-thin fa-file-pen"></i> Consulter</a></li>
                            <li><a class="dropdown-item" href="{{ path('op_admin_pdf_property', {'id': property.id}) }}"><i class="fa-thin fa-print"></i> Imprimer la fiche</a></li>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li><hr class="dropdown-divider"></li>
                                <li><a href="{{ path('op_gestapp_property_disaclosed', {'id': property.id}) }}" class="dropdown-item modalDisClosed" data-bs-toggle="modal" data-bs-target="#modalDisClosed" data-bs-whatever="{{ property.id }}"><i class="fa-duotone fa-box-open"></i> Décloturer le dossier</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="30">Il n'y a pas de dossier cloturés présent.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>