{% extends 'admin.html.twig' %}

{% block title %}Edit Property{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){
            // récupération des id des panels
            const navInformations = document.getElementById("navInformations");
            const navCustomers = document.getElementById("navCustomers");
            const navEstimate = document.getElementById("navEstimate");
            const navOptions = document.getElementById("navOptions");
            const navGallery = document.getElementById("navGallery");
            const navPublication = document.getElementById("navPublication");


            // récupération des boutons de navigation entre panel
            const stepBack = document.getElementById("stepCustomers");
            const nextStepInformations = document.getElementById("stepInformations");
            const nextStepCustomers = document.getElementById("stepCustomers");
            const nextStepEstimate = document.getElementById("stepEstimate");
            const nextStepOptions = document.getElementById("stepOptions");
            const nextStepGallery = document.getElementById("stepGallery");
            const nextStepPublication = document.getElementById("stepPublication");

            // fixer les éléments opérationnel au chargement de la page
            const Informations = document.getElementById("Informations");
            const Customers = document.getElementById("Customers");
            const Estimate = document.getElementById("Estimate");
            const Options = document.getElementById("Options");
            const Gallery = document.getElementById("Gallery");
            const Publication = document.getElementById("Publication");

            // Panels
            const focus = document.getElementById('property_name');
            focus.focus()

            // -------------
            // STEP 0 : Mise en place des styles de démarrage
            // -------------
            // Désactivation des onglets d'accueil de la page d'édition
            navCustomers.className = "nav-link disabled";
            navCustomers.className = "nav-link disabled";
            navCustomers.className = "nav-link disabled";
            navCustomers.className = "nav-link disabled";
            navCustomers.className = "nav-link disabled";
            navCustomers.className = "nav-link disabled";
            // Masquage des boutons de navigation sous le formulaire
            nextStepCustomers.className += " d-none";
            nextStepEstimate.className += " d-none";
            nextStepOptions.className += " d-none";
            nextStepGallery.className += " d-none";
            nextStepPublication.className += " d-none";


            // -------------
            // STEP 1 : enregistrement des informations initiales du bien sur clic du boutons next
            // -------------
            stepInformations.onclick = function (event) {
                event.preventDefault()
                // action sur
                nextStepCustomers.className = "btn btn-sm btn-outline-primary";
                nextStepInformations.className += " d-none";
                navInformations.className = "nav-link disabled";
                navCustomers.className = "nav-link active";
                Informations.className = "tab-pane";
                Customers.className += " active";
                // Elements de formulaire à transmettre
                let url = this.href;
                let name = document.getElementById('property_name').value
                let ref = document.getElementById('property_ref').value
                let adress = document.getElementById('property_adress').value
                let complement = document.getElementById('property_complement').value
                let zipcode = document.getElementById('property_zipcode').value
                let city = document.getElementById('property_city').value
                let annonce = document.getElementById('property_annonce').value
                let piece = parseInt(document.getElementById('property_piece').value)
                let room = parseInt(document.getElementById('property_room').value)
                let isHome = document.getElementById('property_isHome').checked
                let isApartment = document.getElementById('property_isApartment').checked
                let isLand = document.getElementById('property_isLand').checked
                let isOther = document.getElementById('property_isOther').checked
                let otherDescription = document.getElementById('property_otherDescription').value
                let image = document.getElementById('property_imageFile_file')
                let data = { name: name, ref: ref, adress: adress, complement:complement, zipcode:zipcode, city: city, annonce: annonce,
                    piece: piece, room: room, isHome: isHome, isApartment: isApartment, isLand: isLand, isOther: isOther, otherDescription: otherDescription
                }
                // envoie des données
                axios
                    .post(url, data)
                    .then(function(response){
                        // préparation du toaster
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            }

            // -------------
            // évenement sur le boutons stepCustomers
            // -------------
            stepCustomers.onclick = function (event) {
                event.preventDefault()
                // visibilité des éléments
                stepCustomers.className += " d-none";
                stepEstimate.className = "btn btn-sm btn-outline-primary";
                navCustomers.className = "nav-link disabled";
                navEstimate.className = "nav-link active";
                Customers.className = "tab-pane";
                Estimate.className += " active";
            }

            // -------------
            // évenement sur le boutons stepEstimate
            // -------------
            stepEstimate.onclick = function (event) {
                event.preventDefault()
                // visibilité des éléments
                stepEstimate.className += " d-none";
                stepOptions.className = "btn btn-sm btn-outline-primary";
                navEstimate.className = "nav-link disabled";
                navOptions.className = "nav-link active";
                Estimate.className = "tab-pane";
                Options.className += " active";
                // Elements de formulaire à transmettre
                const url = this.href;
                const surfaceLand = parseInt(document.getElementById('property_surfaceLand').value)
                const surfaceHome = parseInt(document.getElementById('property_surfaceHome').value)
                const notaryEstimate = parseInt(document.getElementById('property_notaryEstimate').value)
                const applicantEstimate = parseInt(document.getElementById('property_applicantEstimate').value)
                const dpeAt = document.getElementById('property_dpeAt').value
                const diagDpe = parseInt(document.getElementById('property_diagDpe').value)
                const diagGpe = parseInt(document.getElementById('property_diagGpe').value)
                const cadasterZone = document.getElementById('property_cadasterZone').value
                const cadasterNum = parseInt(document.getElementById('property_cadasterNum').value)
                const cadastersurface = parseInt(document.getElementById('property_cadasterSurface').value)
                const cadasterCariez = parseInt(document.getElementById('property_cadasterCariez').value)
                let data = {
                    surfaceLand:surfaceLand, surfaceHome:surfaceHome, notaryEstimate:notaryEstimate, applicantEstimate:applicantEstimate, dpeAt:dpeAt,
                    diagDpe: diagDpe, diagGpe:diagGpe, cadasterZone:cadasterZone, cadasterNum:cadasterNum, cadastersurface:cadastersurface, cadasterCariez:cadasterCariez
                }
                // envoie des données
                axios
                    .post(url, data)
                    .then(function(response){
                        console.log('chiffres ajoutées')

                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            }

            // -------------
            // évenement sur le boutons stepOptions
            // -------------

            stepOptions.onclick = function (event) {
                event.preventDefault()
                // visibilité des éléments
                stepOptions.className += " d-none";
                stepGallery.className = "btn btn-sm btn-outline-primary";
                navOptions.className = "nav-link disabled";
                navGallery.className = "nav-link active";
                Options.className = "tab-pane";
                Gallery.className += " active";
                // Elements de formulaire à transmettre
                const url = this.href;

                const banner = document.getElementById('complement_banner').value
                const denomination = parseInt(document.getElementById('complement_denomination').value)

                const terrace = parseInt(document.getElementById('complement_terrace').value)
                const washroom = parseInt(document.getElementById('complement_washroom').value)
                const bathroom = parseInt(document.getElementById('complement_bathroom').value)
                const wc = parseInt(document.getElementById('complement_wc').value)
                const balcony = parseInt(document.getElementById('complement_balcony').value)
                const sanitation = parseInt(document.getElementById('complement_sanitation').value)
                const jointness = parseInt(document.getElementById('complement_jointness').value)

                const houseState = document.getElementById('complement_houseState').value
                const energy = document.getElementById('complement_energy').value
                const propertyTax = document.getElementById('complement_propertyTax').value
                const orientation = document.getElementById('complement_orientation').value
                const disponibility = document.getElementById('complement_disponibility').value
                const location = document.getElementById('complement_location').value
                const disponibilityAt = document.getElementById('complement_disponibilityAt').value
                const constructionAt = document.getElementById('complement_constructionAt').value

                const isFurnished = document.getElementById('complement_isFurnished').checked
                const houseType = document.getElementById('complement_houseType').value
                const apartmentType = document.getElementById('complement_apartmentType').value
                const landType = document.getElementById('complement_landType').value
                const tradeType = document.getElementById('complement_tradeType').value
                const houseEquipment = document.getElementById('complement_houseEquipment').value
                const level = parseInt(document.getElementById('complement_level').value)
                const buildingEquipment = document.getElementById('complement_buildingEquipment').value
                const otherOption = document.getElementById('complement_otherOption').value
                let data = {
                    banner:banner,denomination:denomination,
                    terrace:terrace,washroom:washroom,bathroom:bathroom,wc:wc,balcony:balcony,sanitation:sanitation,jointness:jointness,
                    houseState:houseState,energy:energy,propertyTax:propertyTax,orientation:orientation,disponibility:disponibility,location:location,disponibilityAt:disponibilityAt,constructionAt:constructionAt,
                    isFurnished:isFurnished,houseType:houseType,apartmentType:apartmentType,landType:landType,tradeType:tradeType,houseEquipment:houseEquipment,level:level,buildingEquipment:buildingEquipment,otherOption:otherOption
                }
                console.log(data)
                axios
                    .post(url, data)
                    .then(function(response){
                        console.log('Options ajoutées')
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            }

            // évenement sur le boutons stepGallery
            stepGallery.onclick = function () {
                stepGallery.className += " d-none";
                stepPublication.className = "btn btn-sm btn-outline-primary";
                navGallery.className = "nav-link disabled";
                navPublication.className = "nav-link active";
                Gallery.className = "tab-pane";
                Publication.className += " active";
            }

            // évenement sur le boutons stepPublication
            stepPublication.onclick = function (event) {
                event.preventDefault()
                // visibilité des éléments
                stepPublication.className = "btn btn-sm btn-outline-primary";
                navGallery.className = "nav-link disabled";
                navPublication.className = "nav-link active";
                Gallery.className = "tab-pane";
                Publication.className += " active";
                // Elements de formulaire à transmettre
                const url = this.href;
                const isWebpublish = document.getElementById('publication_isWebpublish').checked
                const isSocialNetwork = document.getElementById('publication_isSocialNetwork').checked
                const sector = document.getElementById('publication_sector').value
                let data =
                    {
                        isWebpublish:isWebpublish,isSocialNetwork:isSocialNetwork,sector:sector
                    }
                axios
                    .post(url, data)
                    .then(function(response){
                        document.location.href= "{{ path('op_gestapp_property_index') }}";
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            }

            // Modal d'ajout d'un vendeur à la fiche
            const modalAddCustomer = document.getElementById('addCustomer')
            modalAddCustomer.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget
                // extraction de la variable
                var recipient = button.getAttribute('data-bs-whatever')
                // mise à jour du lien de soumission du formulaire.
                var modalContent = modalAddCustomer.querySelector('.modal-footer')
                var modalSubmit = modalAddCustomer.querySelector('.modal-footer a')
                modalSubmit.href = '/gestapp/customer/addcustomer/' + recipient
            })

            // -------------
            // Evènement sur le bouton btnAddCustomers - Modal d'ajout d'un vendeur
            // -------------
            const btnAddCustomer = document.getElementById('btnAddCustomer')
            btnAddCustomer.onclick = function(event){
                event.preventDefault()
                const firstName = document.getElementById('customer_firstName').value
                const lastName = document.getElementById('customer_lastName').value
                const adress = document.getElementById('customer_adress').value
                const complement = document.getElementById('customer_complement').value
                const zipcode = document.getElementById('customer_zipcode').value
                const city = document.getElementById('customer_city').value
                const url = this.href
                // construction des data à transmettre
                let data = {
                    firstName:firstName, lastName:lastName, adress:adress, complement:complement, zipcode:zipcode, city:city
                }
                console.log(data)
                // envoie des données
                axios
                    .post(url, data)
                    .then(function(response){
                        console.log('vendeur ajouté')
                        const liste = document.getElementById('listeCustormers').innerHTML = response.data.liste;
                        modalAddCustomer.addEventListener('hide.bs.modal')
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            }

            // ----------
            // Formulaire de recherche
            // ----------
            function searchCustomersSubmitform(){
                document.getElementById("myForm").submit();
                console.log('Ok')
            }
            //new TomSelect("#property_refEmployed",{
            //    plugins: ['remove_button'],
            //    create: true,
            //    onItemAdd:function(){
            //        this.setTextboxValue('');
            //        this.refreshOptions();
            //    },
            //    render:{
            //        option:function(data,escape){
            //            return '<div class="d-flex"><span>' + escape(data.data) + '</span><span class="ms-auto text-muted">' + escape(data.value) + '</span></div>';
            //        },
            //        item:function(data,escape){
            //            return '<div>' + escape(data.data) + '</div>';
            //        }
            //    }
            //});

            new TomSelect("#complement_banner",{
                plugins: ['remove_button'],
                create: true,
                onItemAdd:function(){
                    this.setTextboxValue('');
                    this.refreshOptions();
                },
                render:{
                    option:function(data,escape){
                        return '<div class="d-flex"><span>' + escape(data.data) + '</span><span class="ms-auto text-muted">' + escape(data.value) + '</span></div>';
                    },
                    item:function(data,escape){
                        return '<div>' + escape(data.data) + '</div>';
                    }
                }
            });

            new TomSelect("#complement_orientation",{
                plugins: ['remove_button'],
                create: true,
                onItemAdd:function(){
                    this.setTextboxValue('');
                    this.refreshOptions();
                },
                render:{
                    option:function(data,escape){
                        return '<div class="d-flex"><span>' + escape(data.data) + '</span><span class="ms-auto text-muted">' + escape(data.value) + '</span></div>';
                    },
                    item:function(data,escape){
                        return '<div>' + escape(data.data) + '</div>';
                    }
                }
            });

            new TomSelect("#publication_sector",{
                plugins: ['remove_button'],
                create: true,
                onItemAdd:function(){
                    this.setTextboxValue('');
                    this.refreshOptions();
                },
                render:{
                    option:function(data,escape){
                        return '<div class="d-flex"><span>' + escape(data.data) + '</span><span class="ms-auto text-muted">' + escape(data.value) + '</span></div>';
                    },
                    item:function(data,escape){
                        return '<div>' + escape(data.data) + '</div>';
                    }
                }
            });

            // mise en place du datapicker flatpickr sur les champs de date
            flatpickr(".flatpickr", {
                "locale": "fr",
                enableTime: true,
                altFormat: "j F Y",
                dateFormat: "d/m/Y",
            });
            // mise en place du datapicker flatpickr sur les champs de date
            flatpickr(".flatpickrtime", {
                "locale": "fr",
                enableTime: true,
                noCalendar: true,
                dateFormat: "H:i",
                time_24hr: true
            });

            ClassicEditor
                .create(document.querySelector('#property_annonce'), {
                    height: 50
                })
                .catch(error => {
                    console.error(error);
                });


        }
    </script>
{%  endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="{{ path('op_admin_dashboard_index') }}"><i class="fa-duotone fa-house-blank"></i> Tableau de Bord</a></li>
        <li class="breadcrumb-item active">Transaction</li>
        <li class="breadcrumb-item active"><a href="{{ path('op_gestapp_property_index') }}">Biens immobilier</a></li>
    </ol>
{% endblock %}

{% block content %}

    {% if app.request.attributes.get('_route') == 'op_gestapp_property_edit'%}
        <h1>Edition du bien Paps Immo</h1>
    {% else %}
        <h1>Créer un nouveau bien Paps Immo</h1>
    {% endif %}


    {# read and display several types of flash messages #}
    {% for label, messages in app.flashes(['success', 'warning']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if app.request.attributes.get('_route') == 'op_gestapp_property_edit'%}
        {{ include('gestapp/property/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {% else %}
        {{ include('gestapp/property/_formfirst.html.twig', {'button_label': 'Finaliser la création de ce nouveau bien'}) }}
    {% endif %}

{% endblock %}

{% block footer %}
    {{ parent() }}
    <section id="modals">
        <!-- Ajout d'un vendeur sur un bien -->
        <div class="modal fade" id="addCustomer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter un client à cette fiche</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ render(controller('App\\Controller\\Gestapp\\CustomerController::addCustomer')) }}
                        <input id="idProperty" type="hidden" value="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <a id="btnAddCustomer" type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Ajouter</a>
                    </div>
                </div>
            </div>
        </div>
        <div aria-live="polite" aria-atomic="true" class="bg-dark position-relative">
            <div class="toast-container position-absolute bottom-100 end-0 p-3">
                <div id="toaster" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <img src="..." class="rounded me-2" alt="...">
                        <strong class="me-auto">Paps Immo 40</strong>
                        <small class="text-muted">A l'instant</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        Hello, world! This is a toast message.
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}