{% extends 'admin.html.twig' %}

{% block title %}Property index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){

            // Ouverture de la modale d'ajout d'un bien / propriété
            // avec intégration du Numéro de mandat modifiable par le créateur
            // ----------------------------------------------------------------
            // I. Ouverture de la modal
            const modalAddNewProperty = document.getElementById('modalAddNewProperty')
            const NewProperty = new bootstrap.Modal(modalAddNewProperty, { keyboard: true })
            const addNewProperty = document.getElementById('addNewProperty')
            addNewProperty.addEventListener('click', function(event){
                event.preventDefault()
                NewProperty.show()
                axios
                    .get('/gestapp/property/getlastmandat')
                    .then(function(response){
                        document.getElementById('refMandat').value = response.data.refmandat
                    })
            })
            // II. Envoi vers le controleur
            document.getElementById('submitAddnewproperty').addEventListener('click', function(event){
                let submitAddnewproperty = document.getElementById('submitAddnewproperty')
                let refMandat = document.getElementById('refMandat').value
                let urlAddNewProperty = this.href
                submitAddnewproperty.href = '/gestapp/property/add/' + refMandat
            })


            function DelPropertyIncreating(event)
            {
                event.preventDefault();
                let url = this.href
                axios
                    .post(url)
                    .then(function(response) {
                        // rafraichissement du tableau
                        const liste = document.getElementById('listeIncreating').innerHTML = response.data.liste;

                        // Mise en place de l'évenement pour la suppression d'un bien en cours de création
                        document.querySelectorAll('a.jsModalDelPropertyIncreating').forEach(function(link){
                            link.addEventListener('click', DelPropertyIncreating)
                        })

                        // Mise en place de l'évenement pour la suppression d'un bien
                        document.querySelectorAll('a.jsModalDelProperty').forEach(function(link){
                            link.addEventListener('click', DelProperty)
                        })

                        // Mise en place de l'évenement pour l'ouverture de la modale de suppression d'un bien
                        document.querySelectorAll('a.ModalDelProperty').forEach(function(link){
                            link.addEventListener('click', ModalDelProperty)
                        })
                        // préparation du toaster
                        var option = {
                            animation: true,
                            autohide: true,
                            delay: 3000,
                        };
                        // initialisation du toaster
                        var toastHTMLElement = document.getElementById("toaster");
                        var message = response.data.message;
                        var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                        toastBody.textContent = message;
                        var toastElement = new bootstrap.Toast(toastHTMLElement, {animation: true,autohide: true,delay: 3000})
                        toastElement.show();
                    })

            }

            function ModalDelProperty(event){
                const Suppr2 = document.getElementById('Suppr2')
                Suppr2.addEventListener('show.bs.modal', function (event) {
                    let b = event.relatedTarget
                    // Extract info from data-bs-* attributes
                    let recipientb = b.getAttribute('data-bs-whatever')
                    console.log(recipientb)
                })
            }

            function DelProperty(event)
            {
                event.preventDefault();
                const url = this.href;
                axios
                    .post(url)
                    .then(function(response) {
                        // rafraichissement du tableau
                        const liste = document.getElementById('list').innerHTML = response.data.liste;

                        // Mise en place de l'évenement pour la suppression d'un bien en cours de création
                        document.querySelectorAll('a.jsModalDelPropertyIncreating').forEach(function(link){
                            link.addEventListener('click', DelPropertyIncreating)
                        })

                        // Mise en place de l'évenement pour la suppression d'un bien
                        document.querySelectorAll('a.jsModalDelProperty').forEach(function(link){
                            link.addEventListener('click', DelProperty)
                        })

                        // Mise en place de l'évenement pour l'ouverture de la modale de suppression d'un bien
                        document.querySelectorAll('a.ModalDelProperty').forEach(function(link){
                            link.addEventListener('click', ModalDelProperty)
                        })

                        // initialisation du toaster
                        var toastHTMLElement = document.getElementById("toaster")
                        var message = response.data.message
                        var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                        toastBody.innerHTML = message
                        var toastElement = new bootstrap.Toast(toastHTMLElement, {animation: true, autohide: true, delay: 3000,})
                        toastElement.show()
                    })
            }

            // Code d'ouverture de la modale de suppression d'une ligne en mode création d'un bien
            var Suppr = document.getElementById('Suppr')
            Suppr.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var a = event.relatedTarget
                // Extract info from data-bs-* attributes
                var recipient = a.getAttribute('data-bs-whatever')
                // If necessary, you could initiate an AJAX request here
                // and then do the updating in a callback.
                //
                // Update the modal's content.
                var modalTitle = Suppr.querySelector('.modal-title')
                var modalText = Suppr.querySelector('.modal-text')
                var modalBodyInput = Suppr.querySelector('.modal-body input')
                let modalFooterA = Suppr.querySelector('.modal-footer a')

                modalTitle.textContent = "Suppression d'un bien en cours de création"
                modalBodyInput.value = recipient
                modalText.innerHTML = "Vous êtes sur le point de supprimer le bien en cours de création.<br><b>Etes-vous sur de vouloir continuer ?</b>"
                modalFooterA.href = '/gestapp/property/increatingdel/' + recipient
            })

            // Mise en place de l'évenement pour la suppression d'un bien en cours de création
            document.querySelectorAll('a.jsModalDelPropertyIncreating').forEach(function(link){
                link.addEventListener('click', DelPropertyIncreating)
            })

            // Mise en place de l'évenement pour la suppression d'un bien
            document.querySelectorAll('a.jsModalDelProperty').forEach(function(link){
                link.addEventListener('click', DelProperty)
            })

            // Mise en place de l'évenement pour l'ouverture de la modale de suppression d'un bien
            document.querySelectorAll('a.ModalDelProperty').forEach(function(link){
                link.addEventListener('click', ModalDelProperty)
            })


            // PARTIE : Archivages de plusieurs biens
            // -----------------------
            // sélectionner toutes les checkBoxs
            document.getElementById('CheckAllProperties').onclick = function() {
                let checkboxes = document.getElementsByName('CheckProperty');
                for (let checkbox of checkboxes) {
                    checkbox.checked = this.checked
                }
            }
            document.getElementById('SupprRows').onclick = function(event){
                event.preventDefault()
                let arrayCheckbox = []
                let checkboxes = document.getElementsByName('CheckProperty');
                for (let checkbox of checkboxes) {
                    if(checkbox.checked){
                        arrayCheckbox.push(checkbox.value)
                    }
                }
            }

            // PARTIE : Archivages - liste des biens en position archives
            // -----------------------
            //
            document.getElementById('btnMListArchived').onclick = function(event){
                let list = document.getElementById('list')
                let listarchived = document.getElementById("listArchived")
                axios
                    .get('/gestapp/property/listarchived')
                    .then(function(response){
                        document.getElementById("listArchived").innerHTML = response.data.listarchived
                    })
                listarchived.className = listarchived.className !== 'show' ? 'show' : 'hide';
                if(listarchived.className === 'show') {
                    listarchived.style.display = 'block'
                    list.style.display = 'none'
                }
                if(listarchived.className === 'hide') {
                    listarchived.style.display = 'none';
                    list.style.display = 'block';
                }

                axios
                    .get('/gestapp/property/listarchived')
                    .then(function(response){
                        document.getElementById("listArchived").innerHTML = response.data.listarchived
                    })
            }
        }
    </script>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="{{ path('op_admin_dashboard_index') }}"><i class="fa-duotone fa-house-blank"></i> Tableau de Bord</a></li>
        <li class="breadcrumb-item active">Transaction</li>
        <li class="breadcrumb-item active"><a href="{{ path('op_gestapp_property_index') }}">Biens immobilier</a></li>
    </ol>
{% endblock %}

{% block contentTitle %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Liste des biens</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="listeIncreating"class="row mb-2">
    {{ render(controller('App\\Controller\\Gestapp\\PropertyController::inCreating')) }}
</div>
<div class="row">

    <div class="navigation d-flex justify-content-between">
        <div>
            <button id="addNewProperty" class="btn btn-sm btn-outline-dark">Ajouter un nouveau bien</button>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <button class="btn btn-sm btn-outline-dark" id="btnMListArchived" href="">Afficher les biens archivés</button>
            {% endif %}
            <a class="btn btn-sm btn-outline-warning" id="SupprRows" href="">Archivages des biens sélectionnés</a>
        </div>

        {{ knp_pagination_render(properties, 'include/admin/pagination.html.twig') }}
    </div>

    <div id="list" class="col-sm-12">
        {% include('gestapp/property/_list.html.twig') %}
    </div>
    <div id="listArchived" class="col-sm-12" style="display: none;">
    </div>

    <div class="navigation d-flex justify-content-between">

        {{ knp_pagination_render(properties, 'include/admin/pagination.html.twig') }}
    </div>

</div>

{% endblock %}

{% block modal %}
    <section id="modals">

        {# Modal de suppression #}
        <div class="modal fade" id="Suppr" tabindex="-1" aria-labelledby="Suppr" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-warning" id="exampleModalLabel">New message</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="modal-text">Vous êtes sur le point de supprimer l'évènementd.</p>
                        <input type="hidden" id="recipient-name">
                    </div>
                    <div class="modal-footer">
                        <a href="#" type="button" class="btn btn-warning jsModalDelPropertyIncreating" data-bs-dismiss="modal">Supprimer</a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="Suppr2" tabindex="-1" aria-labelledby="Suppr2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-warning" id="exampleModalLabel">New message</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="modal-text">Vous êtes sur le point de supprimer l'évènement.</p>
                        <input type="hidden" id="recipient-name">
                    </div>
                    <div class="modal-footer">
                        <a href="#" type="button" class="btn btn-warning jsModalDelProperty" data-bs-dismiss="modal">Supprimer</a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
        {# Modal d'ajout d'une nouvelle proprieté #}
        <div class="modal fade" id="modalAddNewProperty" tabindex="-1" aria-labelledby="Suppr" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-warning" id="exampleModalLabel">Création d'un nouveau bien à la vente</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="modal-text">
                            Attention :
                            <br>Le numéro de mandat généré ci-dessous est fournis notre système.
                            <br>Si ce dernier correspond au numéro reçu par SMS, ne changez rien. Dans le cas contraire, changez-le.
                        </p>
                        <input type="text" id="refMandat" name="refMandat" class="form-control form-control-sm">
                    </div>
                    <div class="modal-footer">
                        {% set refmandat = 0 %}
                        <a id="submitAddnewproperty" href="{{ path('op_gestapp_property_add', {'refMandat': refmandat}) }}" class="btn btn-warning">Supprimer</a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>

        {# annonce toaster #}
        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <div class="toast-container position-absolute top-50 end-0 p-3">
                <div id="toaster" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Bootstrap</strong>
                        <small>à l'instant</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        Hello, world! This is a toast message.
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}